Repository Renumics/spotlight: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    # local hooks
    - repo: local
      hooks:
          - id: pylint
            name: pylint
            entry: poetry run pylint
            language: system
            types: [python]
            require_serial: true
          - id: mypy
            name: mypy
            entry: poetry run mypy
            language: system
            types: [python]
            files: ^(renumics|scripts)/
            require_serial: true

    # "official" pre-commit hooks
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
          - id: trailing-whitespace
            exclude: \.secret\.
          - id: end-of-file-fixer
            exclude: \.secret\.
          - id: check-added-large-files
          - id: check-merge-conflict
          - id: check-executables-have-shebangs
          - id: check-yaml
            exclude: (\.secret\.)|(^\.github/.*\.yml)
          - id: check-json
          - id: check-toml
          - id: check-symlinks

    # third-pary hooks
    - repo: https://github.com/psf/black
      rev: 23.1.0
      hooks:
          - id: black
          - id: black-jupyter
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v2.7.1
      hooks:
          - id: prettier
            exclude: (\.secret\.)|(pnpm-lock.yaml)
    - repo: https://github.com/pre-commit/mirrors-eslint
      rev: v8.34.0
      hooks:
          - id: eslint
            files: frontend
    - repo: https://github.com/python-jsonschema/check-jsonschema
      rev: 0.21.0
      hooks:
          - id: check-github-actions
          - id: check-github-workflows
    - repo: https://github.com/jumanjihouse/pre-commit-hooks
      rev: 3.0.0
      hooks:
          - id: shellcheck
          - id: shfmt

Remove debug message
  src/components/GltfViewer/GltfViewer.tsx
  src/components/Workspace/Workspace.tsx
Due: none

add nbstripout to pre-commit
  .pre-commit-config.yaml
  playbook/rookie/huggingface_embedding.ipynb
  playbook/rookie/towhee_embedding.ipynb
  playbook/veteran/cv_issue_detection.ipynb
  playbook/veteran/drift_kcore.ipynb
  playbook/veteran/duplicates_annoy.ipynb
  playbook/veteran/label_errors_cleanlab.ipynb
  playbook/veteran/leakage_annoy.ipynb
  playbook/veteran/outlier_cleanlab.ipynb
Due: none

:technologist: Make cli.py runnable for easier debugging
  renumics/spotlight/cli.py
Due: pylint, mypy

preserve whitespaces in text views
  src/components/ui/Html.tsx
  src/lenses/TextLens.tsx
Due: none

Add preconfigured setting, no dot allow to load datasets or layout in this mode
  renumics/spotlight/settings.py
  renumics/spotlight_plugins/core/api/layout.py
  renumics/spotlight_plugins/core/api/table.py
Due: pylint, mypy

Firbid filebrowsing in backend in preconfigured mode
  renumics/spotlight_plugins/core/api/filebrowser.py
Due: pylint, mypy

wrap the styledhtml container inside a scrollable div
  src/components/ui/Html.tsx
Due: none

:children_crossing: Copy categorical text insted of value
  src/icons/index.ts
  src/lib.ts
  src/widgets/DataGrid/Cell/CellContextMenu.tsx
Due: none

use cleanlab's OutOfDistribution for outlier detection
  poetry.lock
  pyproject.toml
  renumics/spotlight/analysis/outliers.py
Due: pylint, mypy

show outliers in problem widget
  Makefile
  renumics/spotlight/analysis/__init__.py
  renumics/spotlight/analysis/outliers.py
  renumics/spotlight/backend/apis/problems.py
  renumics/spotlight/backend/app.py
  src/api/index.ts
  src/api/table.ts
  src/client/.openapi-generator/FILES
  src/client/apis/ProblemsApi.ts
  src/client/apis/index.ts
  src/client/models/DatasetProblem.ts
  src/client/models/Type.ts
  src/client/models/index.ts
  src/stores/dataset/dataset.ts
  src/types.ts
  src/widgets/ProblemsWidget.tsx
  src/widgets/WidgetFactory.tsx
Due: pylint, mypy

:construction: Implement first version of resize datagrid
  src/widgets/DataGrid/Cell/HeaderCell.tsx
  src/widgets/DataGrid/DataGrid.tsx
  src/widgets/DataGrid/HeaderGrid.tsx
  src/widgets/DataGrid/TableGrid.tsx
  src/widgets/DataGrid/context/columnContext.tsx
Due: none

Rename weather in tests to CSV
  tests/test_backend/test_app_csv_df.py
Due: pylint

Rename new issue workflow
  .github/workflows/new-issue.yml
Due: none

Do not set GENERATE_SOURCEMAP to true dor build in CI
  .github/actions/setup-poetry/action.yml
  .github/workflows/ci.yml
Due: none

Lint src instead of frontend on commit/push
  .pre-commit-config.yaml
Due: none

:chart_with_upwards_trend: Add space id to spotlight event
  renumics/spotlight/reporting.py
Due: pylint, mypy

:bug: Add missing dependencies
  src/widgets/DataGrid/DataGrid.tsx
Due: none

:rotating_light: Remove unused import
  src/widgets/DataGrid/DataGrid.tsx
Due: none

:children_crossing: Prevent sorting toggle to be clicked and use button instead of div for interaction
  src/widgets/DataGrid/Cell/HeaderCell.tsx
  src/widgets/DataGrid/DataGrid.tsx
  src/widgets/DataGrid/HeaderGrid.tsx
Due: none

:zap: Persist columnWidths on mouseup
  src/widgets/DataGrid/DataGrid.tsx
Due: none

create store for lenses and widgets
  src/lenses/registry.ts
  src/stores/components.ts
  src/types/base.ts
  src/types/dataset.ts
  src/types/filter.ts
  src/types/index.ts
  src/types/layout.ts
  src/types/lenses.ts
  src/types/problem.ts
  src/widgets/Inspector/store.tsx
  src/widgets/Inspector/types.tsx
Due: none

set browser_id cookie on /
  renumics/spotlight/backend/app.py
Due: pylint, mypy

use browser_id for per-user config
  renumics/spotlight/backend/config.py
  renumics/spotlight_plugins/core/api/config.py
Due: pylint, mypy

use browser_id for per-user layouts
  renumics/spotlight_plugins/core/api/layout.py
Due: pylint, mypy

Add `no-browser` option to python API and CLI, no not open filebrowser in UI if set
  renumics/spotlight/backend/app.py
  renumics/spotlight/backend/exceptions.py
  renumics/spotlight/backend/templates/index.html
  renumics/spotlight/backend/types.py
  renumics/spotlight/cli.py
  renumics/spotlight/settings.py
  renumics/spotlight/viewer.py
  renumics/spotlight_plugins/core/api/filebrowser.py
  renumics/spotlight_plugins/core/api/layout.py
  renumics/spotlight_plugins/core/api/table.py
  src/application.ts
  src/components/AppBar.tsx
  types/globals.d.ts
Due: pylint, mypy

Rename filebrowser option, handle "auto"
  renumics/spotlight/cli.py
  renumics/spotlight/viewer.py
Due: pylint, mypy

Fix `InvalidLayout` usage
  renumics/spotlight/layout/__init__.py
Due: pylint, mypy

manage registered lenses in component store
  src/lenses/ArrayLens.tsx
  src/lenses/AudioLens.tsx
  src/lenses/HtmlLens.tsx
  src/lenses/ImageLens/index.tsx
  src/lenses/LensFactory.tsx
  src/lenses/MarkdownLens.tsx
  src/lenses/MeshLens/index.tsx
  src/lenses/SafeHtmlLens.tsx
  src/lenses/ScalarLens.tsx
  src/lenses/SequenceLens/index.tsx
  src/lenses/SpectrogramLens/index.tsx
  src/lenses/TextLens.tsx
  src/lenses/VideoLens.tsx
  src/lenses/index.ts
  src/lenses/registry.ts
  src/lib.ts
  src/stores/components.ts
  src/stores/pluginStore.ts
  src/widgets/Inspector/ViewConfigurator/ViewConfigurator.tsx
  src/widgets/Inspector/rowHeightContext.tsx
  src/widgets/Inspector/store.tsx
Due: none

remove old lens registry
  src/lenses/registry.ts
Due: none

manage registered widgets in components store
  src/components/Workspace/AddWidgetDropdown.tsx
  src/components/Workspace/layout.ts
  src/stores/components.ts
  src/stores/pluginStore.ts
  src/widgets/WidgetFactory.tsx
  src/widgets/index.ts
Due: none

cleanup unused imports
  src/widgets/WidgetFactory.tsx
Due: none

fix default lens height
  src/widgets/Inspector/rowHeightContext.tsx
Due: none

support legacy widget keys
  src/stores/components.ts
Due: none

remove unused import from plugin store
  src/stores/pluginStore.ts
Due: none

use `SameSite=None; Secure` for browser id
  renumics/spotlight/backend/app.py
Due: pylint, mypy

:ambulance: UseEffect for loading urls in order to be able to deferr loading on scrolling
  src/lenses/LensFactory.tsx
  src/widgets/Inspector/DetailCell.tsx
Due: none

:children_crossing: Reduce timeout
  src/lenses/LensFactory.tsx
Due: none

:rotating_light: Remove unused import
  src/lenses/LensFactory.tsx
Due: none

Support instantiation from bytes in `Audio`, `Image` and `Video` dtypes, add tests
  renumics/spotlight/dataset/__init__.py
  renumics/spotlight/dtypes/__init__.py
  renumics/spotlight/io/audio.py
  renumics/spotlight/typing.py
  tests/test_dataset/test_data_types.py
Due: pylint, mypy

:bug: Defer actual fetching not generation of DataUrl
  src/lenses/LensFactory.tsx
  src/lenses/useCellValue.ts
Due: none
