Repository Renumics/spotlight: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, dynamic-versioning

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    # local hooks
    - repo: local
      hooks:
          - id: pylint
            name: pylint
            entry: poetry run pylint
            language: system
            types: [python]
            require_serial: true
          - id: mypy
            name: mypy
            entry: poetry run mypy
            language: system
            types: [python]
            files: ^(renumics|scripts)/
            require_serial: true
          - id: dynamic-versioning
            name: dynamic-versioning
            language: system
            entry: poetry run scripts/check_dynamic_versioning.py
            files: pyproject.toml

    # "official" pre-commit hooks
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
          - id: trailing-whitespace
            exclude: \.secret\.
          - id: end-of-file-fixer
            exclude: \.secret\.
          - id: check-added-large-files
          - id: check-merge-conflict
          - id: check-executables-have-shebangs
          - id: check-yaml
            exclude: (\.secret\.)|(^\.github/.*\.yml)
          - id: check-json
          - id: check-toml
          - id: check-symlinks

    # third-pary hooks
    - repo: https://github.com/psf/black
      rev: 23.1.0
      hooks:
          - id: black
          - id: black-jupyter
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v2.7.1
      hooks:
          - id: prettier
            exclude: (\.secret\.)|(pnpm-lock.yaml)
    - repo: https://github.com/pre-commit/mirrors-eslint
      rev: v8.34.0
      hooks:
          - id: eslint
            files: src
    - repo: https://github.com/python-jsonschema/check-jsonschema
      rev: 0.21.0
      hooks:
          - id: check-github-actions
          - id: check-github-workflows
    - repo: https://github.com/jumanjihouse/pre-commit-hooks
      rev: 3.0.0
      hooks:
          - id: shellcheck
          - id: shfmt
    - repo: https://github.com/kynan/nbstripout
      rev: 0.6.1
      hooks:
          - id: nbstripout

Revert CI debug
  .github/workflows/ci.yml
Due: none

feat: handle non-numeric sequences in huggingface datasource
  renumics/spotlight/data_store.py
  renumics/spotlight_plugins/core/huggingface_datasource.py
Due: pylint, mypy

feat: add simple handling for datasets.Translation
  renumics/spotlight_plugins/core/huggingface_datasource.py
Due: pylint, mypy

feat: represent unknown file dtypes as strings
  renumics/spotlight_plugins/core/huggingface_datasource.py
Due: pylint, mypy

chore: update pylint
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

chore: relock poetry
  poetry.lock
Due: none

chore: remove devpi from dependencies
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Enhance array and embedding dtypes, better guess HF dtypes from features
  .github/workflows/ci.yml
  renumics/spotlight/data_store.py
  renumics/spotlight/dtypes/__init__.py
  renumics/spotlight_plugins/core/huggingface_datasource.py
  scripts/create_hf_dataset.py
Due: pylint, mypy

Support HF sequences, arrays and lists, interpret them as sequences, arrays if possible
  renumics/spotlight_plugins/core/huggingface_datasource.py
Due: pylint, mypy

Test more HF dtypes
  scripts/create_hf_dataset.py
Due: pylint, mypy

feat: use react json view for array lens
  package.json
  pnpm-lock.yaml
  src/lenses/ArrayLens.tsx
Due: none

feat: use default colorscheme for rjv
  src/lenses/ArrayLens.tsx
Due: none

feat: show names of files opened with pandas
  renumics/spotlight_plugins/core/pandas_data_source.py
Due: pylint, mypy

Test HF dataset in integration tests
  renumics/spotlight_plugins/core/huggingface_datasource.py
  scripts/create_hf_dataset.py
  tests/integration/huggingface/__init__.py
  tests/integration/huggingface/conftest.py
  tests/integration/huggingface/dataset.py
  tests/integration/huggingface/test_hf.py
Due: pylint, mypy

Fix types
  renumics/spotlight/data_store.py
  renumics/spotlight_plugins/core/huggingface_datasource.py
Due: pylint, mypy

Fix types
  renumics/spotlight_plugins/core/huggingface_datasource.py
Due: pylint, mypy

Infer unknown HF features as string
  renumics/spotlight_plugins/core/huggingface_datasource.py
Due: pylint, mypy

Fallback to string dtype for unsupported Hugging Face features
  renumics/spotlight_plugins/core/huggingface_datasource.py
Due: pylint, mypy

feat: fix legend rendering error for `null` category
  src/components/shared/Plot/Legend/CategoricalLegend.tsx
Due: none

updated use cases
  README.md
Due: none

dont show strings and ints by default in hist
  src/widgets/Histogram/Histogram.tsx
Due: none

sort h5 column names by order
  renumics/spotlight_plugins/core/hdf5_data_source.py
Due: pylint, mypy

dont sort cols alphanumerically after fetch
  src/lib.ts
  src/stores/dataset/dataset.ts
Due: none

remove isInternal from frontend code
  src/stores/dataset/colorTransferFunctionFactory.tsx
  src/stores/dataset/columnFactory.ts
  src/stores/dataset/dataset.ts
  src/types/dataset.ts
  src/widgets/Histogram/Histogram.tsx
  src/widgets/ScatterplotView/ScatterplotView.tsx
  src/widgets/SimilarityMap/MenuBar.tsx
  src/widgets/SimilarityMap/SimilarityMap.tsx
Due: none

add hidden to column metadata
  renumics/spotlight/data_source/data_source.py
  renumics/spotlight_plugins/core/api/table.py
  renumics/spotlight_plugins/core/hdf5_data_source.py
Due: pylint, mypy

remove isInternal from histogram
  src/widgets/Histogram/Histogram.tsx
Due: none

use hidden attribute
  src/widgets/DataGrid/DataGrid.tsx
  src/widgets/Inspector/dataContext.tsx
  src/widgets/Inspector/store.tsx
Due: none

support hidden in fetch_table
  src/client/models/Column.ts
  src/client/models/DataIssue.ts
  src/stores/dataset/columnFactory.ts
  src/types/dataset.ts
Due: none

always show columns in inspector and table
  src/widgets/DataGrid/DataGrid.tsx
  src/widgets/Inspector/store.tsx
Due: none

remove legacy dataContext from Inspector
  src/widgets/Inspector/DetailCell.tsx
  src/widgets/Inspector/DetailsGrid.tsx
  src/widgets/Inspector/Inspector.tsx
  src/widgets/Inspector/dataContext.tsx
Due: none

uppgrade vulnerable dependencies
  poetry.lock
Due: none

ignore issue in imagecodecs
  Makefile
Due: none

Fix unused imports
  src/widgets/Inspector/DetailCell.tsx
Due: none

readme update huggingface example
  README.md
Due: none

Delete all layouts for dataset from database if a new layout is given in `show`
  renumics/spotlight/app.py
  renumics/spotlight/backend/config.py
  renumics/spotlight_plugins/core/api/layout.py
Due: pylint, mypy

fix: use correct column names for colorBy and scaleBy
  src/widgets/SimilarityMap/MenuBar.tsx
  src/widgets/SimilarityMap/SimilarityMap.tsx
Due: none

add menu bar to audioviewer
  src/components/shared/AudioViewer/MenuBar.tsx
  src/components/shared/AudioViewer/index.tsx
Due: none

add interfaces for missing types
  src/components/shared/AudioViewer/index.tsx
Due: none

make use of interface
  src/components/shared/AudioViewer/index.tsx
Due: none

make loop & autoplay trigger reload
  src/components/shared/AudioViewer/index.tsx
Due: none
