Repository Renumics/spotlight: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, dynamic-versioning

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    # local hooks
    - repo: local
      hooks:
          - id: pylint
            name: pylint
            entry: poetry run pylint
            language: system
            types: [python]
            require_serial: true
          - id: mypy
            name: mypy
            entry: poetry run mypy
            language: system
            types: [python]
            files: ^(renumics|scripts)/
            require_serial: true
          - id: dynamic-versioning
            name: dynamic-versioning
            language: system
            entry: poetry run scripts/check_dynamic_versioning.py
            files: pyproject.toml

    # "official" pre-commit hooks
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
          - id: trailing-whitespace
            exclude: \.secret\.
          - id: end-of-file-fixer
            exclude: \.secret\.
          - id: check-added-large-files
          - id: check-merge-conflict
          - id: check-executables-have-shebangs
          - id: check-yaml
            exclude: (\.secret\.)|(^\.github/.*\.yml)
          - id: check-json
          - id: check-toml
          - id: check-symlinks

    # third-pary hooks
    - repo: https://github.com/psf/black
      rev: 23.1.0
      hooks:
          - id: black
          - id: black-jupyter
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v2.7.1
      hooks:
          - id: prettier
            exclude: (\.secret\.)|(pnpm-lock.yaml)
    - repo: https://github.com/pre-commit/mirrors-eslint
      rev: v8.34.0
      hooks:
          - id: eslint
            files: src
    - repo: https://github.com/python-jsonschema/check-jsonschema
      rev: 0.21.0
      hooks:
          - id: check-github-actions
          - id: check-github-workflows
    - repo: https://github.com/jumanjihouse/pre-commit-hooks
      rev: 3.0.0
      hooks:
          - id: shellcheck
          - id: shfmt
    - repo: https://github.com/kynan/nbstripout
      rev: 0.6.1
      hooks:
          - id: nbstripout

fix: add special handling for null in convertValue
  src/stores/dataset/dataset.ts
Due: none

feat: handle undefined in convertValue
  src/stores/dataset/dataset.ts
Due: none

fix: refetch lazy string columns after dataset change
  src/lenses/useCellValue.ts
Due: none

remove unused imports
  src/lenses/useCellValue.ts
Due: none

refactor: change dtype of timeseries in frontend to non-binary
  src/datatypes.ts
  src/lenses/SequenceLens/index.tsx
  src/lenses/useCellValue.ts
  src/stores/dataset/columnFactory.ts
Due: none

chore: fix linter warnings
  src/lenses/useCellValue.ts
Due: none

refactor: change value type of sequence lens to Vec2
  src/lenses/SequenceLens/index.tsx
Due: none

style: remove superfluous quotes
  Makefile
Due: none

feat: remove signatures from toc entries
  docs/templates/text.mako
Due: none

fix: render module variables as h3 in docs
  docs/templates/text.mako
Due: none

Relock env
  poetry.lock
Due: none

Do not test HF for array...D dtypes due to HF bug
  tests/integration/huggingface/dataset.py
Due: pylint

Skip ORC test on Windows
  tests/integration/formats/test_formats.py
Due: pylint

show class methods in toc
  docs/templates/text.mako
Due: none

Unpin `pydantic`
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Update pydantic
  renumics/spotlight/layout/lenses.py
  renumics/spotlight/layout/widgets.py
  renumics/spotlight/settings.py
Due: pylint, mypy

Migrate to pydantic v2
  renumics/spotlight/layout/__init__.py
  renumics/spotlight/layout/nodes.py
  renumics/spotlight/layout/widgets.py
Due: pylint, mypy

feat: relative urls in index.html
  renumics/spotlight/backend/templates/index.html
Due: none

feat: export draggable badges in lib.ts
  package.json
  pnpm-lock.yaml
  src/lib.ts
Due: none

feat: export dnd types in lib.ts
  src/lib.ts
Due: none

chore: explictly type autosizer size
  src/widgets/DataGrid/DataGrid.tsx
  src/widgets/Inspector/Inspector.tsx
Due: none

Replace `.dict` with `.model_dump` for pydantic models
  renumics/spotlight/app.py
  renumics/spotlight/backend/websockets.py
  renumics/spotlight/layout/nodes.py
  renumics/spotlight_plugins/core/api/layout.py
  renumics/spotlight_plugins/core/api/table.py
Due: pylint, mypy

Bring `check-wheel-contents` back
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Update API client generator, generate client
  Makefile
  openapitools.json
  package.json
  pnpm-lock.yaml
  scripts/generate_api_spec.py
  src/client/.openapi-generator/VERSION
  src/client/apis/ConfigApi.ts
  src/client/apis/DefaultApi.ts
  src/client/apis/FilebrowserApi.ts
  src/client/apis/IssuesApi.ts
  src/client/apis/LayoutApi.ts
  src/client/apis/PluginsApi.ts
  src/client/apis/TableApi.ts
  src/client/index.ts
  src/client/models/Column.ts
  src/client/models/DataIssue.ts
  src/client/models/Folder.ts
  src/client/models/Plugin.ts
  src/client/models/SetConfigRequest.ts
  src/client/runtime.ts
Due: pylint, mypy

feat: use relative urls when loading plugins
  renumics/spotlight/backend/apis/plugins.py
Due: pylint, mypy

Lock env
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

chore: explicit type imports from autosizer
  src/widgets/DataGrid/DataGrid.tsx
  src/widgets/Inspector/Inspector.tsx
Due: none

Lock pydantic version to 2.x
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Fix frontend types
  src/components/FileBrowser/FileBrowser.tsx
  src/services/config.ts
Due: none

refactor: create lenses from complete spec in factory
  src/lenses/ArrayLens.tsx
  src/lenses/AudioLens.tsx
  src/lenses/HtmlLens.tsx
  src/lenses/ImageLens/index.tsx
  src/lenses/LensFactory.tsx
  src/lenses/MarkdownLens.tsx
  src/lenses/MeshLens/index.tsx
  src/lenses/RougeScoreLens.tsx
  src/lenses/SafeHtmlLens.tsx
  src/lenses/ScalarLens.tsx
  src/lenses/SequenceLens/index.tsx
  src/lenses/SpectrogramLens/index.tsx
  src/lenses/TextLens.tsx
  src/lenses/VideoLens.tsx
  src/stores/components.ts
  src/types/lenses.ts
  src/widgets/Inspector/DetailCell.tsx
  src/widgets/Inspector/DetailsGrid.tsx
  src/widgets/Inspector/Header/Header.tsx
  src/widgets/Inspector/Header/Row.tsx
  src/widgets/Inspector/Inspector.tsx
  src/widgets/Inspector/ViewConfigurator/ViewConfigurator.tsx
  src/widgets/Inspector/ViewGrid.tsx
  src/widgets/Inspector/rowHeightContext.tsx
  src/widgets/Inspector/store.tsx
  src/widgets/Inspector/types.tsx
Due: none

Remove unused type
  src/services/config.ts
Due: none

Fix inspector scrolling
  src/widgets/Inspector/Inspector.tsx
Due: none

refactor: pass settings to lensfactory
  src/lenses/LensFactory.tsx
  src/lenses/ScalarLens.tsx
  src/types/lenses.ts
  src/widgets/Inspector/DetailCell.tsx
  src/widgets/Inspector/Inspector.tsx
  src/widgets/Inspector/store.tsx
Due: none

Fix relative route for plugins
  renumics/spotlight/backend/apis/plugins.py
Due: pylint, mypy

Update package.json
  package.json
Due: none

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Update metrics.ts
  src/widgets/MetricsWidget/metrics.ts
Due: none

Update types.ts
  src/widgets/MetricsWidget/types.ts
Due: none
