Repository Renumics/spotlight: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, dynamic-versioning

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  require_serial: true

dynamic-versioning:
  name: dynamic-versioning
  language: system
  entry: poetry run scripts/check_dynamic_versioning.py

Update jinja2
  poetry.lock
Due: none

Inject poetry-plugin-export into poetry
  .github/actions/setup-poetry/action.yml
Due: none

Update nanoid
  pnpm-lock.yaml
Due: none

Update Python dependencies
  poetry.lock
Due: none

Update Python dependencies
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Relock Python environment
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Update JS dependencies
  package.json
  pnpm-lock.yaml
Due: none

Ignore Python vulnerabilities only relevant for Python 3.8
  Makefile
Due: none

Use newer versios of some packages for Python>=3.9
  Makefile
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Fix the most Python vulnerabilities
  Makefile
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Update `brace-expansion`
  pnpm-lock.yaml
Due: none

Restrict permissions for CI workflow
  .github/workflows/ci.yml
Due: none

Pin commits of non-standard GitHub actions
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Due: none

Update pnpm dependencies
  pnpm-lock.yaml
Due: none

Revert Dependabot vite update
  package.json
  pnpm-lock.yaml
Due: none

Allow Python 3.13
  .github/workflows/ci.yml
  README-PyPI.md
  README.md
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

change format of process.versions define
  vite.config.ts
Due: none

Fix: ignore vulnerabilities (fixed for 3.9, non-fixable for 3.8)
  Makefile
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

Do not upload GUI screenshot to Azure from dependabot PRs
  .github/workflows/ci.yml
Due: none

Do not post GUI screenshot as comment to dependabot PRs
  .github/workflows/pr.yml
Due: none

Update `validator` JS dependency
  pnpm-lock.yaml
Due: none

Pin asdf tool versions
  .gitignore
  .tool-versions
Due: none

Do not support Python 3.8 anymore
  .github/actions/setup-poetry/action.yml
  .github/workflows/ci.yml
  README-PyPI.md
  README.md
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Update built-in GitHub action versions
  .github/workflows/ci.yml
Due: none

Fix Python types
  renumics/spotlight/io/audio.py
Due: pylint, mypy

Fix types and docstring docs
  poetry.lock
  renumics/spotlight/media/audio.py
Due: pylint, mypy

Debug: test on Win with Python 3.13 in PR
  .github/workflows/ci.yml
Due: none

Use Python 3.12.10 (no later versions for Windows)
  .tool-versions
Due: none

Test integration on Windows for Python 3.13 on release
  .github/workflows/ci.yml
Due: none

Support Python 3.14
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Debug: integration test on the whole matrix
  .github/workflows/ci.yml
Due: none

Add Python 3.14 to readmies
  .github/workflows/ci.yml
  README-PyPI.md
  README.md
Due: none

Unpin some dependencies, update dependencies
  .tool-versions
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Adjust and rename custom actions
  .github/actions/setup-node-and-pnpm/action.yml
  .github/actions/setup-pnpm/action.yml
  .github/actions/setup-python-and-poetry/action.yml
  .github/workflows/ci.yml
Due: none

Install `datasets<4` for integration tests in CI
  .github/workflows/ci.yml
Due: none

Use new syntax for comment PR action
  .github/workflows/pr.yml
Due: none

Allow to override Python versions from .tool-versions in custom action
  .github/actions/setup-python-and-poetry/action.yml
Due: none

Path conditions:
  pylint: any of: \.py$
  mypy: any of: ^(renumics|scripts)/ and \.py$
  dynamic-versioning: any of: pyproject.toml
