Repository Renumics/spotlight: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    # local hooks
    - repo: local
      hooks:
          - id: pylint
            name: pylint
            entry: poetry run pylint
            language: system
            types: [python]
            require_serial: true
          - id: mypy
            name: mypy
            entry: poetry run mypy
            language: system
            types: [python]
            files: ^(renumics|scripts)/
            require_serial: true

    # "official" pre-commit hooks
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
          - id: trailing-whitespace
            exclude: \.secret\.
          - id: end-of-file-fixer
            exclude: \.secret\.
          - id: check-added-large-files
          - id: check-merge-conflict
          - id: check-executables-have-shebangs
          - id: check-yaml
            exclude: (\.secret\.)|(^\.github/.*\.yml)
          - id: check-json
          - id: check-toml
          - id: check-symlinks

    # third-pary hooks
    - repo: https://github.com/psf/black
      rev: 23.1.0
      hooks:
          - id: black
          - id: black-jupyter
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v2.7.1
      hooks:
          - id: prettier
            exclude: (\.secret\.)|(pnpm-lock.yaml)
    - repo: https://github.com/pre-commit/mirrors-eslint
      rev: v8.34.0
      hooks:
          - id: eslint
            files: frontend
    - repo: https://github.com/python-jsonschema/check-jsonschema
      rev: 0.21.0
      hooks:
          - id: check-github-actions
          - id: check-github-workflows
    - repo: https://github.com/jumanjihouse/pre-commit-hooks
      rev: 3.0.0
      hooks:
          - id: shellcheck
          - id: shfmt

:bug: Fix parameter type
  src/lenses/useCellValue.ts
Due: none

Support HuggingFace-style audio, image and video in `DataFrame`s in `spotlight.show`
  poetry.lock
  pyproject.toml
  renumics/spotlight/dtypes/base.py
  renumics/spotlight/io/pandas.py
  renumics/spotlight_plugins/core/pandas_data_source.py
Due: pylint, mypy

Support bytes values in audio, image and video values in `Dataset.from_pandas`
  renumics/spotlight/dataset/__init__.py
  renumics/spotlight/dataset/typing.py
Due: pylint, mypy

Fix python environment
  poetry.lock
Due: none

Support instantiation from bytes in `Audio`, `Image` and `Video` dtypes, add tests
  poetry.lock
  pyproject.toml
  renumics/spotlight/dataset/__init__.py
  renumics/spotlight/dataset/typing.py
  renumics/spotlight/dtypes/__init__.py
  renumics/spotlight/dtypes/base.py
  renumics/spotlight/io/audio.py
  renumics/spotlight/io/pandas.py
  renumics/spotlight/typing.py
  renumics/spotlight_plugins/core/pandas_data_source.py
  tests/test_dataset/test_data_types.py
Due: pylint, mypy

Disable lint for dynamic module imports
  renumics/spotlight/dataset/descriptors/data_alignment.py
Due: pylint, mypy

Cap Selenium version because of chenged constructor signature in UI tests
  poetry.lock
  pyproject.toml
Due: none

:fire: Remove logging
  src/lenses/useCellValue.ts
Due: none

Remove issue workflow since supported directly in the board
  .github/workflows/new-issue.yml
Due: none

Add function for removing external data cache to Spotlight top level
  renumics/spotlight/__init__.py
  renumics/spotlight/backend/cache.py
Due: pylint, mypy

Test external data cache and `clear_data_cache`
  tests/test_backend/conftest.py
  tests/test_backend/test_cache.py
Due: pylint

Fix import of Spotlight version in `spotlight.Dataset`
  renumics/spotlight/dataset/__init__.py
Due: pylint, mypy

Move `cache` module to top level
  renumics/spotlight/__init__.py
  renumics/spotlight/backend/data_source.py
  renumics/spotlight/cache.py
Due: pylint, mypy

Fix import in cache test
  tests/test_backend/test_cache.py
Due: pylint

dont send data for embeddings
  renumics/spotlight/backend/data_source.py
  renumics/spotlight_plugins/core/api/table.py
  renumics/spotlight_plugins/core/hdf5_data_source.py
  renumics/spotlight_plugins/core/pandas_data_source.py
  src/lenses/ArrayLens.tsx
  src/lenses/useCellValue.ts
  src/stores/dataset/columnFactory.ts
Due: pylint, mypy

remove trivial type annotation
  src/lenses/useCellValue.ts
Due: none

fix references
  renumics/spotlight_plugins/core/api/table.py
Due: pylint, mypy

remove debug output
  src/lenses/ArrayLens.tsx
Due: none

Replace `wsproto` with `websockets`
  poetry.lock
  pyproject.toml
  renumics/spotlight/backend/server.py
  renumics/spotlight/backend/websockets.py
Due: pylint, mypy

tweak text styles
  src/widgets/IssuesWidget.tsx
Due: none

tweak outlier threshold
  renumics/spotlight/analysis/outliers.py
Due: pylint, mypy

relock poetry
  poetry.lock
Due: none

Close viewer before cleanup
  tests/test_backend/conftest.py
Due: pylint

Debug Windows test
  .github/workflows/ci.yml
Due: none

use old code for converting values from embedding column
  renumics/spotlight/backend/tasks/reduction.py
  renumics/spotlight_plugins/core/pandas_data_source.py
Due: pylint, mypy

only add widgets once to widgets list in store
  src/stores/components.ts
Due: none

set version in envrc
  .envrc
Due: none

use custom exception when column is not embeddable
  renumics/spotlight/backend/tasks/reduction.py
Due: pylint, mypy

Rich exceptions traceback when verbose is on
  renumics/spotlight/backend/app.py
Due: pylint, mypy

Fix unclosed files when `imageio` fails to load
  renumics/spotlight/dtypes/__init__.py
  renumics/spotlight/io/file.py
Due: pylint, mypy

Keep `dtype` when openv CSV in UI
  renumics/spotlight/backend/app.py
  renumics/spotlight/backend/types.py
  renumics/spotlight/cli.py
  renumics/spotlight/viewer.py
  renumics/spotlight_plugins/core/api/table.py
  tests/test_dataset/test_dataset.py
Due: pylint, mypy

Do not test CI on Windows on dev branches
  .github/workflows/ci.yml
Due: none

Fix copy-paste typo
  renumics/spotlight/backend/app.py
Due: pylint, mypy

dont fade non-highlighted points when hovering plot
  src/components/shared/Plot/Plot.tsx
  src/components/shared/Plot/PlotContext.tsx
  src/components/shared/Plot/Points.tsx
  src/components/shared/Plot/Tooltip.tsx
Due: none

Fix data alignment for SimMap
  renumics/spotlight/backend/tasks/reduction.py
Due: pylint, mypy

One-hot encode categoricals in SimMap
  renumics/spotlight/backend/tasks/reduction.py
Due: pylint, mypy

Satisfy linter
  src/components/shared/Plot/Points.tsx
Due: none

remove unused import
  src/components/shared/Plot/Points.tsx
Due: none

Store Spotlight version in CI in job outputs
  .github/actions/setup-poetry/action.yml
  .github/workflows/ci.yml
Due: none

Remove prints
  renumics/spotlight/backend/tasks/reduction.py
Due: pylint, mypy
