Repository Renumics/spotlight: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    # local hooks
    - repo: local
      hooks:
          - id: pylint
            name: pylint
            entry: poetry run pylint
            language: system
            types: [python]
            require_serial: true
          - id: mypy
            name: mypy
            entry: poetry run mypy
            language: system
            types: [python]
            files: ^(renumics|scripts)/
            require_serial: true

    # "official" pre-commit hooks
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
          - id: trailing-whitespace
            exclude: \.secret\.
          - id: end-of-file-fixer
            exclude: \.secret\.
          - id: check-added-large-files
          - id: check-merge-conflict
          - id: check-executables-have-shebangs
          - id: check-yaml
            exclude: (\.secret\.)|(^\.github/.*\.yml)
          - id: check-json
          - id: check-toml
          - id: check-symlinks

    # third-pary hooks
    - repo: https://github.com/psf/black
      rev: 23.1.0
      hooks:
          - id: black
          - id: black-jupyter
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v2.7.1
      hooks:
          - id: prettier
            exclude: (\.secret\.)|(pnpm-lock.yaml)
    - repo: https://github.com/pre-commit/mirrors-eslint
      rev: v8.34.0
      hooks:
          - id: eslint
            files: frontend
    - repo: https://github.com/python-jsonschema/check-jsonschema
      rev: 0.21.0
      hooks:
          - id: check-github-actions
          - id: check-github-workflows
    - repo: https://github.com/jumanjihouse/pre-commit-hooks
      rev: 3.0.0
      hooks:
          - id: shellcheck
          - id: shfmt

Delete customer-reference-issue.md
  .github/ISSUE_TEMPLATE/customer-reference-issue.md
Due: none

update and enable poetry-dynamic-versioning
  pyproject.toml
Due: none

remove unused spec.json
  spec.json
Due: none

playbook initial commit
  .gitignore
  playbook/rookie/decision_boundary_detection.ipynb
  playbook/rookie/decision_boundary_layout.json
  playbook/rookie/embedding_layout.json
  playbook/rookie/huggingface_embedding.ipynb
  playbook/rookie/towhee_embedding.ipynb
  playbook/veteran/cleanvision-layout.json
  playbook/veteran/cv_issue_detection.ipynb
  playbook/veteran/cv_issues.json
  playbook/veteran/detect_leakage.json
  playbook/veteran/drift_kcore.ipynb
  playbook/veteran/drift_kcore.json
  playbook/veteran/duplicates_annoy.ipynb
  playbook/veteran/duplicates_annoy.json
  playbook/veteran/label_errors_cleanlab.ipynb
  playbook/veteran/label_errors_cleanlab.json
  playbook/veteran/layout-drift-kcore.json
  playbook/veteran/leakage_annoy.ipynb
  playbook/veteran/leakage_annoy.json
  playbook/veteran/outlier_cleanlab.ipynb
  playbook/veteran/outlier_cleanlab.json
Due: none

remove dependency on pyright-python
  poetry.lock
  pyproject.toml
Due: none

simplify reduction.py
  renumics/spotlight/backend/tasks/reduction.py
Due: pylint, mypy

removed metadata and output from decision boundary play
  playbook/rookie/decision_boundary_detection.ipynb
Due: none

remove metadata from notebooks
  playbook/rookie/decision_boundary_detection.ipynb
  playbook/rookie/huggingface_embedding.ipynb
  playbook/rookie/towhee_embedding.ipynb
  playbook/veteran/cv_issue_detection.ipynb
  playbook/veteran/drift_kcore.ipynb
  playbook/veteran/duplicates_annoy.ipynb
  playbook/veteran/label_errors_cleanlab.ipynb
  playbook/veteran/leakage_annoy.ipynb
  playbook/veteran/outlier_cleanlab.ipynb
Due: none

Minor cleanup (#43)
  poetry.lock
  pyproject.toml
  renumics/spotlight/backend/tasks/reduction.py
  spec.json
Due: pylint, mypy

update metadata
  playbook/rookie/decision_boundary_detection.ipynb
  playbook/rookie/huggingface_embedding.ipynb
  playbook/rookie/towhee_embedding.ipynb
  playbook/veteran/cv_issue_detection.ipynb
  playbook/veteran/drift_kcore.ipynb
  playbook/veteran/duplicates_annoy.ipynb
  playbook/veteran/label_errors_cleanlab.ipynb
  playbook/veteran/leakage_annoy.ipynb
  playbook/veteran/outlier_cleanlab.ipynb
Due: none

make pro tooltips more descriptive
  frontend/src/components/ui/NeedsUpgradeButton.tsx
  frontend/src/widgets/DataGrid/MenuBar/AddColumnButton.tsx
Due: none

added colab layouts
  README.md
  playbook/rookie/decision_boundary_detection.ipynb
  playbook/rookie/decision_boundary_layout_colab.json
  playbook/rookie/embedding_layout_colab.json
  playbook/rookie/huggingface_embedding.ipynb
  playbook/rookie/towhee_embedding.ipynb
  playbook/veteran/cleanvision-layout.json
  playbook/veteran/cv_issue_detection.ipynb
  playbook/veteran/cv_issues_cleanlab.json
  playbook/veteran/drift_kcore.ipynb
  playbook/veteran/drift_kcore_colab.json
  playbook/veteran/duplicates_annoy.ipynb
  playbook/veteran/duplicates_annoy_colab.json
  playbook/veteran/label_errors_cleanlab.ipynb
  playbook/veteran/label_errors_cleanlab_colab.json
  playbook/veteran/leakage_annoy.ipynb
  playbook/veteran/leakage_annoy_colab.json
  playbook/veteran/outlier_cleanlab.ipynb
  playbook/veteran/outlier_cleanlab_colab.json
Due: none

add simple array lense
  frontend/src/lenses/ArrayView.tsx
  frontend/src/lenses/registry.ts
Due: none

rename lens types (View -> Lens)
  frontend/src/lenses/AudioView.tsx
  frontend/src/lenses/ImageView/ImageView.tsx
  frontend/src/lenses/MeshView/MeshView.tsx
  frontend/src/lenses/ScalarView.tsx
  frontend/src/lenses/SequenceView/SequenceView.tsx
  frontend/src/lenses/SpectrogramView/SpectrogramView.tsx
  frontend/src/lenses/VideoView.tsx
  frontend/src/lenses/index.ts
  frontend/src/lenses/registry.ts
  frontend/src/lenses/types.ts
  frontend/src/lib.ts
Due: none

use new types
  frontend/src/lenses/ArrayView.tsx
Due: none

rename lens types (View -> Lens) (#48)
  frontend/src/lenses/ArrayView.tsx
  frontend/src/lenses/AudioView.tsx
  frontend/src/lenses/ImageView/ImageView.tsx
  frontend/src/lenses/MeshView/MeshView.tsx
  frontend/src/lenses/ScalarView.tsx
  frontend/src/lenses/SequenceView/SequenceView.tsx
  frontend/src/lenses/SpectrogramView/SpectrogramView.tsx
  frontend/src/lenses/VideoView.tsx
  frontend/src/lenses/index.ts
  frontend/src/lenses/registry.ts
  frontend/src/lenses/types.ts
  frontend/src/lib.ts
Due: none

add all new playbook deps into poetry group
  poetry.lock
  pyproject.toml
Due: none

show None for null in LensFactory
  frontend/src/lenses/ArrayLens.tsx
  frontend/src/lenses/AudioLens.tsx
  frontend/src/lenses/ImageLens/MenuBar.tsx
  frontend/src/lenses/ImageLens/index.tsx
  frontend/src/lenses/ImageView/index.ts
  frontend/src/lenses/LensContext.tsx
  frontend/src/lenses/LensFactory.tsx
  frontend/src/lenses/MeshLens/MenuBar.tsx
  frontend/src/lenses/MeshLens/index.tsx
  frontend/src/lenses/MeshView/index.ts
  frontend/src/lenses/None.tsx
  frontend/src/lenses/ScalarLens.tsx
  frontend/src/lenses/SequenceLens/MenuBar.tsx
  frontend/src/lenses/SequenceLens/index.tsx
  frontend/src/lenses/SequenceView/index.ts
  frontend/src/lenses/SpectrogramLens/MenuBar.tsx
  frontend/src/lenses/SpectrogramLens/Spectrogram.tsx
  frontend/src/lenses/SpectrogramLens/SpectrogramWorker.js
  frontend/src/lenses/SpectrogramLens/index.tsx
  frontend/src/lenses/SpectrogramView/index.ts
  frontend/src/lenses/VideoLens.tsx
  frontend/src/lenses/index.ts
  frontend/src/lenses/registry.ts
  frontend/src/lenses/useSetting.ts
  frontend/src/widgets/Inspector/DetailCell.tsx
  frontend/src/widgets/Inspector/types.tsx
Due: none

show None for null in LensFactory (#49)
  frontend/src/lenses/ArrayLens.tsx
  frontend/src/lenses/AudioLens.tsx
  frontend/src/lenses/ImageLens/MenuBar.tsx
  frontend/src/lenses/ImageLens/index.tsx
  frontend/src/lenses/ImageView/index.ts
  frontend/src/lenses/LensContext.tsx
  frontend/src/lenses/LensFactory.tsx
  frontend/src/lenses/MeshLens/MenuBar.tsx
  frontend/src/lenses/MeshLens/index.tsx
  frontend/src/lenses/MeshView/index.ts
  frontend/src/lenses/None.tsx
  frontend/src/lenses/ScalarLens.tsx
  frontend/src/lenses/SequenceLens/MenuBar.tsx
  frontend/src/lenses/SequenceLens/index.tsx
  frontend/src/lenses/SequenceView/index.ts
  frontend/src/lenses/SpectrogramLens/MenuBar.tsx
  frontend/src/lenses/SpectrogramLens/Spectrogram.tsx
  frontend/src/lenses/SpectrogramLens/SpectrogramWorker.js
  frontend/src/lenses/SpectrogramLens/index.tsx
  frontend/src/lenses/SpectrogramView/index.ts
  frontend/src/lenses/VideoLens.tsx
  frontend/src/lenses/index.ts
  frontend/src/lenses/registry.ts
  frontend/src/lenses/useSetting.ts
  frontend/src/widgets/Inspector/DetailCell.tsx
  frontend/src/widgets/Inspector/types.tsx
Due: none

Do not install playbook deps for dev
  Makefile
Due: none

set actually existing file as default in make dev
  Makefile
Due: none

fix vite closing early when running devmode from script
  renumics/spotlight/develop/vite.py
  renumics/spotlight/viewer.py
Due: pylint, mypy

show failure to load directly in lense
  frontend/src/lenses/LensFactory.tsx
Due: none

Locally disable `pandas.SettingWithCopyWarning` warning
  renumics/spotlight/io/pandas.py
Due: pylint, mypy

allow undefined views for inspector
  renumics/spotlight/layout/widgets.py
Due: pylint, mypy

automatically fill inspector with views if not preconfigured
  frontend/src/widgets/Inspector/store.tsx
Due: none

Fix unused import
  frontend/src/lenses/LensFactory.tsx
Due: none

disable logs from spotlight module by default
  renumics/spotlight/__init__.py
Due: pylint, mypy

remove conditional logging in dev
  renumics/spotlight/reporting.py
Due: pylint, mypy

set fixed uvicorn log_level=critical
  renumics/spotlight/cli.py
  renumics/spotlight/viewer.py
Due: pylint, mypy

add private attributes for port and host
  renumics/spotlight/viewer.py
Due: pylint, mypy

lazy init server in viewer.show
  renumics/spotlight/viewer.py
Due: pylint, mypy

temporarily add windows test on dev branch in CI
  .github/workflows/ci.yml
Due: none

Use `df.compare` to compare DataFrames
  tests/test_dataset/test_dataset.py
Due: pylint

Apply layout in `spotlight.show` if given
  frontend/src/components/Workspace/Workspace.tsx
  frontend/src/services/data.ts
  frontend/src/stores/layout.ts
  renumics/spotlight/backend/websockets.py
  renumics/spotlight/viewer.py
Due: pylint, mypy

temporarily enable non-dev logging
  renumics/spotlight/__init__.py
Due: pylint, mypy

debug diff between dfs
  tests/test_dataset/test_dataset.py
Due: pylint

Use random int32 numbers instead of int64 in generated datasets
  scripts/generate_multimodal_test_data.py
Due: pylint, mypy
