Repository Renumics/spotlight: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, dynamic-versioning

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  require_serial: true

dynamic-versioning:
  name: dynamic-versioning
  language: system
  entry: poetry run scripts/check_dynamic_versioning.py

Move env vars export to nix
  .envrc
  flake.nix
Due: none

Remove ray from dev dependencies
  pyproject.toml
  uv.lock
Due: dynamic-versioning

Bring back ray package
  pyproject.toml
  uv.lock
Due: dynamic-versioning

Add JDK to nix; generate API client
  flake.nix
  src/client/apis/FilebrowserApi.ts
  src/client/apis/LayoutApi.ts
  src/client/models/SetLayoutRequest.ts
  src/client/models/ValidationError.ts
  src/client/runtime.ts
Due: none

Restrict newer versions; update some packages
  .npmrc
  package.json
  pnpm-lock.yaml
Due: none

Use local tools in pre-commit hooks and Makefile
  .pre-commit-config.yaml
  Makefile
  playbook/rookie/decision_boundary_layout.json
  playbook/rookie/decision_boundary_layout_colab.json
  playbook/rookie/embedding_layout.json
  playbook/rookie/embedding_layout_colab.json
  playbook/stories/cleaning_classification_dataset/spotlight-layout-clusters.json
  playbook/stories/cleaning_classification_dataset/spotlight-layout-duplicates.json
  playbook/stories/cleaning_classification_dataset/spotlight-layout-issues.json
  playbook/stories/cleaning_classification_dataset/spotlight-layout-label-inconsistencies.json
  playbook/stories/cleaning_classification_dataset/spotlight-layout-outliers.json
  playbook/veteran/cv_issues.json
  playbook/veteran/cv_issues_cleanlab.json
  playbook/veteran/detect_leakage.json
  playbook/veteran/drift_kcore.json
  playbook/veteran/drift_kcore_colab.json
  playbook/veteran/duplicates_annoy.json
  playbook/veteran/duplicates_annoy_colab.json
  playbook/veteran/label_errors_cleanlab.json
  playbook/veteran/label_errors_cleanlab_colab.json
  playbook/veteran/layout-drift-kcore.json
  playbook/veteran/leakage_annoy.json
  playbook/veteran/leakage_annoy_colab.json
  playbook/veteran/outlier_cleanlab.json
  playbook/veteran/outlier_cleanlab_colab.json
Due: none

Add dependencies for `audio` extra of datasets<4
  pyproject.toml
  uv.lock
Due: dynamic-versioning

Source `.envrc.local` after nix setup
  .envrc
Due: none

Remove .venv in clean target
  Makefile
Due: none

Format pyproject.toml
  pyproject.toml
Due: dynamic-versioning

Update some dependencies
  package.json
  pnpm-lock.yaml
Due: none

Add emoji
  .github/workflows/ci.yml
Due: none

Fix uv/Python usage in nix
  Makefile
  flake.nix
Due: none

Do not use npx
  Makefile
Due: none

Update Python packages
  uv.lock
Due: none

Update JS packages
  pnpm-lock.yaml
Due: none

Pin action commit
  .github/actions/setup-node-and-pnpm/action.yml
Due: none

Do not release docs to other repository
  Makefile
Due: none

Build docs as HTML
  Makefile
  docs/templates/text.mako
  docs/whitelist.txt
Due: none

Deploy docs to GitHub pages
  .github/workflows/ci.yml
Due: none

Debug: deploy on every branch
  .github/workflows/ci.yml
Due: none

Deploy docs from main
  .github/workflows/ci.yml
Due: none

Upload tiny MNIST
  data/README.md
  data/mnist/0.png
  data/mnist/1.png
  data/mnist/10.png
  data/mnist/11.png
  data/mnist/12.png
  data/mnist/13.png
  data/mnist/14.png
  data/mnist/15.png
  data/mnist/16.png
  data/mnist/17.png
  data/mnist/18.png
  data/mnist/19.png
  data/mnist/2.png
  data/mnist/20.png
  data/mnist/21.png
  data/mnist/22.png
  data/mnist/23.png
  data/mnist/24.png
  data/mnist/25.png
  data/mnist/26.png
  data/mnist/27.png
  data/mnist/28.png
  data/mnist/29.png
  data/mnist/3.png
  data/mnist/4.png
  data/mnist/5.png
  data/mnist/6.png
  data/mnist/7.png
  data/mnist/8.png
  data/mnist/9.png
  data/mnist/README.md
Due: none

Add MNIST CSV
  data/mnist/mnist-tiny.csv
Due: none

Fix: link to MNIST in docs
  README-PyPI.md
  README.md
  renumics/spotlight/__init__.py
  renumics/spotlight/viewer.py
Due: pylint, mypy

Adjust tiny MNIST link
  README-PyPI.md
  README.md
  renumics/spotlight/__init__.py
  renumics/spotlight/viewer.py
Due: pylint, mypy

Add version on top of docs ToC
  Makefile
Due: none

Simplify docs creation
  Makefile
Due: none

Fix broken links in docs
  renumics/spotlight/__init__.py
  renumics/spotlight/dataset/__init__.py
  renumics/spotlight/dtypes/__init__.py
  renumics/spotlight/viewer.py
Due: pylint, mypy

Fix the most links in docs
  .env
  CONTRIBUTING.md
  README.md
  docs/configure_visualizations/ui_components/index.md
  docs/getting_started/index.md
  docs/index.md
  docs/loading_data/loading_pandas_data.md
  playbook/allstar/data_slices_sliceguard.ipynb
  playbook/rookie/decision_boundary_detection.ipynb
  playbook/rookie/huggingface_embedding.ipynb
  playbook/stories/making_of_embeddings_animation.ipynb
  playbook/veteran/drift_kcore.ipynb
  playbook/veteran/duplicates_annoy.ipynb
  playbook/veteran/label_errors_cleanlab.ipynb
  pyproject.toml
  renumics/spotlight/requests.py
  src/application.ts
Due: pylint, mypy, dynamic-versioning

Add FSD50K tiny dataset
  data/README.md
  data/fsd50k/111020.wav
  data/fsd50k/151359.wav
  data/fsd50k/168258.wav
  data/fsd50k/176634.wav
  data/fsd50k/176638.wav
  data/fsd50k/176641.wav
  data/fsd50k/179862.wav
  data/fsd50k/182474.wav
  data/fsd50k/184623.wav
  data/fsd50k/209045.wav
  data/fsd50k/245704.wav
  data/fsd50k/262278.wav
  data/fsd50k/324331.wav
  data/fsd50k/339703.wav
  data/fsd50k/346933.wav
  data/fsd50k/353265.wav
  data/fsd50k/353448.wav
  data/fsd50k/421017.wav
  data/fsd50k/59446.wav
  data/fsd50k/95955.wav
  docs/configure_visualizations/ui_components/index.md
  docs/configure_visualizations/ui_components/layout.md
Due: none

Add readme for FSD50K tiny
  data/fsd50k/README.md
Due: none

Add missing resources and fix links
  docs/assets/playbook/embeddings_pca.json
  docs/assets/playbook/image_classification_v1.0.json
  docs/assets/playbook/layout_data_issues.json
  docs/use_cases/computer_vision/image_fine-tune.md
  playbook/stories/fine_tune_img.ipynb
  playbook/stories/making_of_embeddings_animation.ipynb
  playbook/stories/navigating_data_issues.ipynb
  playbook/veteran/outlier_cleanlab.ipynb
Due: none

Add FSD50K tiny CSV
  data/fsd50k/fsd50k-tiny.csv
Due: none

Fix some links
  docs/data-centric_ai/playbook/detect_duplicates_annoy.md
  docs/data-centric_ai/playbook/detect_leakage_annoy.md
  docs/data-centric_ai/playbook/drift_kcore.md
Due: none

Remove link to Spotlight Pro pricing
  renumics/spotlight/requests.py
  src/components/AppBar.tsx
Due: pylint, mypy

Fix some GitHub links
  docs/data-centric_ai/playbook/cv_issues.md
  docs/data-centric_ai/playbook/detect_decision_boundary.md
  docs/data-centric_ai/playbook/label_errors_cleanlab.md
  docs/data-centric_ai/playbook/outlier_cleanlab.md
Due: none

Improve docs
  docs/contributions/index.md
  docs/data-centric_ai/playbook/create_huggingface_embedding.md
  docs/data-centric_ai/playbook/create_towhee_embedding.md
  docs/data-centric_ai/playbook/cv_issues.md
  docs/data-centric_ai/playbook/detect_decision_boundary.md
  docs/data-centric_ai/playbook/detect_duplicates_annoy.md
  docs/data-centric_ai/playbook/detect_leakage_annoy.md
  docs/data-centric_ai/playbook/drift_kcore.md
  docs/data-centric_ai/playbook/find_data_slices_sliceguard.md
  docs/data-centric_ai/playbook/label_errors_cleanlab.md
  docs/data-centric_ai/playbook/outlier_cleanlab.md
Due: none

Disable analytics URL
  renumics/spotlight/reporting.py
Due: pylint, mypy

Path conditions:
  pylint: any of: \.py$
  mypy: any of: ^(renumics|scripts)/ and \.py$
  dynamic-versioning: any of: pyproject.toml
