Repository Renumics/spotlight: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, dynamic-versioning

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    # local hooks
    - repo: local
      hooks:
          - id: pylint
            name: pylint
            entry: poetry run pylint
            language: system
            types: [python]
            require_serial: true
          - id: mypy
            name: mypy
            entry: poetry run mypy
            language: system
            types: [python]
            files: ^(renumics|scripts)/
            require_serial: true
          - id: dynamic-versioning
            name: dynamic-versioning
            language: system
            entry: poetry run scripts/check_dynamic_versioning.py
            files: pyproject.toml

    # "official" pre-commit hooks
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
          - id: trailing-whitespace
            exclude: \.secret\.
          - id: end-of-file-fixer
            exclude: \.secret\.
          - id: check-added-large-files
          - id: check-merge-conflict
          - id: check-executables-have-shebangs
          - id: check-yaml
            exclude: (\.secret\.)|(^\.github/.*\.yml)
          - id: check-json
          - id: check-toml
          - id: check-symlinks

    # third-pary hooks
    - repo: https://github.com/psf/black
      rev: 23.1.0
      hooks:
          - id: black
          - id: black-jupyter
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v2.7.1
      hooks:
          - id: prettier
            exclude: (\.secret\.)|(pnpm-lock.yaml)
    - repo: https://github.com/pre-commit/mirrors-eslint
      rev: v8.34.0
      hooks:
          - id: eslint
            files: src
    - repo: https://github.com/python-jsonschema/check-jsonschema
      rev: 0.21.0
      hooks:
          - id: check-github-actions
          - id: check-github-workflows
    - repo: https://github.com/jumanjihouse/pre-commit-hooks
      rev: 3.0.0
      hooks:
          - id: shellcheck
          - id: shfmt
    - repo: https://github.com/kynan/nbstripout
      rev: 0.6.1
      hooks:
          - id: nbstripout

run integration tests against installed version of spotlight
  .github/workflows/ci.yml
Due: none

convert value list to array(object) before analysis
  renumics/spotlight/analysis/analyzers/cleanlab.py
Due: pylint, mypy

fix handling of allow_filebrowsing
  renumics/spotlight/viewer.py
Due: pylint, mypy

chore: remove console.log from cellcontextmenu
  src/widgets/DataGrid/Cell/CellContextMenu.tsx
Due: none

Do not fail at `get_table_cell` with an internal column
  renumics/spotlight/backend/data_source.py
  renumics/spotlight_plugins/core/api/table.py
Due: pylint, mypy

Parse null datetimes from JSON
  src/stores/dataset/dataset.ts
Due: none

Implement `get_column_values` and `get_column_metadata` for pandas data source, allow array-like dtypes to be parsed from string
  renumics/spotlight/backend/data_source.py
  renumics/spotlight/backend/exceptions.py
  renumics/spotlight/dtypes/conversion.py
  renumics/spotlight/io/pandas.py
  renumics/spotlight_plugins/core/api/table.py
  renumics/spotlight_plugins/core/pandas_data_source.py
Due: pylint, mypy

add: new notebook for blog
  playbook/stories/making_of_embeddings_animation.ipynb
  playbook/stories/navigating_data_issues.ipynb
Due: none

fix: missing concat
  playbook/stories/navigating_data_issues.ipynb
Due: none

fix align_values for embeddings
  renumics/spotlight/backend/data_source.py
  renumics/spotlight/backend/tasks/reduction.py
Due: pylint, mypy

fix type errors in analyzers
  renumics/spotlight/analysis/analyzers/cleanlab.py
  renumics/spotlight/analysis/analyzers/cleanvision.py
  renumics/spotlight/backend/data_source.py
Due: pylint, mypy

chore: autoformat cleanlab analyzer
  renumics/spotlight/analysis/analyzers/cleanlab.py
Due: pylint, mypy

fix types in table api
  renumics/spotlight_plugins/core/api/table.py
Due: pylint, mypy

first dumb implementation for pandas_data_source.get_cell_value
  renumics/spotlight_plugins/core/api/table.py
  renumics/spotlight_plugins/core/pandas_data_source.py
Due: pylint, mypy

fix analysis
  renumics/spotlight/analysis/analyzers/cleanlab.py
  renumics/spotlight/analysis/analyzers/cleanvision.py
  renumics/spotlight/dtypes/conversion.py
  renumics/spotlight_plugins/core/pandas_data_source.py
Due: pylint, mypy

fix analysis
  renumics/spotlight/analysis/analyzers/cleanlab.py
  renumics/spotlight_plugins/core/api/table.py
  renumics/spotlight_plugins/core/pandas_data_source.py
Due: pylint, mypy

chore: add output to dynamic versioning check
  poetry.lock
  pyproject.toml
  scripts/check_dynamic_versioning.py
Due: pylint, mypy, dynamic-versioning

fix: move httpx from dev to normal dependencies
  pyproject.toml
Due: dynamic-versioning

refactor: replace get_column and get_cell_data in hdf5 data source
  renumics/spotlight/backend/data_source.py
  renumics/spotlight_plugins/core/hdf5_data_source.py
Due: pylint, mypy

refactor: remove unused _decode_attrs
  renumics/spotlight_plugins/core/hdf5_data_source.py
Due: pylint, mypy

refactor: remove unused __enter__ of H5Dataset
  renumics/spotlight_plugins/core/hdf5_data_source.py
Due: pylint, mypy

refactor: remove unused _get_column_categories
  renumics/spotlight_plugins/core/hdf5_data_source.py
Due: pylint, mypy

chore: remove unused imports
  renumics/spotlight_plugins/core/api/table.py
  renumics/spotlight_plugins/core/pandas_data_source.py
Due: pylint, mypy

refactor: move datasource code to a separate module
  renumics/spotlight/analysis/__init__.py
  renumics/spotlight/analysis/analyzers/cleanlab.py
  renumics/spotlight/analysis/analyzers/cleanvision.py
  renumics/spotlight/analysis/typing.py
  renumics/spotlight/app.py
  renumics/spotlight/backend/__init__.py
  renumics/spotlight/backend/serialization.py
  renumics/spotlight/backend/tasks/reduction.py
  renumics/spotlight/backend/websockets.py
  renumics/spotlight/data_source/__init__.py
  renumics/spotlight/data_source/data_source.py
  renumics/spotlight/data_source/decorator.py
  renumics/spotlight/data_source/exceptions.py
  renumics/spotlight/data_source/registry.py
  renumics/spotlight_plugins/core/api/table.py
  renumics/spotlight_plugins/core/hdf5_data_source.py
  renumics/spotlight_plugins/core/pandas_data_source.py
Due: pylint, mypy

remove default zoom
  src/components/shared/AudioViewer/index.tsx
Due: none

Pin Chromedriver version
  .github/workflows/ci.yml
Due: none

Do not install httpx in integration test
  .github/workflows/ci.yml
Due: none

feat: select columns for automatic analysis
  renumics/spotlight/analysis/__init__.py
  renumics/spotlight/analysis/analyzers/cleanlab.py
  renumics/spotlight/analysis/analyzers/cleanvision.py
  renumics/spotlight/analysis/typing.py
  renumics/spotlight/app.py
  renumics/spotlight/app_config.py
  renumics/spotlight/cli.py
  renumics/spotlight/viewer.py
Due: pylint, mypy

:tada: :tada: add word cloud component in order to show word cloud over string column
  package.json
  pnpm-lock.yaml
  src/icons/WordCloud.tsx
  src/widgets/WordCloudView/Cloud.tsx
  src/widgets/WordCloudView/MenuBar.tsx
  src/widgets/WordCloudView/WordCloudView.tsx
  src/widgets/WordCloudView/index.tsx
  src/widgets/index.ts
Due: none

:bug: :bug: commit dataset
  src/types/dataset.ts
Due: none

:children_crossing: Add zoom and pan
  src/widgets/WordCloudView/Cloud.tsx
  src/widgets/WordCloudView/WordCloudView.tsx
Due: none

:children_crossing: Add seeded random generator in order to obtain word cloud structure on resize
  package.json
  pnpm-lock.yaml
  src/widgets/WordCloudView/Cloud.tsx
  src/widgets/WordCloudView/WordCloudView.tsx
Due: none

:label: Fix typing
  package.json
  pnpm-lock.yaml
  src/widgets/WordCloudView/Cloud.tsx
Due: none

:bug: 'fix' rotation on render and rename menu item
  src/widgets/WordCloudView/Cloud.tsx
  src/widgets/WordCloudView/MenuBar.tsx
Due: none

:bug: :bug: dont fail when filter match fails instead remove filter and show message
  src/filters.ts
  src/stores/dataset/dataset.ts
Due: none

:lipstick: Error formatting
  src/stores/dataset/dataset.ts
Due: none

:children_crossing: Fallback string comparison in string filter
  src/filters.ts
  src/types/filter.ts
Due: none

:children_crossing: Show/hide filtered and reset zoom onclick
  src/widgets/WordCloudView/Cloud.tsx
  src/widgets/WordCloudView/WordCloudView.tsx
Due: none

:sparkles: Allow categorical columns to be placed on word cloud
  src/widgets/WordCloudView/WordCloudView.tsx
Due: none

adjusted audio embedding play
  playbook/rookie/huggingface_embedding_audio.ipynb
Due: none
