Repository Renumics/spotlight: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, dynamic-versioning

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    # local hooks
    - repo: local
      hooks:
          - id: pylint
            name: pylint
            entry: poetry run pylint
            language: system
            types: [python]
            require_serial: true
          - id: mypy
            name: mypy
            entry: poetry run mypy
            language: system
            types: [python]
            files: ^(renumics|scripts)/
            require_serial: true
          - id: dynamic-versioning
            name: dynamic-versioning
            language: system
            entry: poetry run scripts/check_dynamic_versioning.py
            files: pyproject.toml

    # "official" pre-commit hooks
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
          - id: trailing-whitespace
            exclude: \.secret\.
          - id: end-of-file-fixer
            exclude: \.secret\.
          - id: check-added-large-files
          - id: check-merge-conflict
          - id: check-executables-have-shebangs
          - id: check-yaml
            exclude: (\.secret\.)|(^\.github/.*\.yml)
          - id: check-json
          - id: check-toml
          - id: check-symlinks

    # third-pary hooks
    - repo: https://github.com/psf/black
      rev: 23.1.0
      hooks:
          - id: black
          - id: black-jupyter
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v2.7.1
      hooks:
          - id: prettier
            exclude: (\.secret\.)|(pnpm-lock.yaml)
    - repo: https://github.com/pre-commit/mirrors-eslint
      rev: v8.34.0
      hooks:
          - id: eslint
            files: src
    - repo: https://github.com/python-jsonschema/check-jsonschema
      rev: 0.21.0
      hooks:
          - id: check-github-actions
          - id: check-github-workflows
    - repo: https://github.com/jumanjihouse/pre-commit-hooks
      rev: 3.0.0
      hooks:
          - id: shellcheck
          - id: shfmt
    - repo: https://github.com/kynan/nbstripout
      rev: 0.6.1
      hooks:
          - id: nbstripout

feat: add gte embedder for text
  poetry.lock
  pyproject.toml
  renumics/spotlight/embeddings/embedders/gte.py
Due: pylint, mypy, dynamic-versioning

feat: add wav2vec2 embedder for audio data
  renumics/spotlight/embeddings/embedders/wav2vec.py
Due: pylint, mypy

fix: use a separate resampler per audio file
  renumics/spotlight/embeddings/embedders/wav2vec.py
Due: pylint, mypy

wip: decorator for functional embedder
  renumics/spotlight/embeddings/__init__.py
  renumics/spotlight/embeddings/decorator.py
  renumics/spotlight/embeddings/embedders/vit.py
Due: pylint, mypy

Install and lock CPU torch into dev/playbook deps
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Use rewrite default embedders as functional embedders
  renumics/spotlight/data_store.py
  renumics/spotlight/embeddings/__init__.py
  renumics/spotlight/embeddings/decorator.py
  renumics/spotlight/embeddings/embedders/gte.py
  renumics/spotlight/embeddings/embedders/vit.py
  renumics/spotlight/embeddings/embedders/wav2vec.py
  renumics/spotlight/embeddings/embedders/wav2vec2.py
  renumics/spotlight/embeddings/exceptions.py
  renumics/spotlight/embeddings/preprocessors.py
  renumics/spotlight/embeddings/registry.py
  renumics/spotlight/embeddings/typing.py
Due: pylint, mypy

Type data store for embedders properly
  renumics/spotlight/embeddings/__init__.py
  renumics/spotlight/embeddings/typing.py
Due: pylint, mypy

Overload embed decorator
  renumics/spotlight/embeddings/decorator.py
  renumics/spotlight/embeddings/embedders/gte.py
  renumics/spotlight/embeddings/embedders/vit.py
  renumics/spotlight/embeddings/embedders/wav2vec2.py
Due: pylint, mypy

Get rid of the `sentence-transformers` since it installs `torchvision` and `torch`
  poetry.lock
  pyproject.toml
  renumics/spotlight/embeddings/embedders/gte.py
Due: pylint, mypy, dynamic-versioning

Add doctrings to embedding module
  renumics/spotlight/__init__.py
  renumics/spotlight/app.py
  renumics/spotlight/embeddings/__init__.py
  renumics/spotlight/embeddings/decorator.py
  renumics/spotlight/embeddings/embedders/gte.py
  renumics/spotlight/embeddings/preprocessors.py
  renumics/spotlight/embeddings/registry.py
  renumics/spotlight/embeddings/typing.py
Due: pylint, mypy

Do not expose `embed` decorator
  renumics/spotlight/__init__.py
Due: pylint, mypy

Remove `torchvision` from dev deps
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Remove debug prints
  renumics/spotlight/app.py
  renumics/spotlight/embeddings/__init__.py
  renumics/spotlight/embeddings/registry.py
Due: pylint, mypy

Add embed argument to `spotlight.show` and CLI
  renumics/spotlight/app.py
  renumics/spotlight/app_config.py
  renumics/spotlight/cli.py
  renumics/spotlight/viewer.py
Due: pylint, mypy

Fix help string
  renumics/spotlight/cli.py
Due: pylint, mypy

Use `fast_gather` instead of `take`
  renumics/spotlight_plugins/core/huggingface_datasource.py
Due: pylint, mypy

feat: use useColorTransfer hook for colorscale of bboxes
  src/hooks/useColorTransferFunction.ts
  src/lenses/BoundingBoxLens/index.tsx
  src/widgets/DataGrid/Cell/HeaderCell.tsx
Due: none

feat: nicer formatting of dtype in table header
  src/widgets/DataGrid/Cell/HeaderCell.tsx
Due: none

feat: add spinner to column badge while computing
  src/components/ui/ColumnBadge.tsx
  src/components/ui/Spinner.tsx
Due: none

refactor: use fastest-levenshtein for distance calculation
  package.json
  pnpm-lock.yaml
  src/widgets/MetricsWidget/levenshtein.ts
  src/widgets/MetricsWidget/metrics.ts
Due: none

chore: style bleu lens
  src/lenses/BLEUScoreLens.tsx
  src/lenses/RougeScoreLens.tsx
Due: none

refactor: rename rouge args
  src/widgets/MetricsWidget/metrics.ts
Due: none

feat: getCell hook with shared cache
  src/hooks/useCell.ts
  src/lenses/useCellValues.ts
Due: none

feat: clean up cache when over capacity
  src/hooks/useCell.ts
Due: none

add contrast for text
  src/lenses/BoundingBoxLens/index.tsx
Due: none

feat: raise and convert api errors in useCell
  src/hooks/useCell.ts
  src/types/problem.ts
Due: none

feat: store erros with useState
  src/hooks/useCell.ts
  src/lenses/useCellValues.ts
Due: none

feat: cache cells by dataset uid
  src/hooks/useCell.ts
Due: none

make bbox to component
  src/lenses/BoundingBoxLens/index.tsx
Due: none

fix: rerender bbox component after size change
  src/lenses/BoundingBoxLens/BBox.tsx
  src/lenses/BoundingBoxLens/index.tsx
Due: none

fix: prevent unnecessary rerender by putting boxes in useMemo
  src/hooks/useColorTransferFunction.ts
  src/lenses/BoundingBoxLens/index.tsx
Due: none

fix: remove debug logs
  src/hooks/useColorTransferFunction.ts
Due: none

chore: fix linter warnings
  src/hooks/useColorTransferFunction.ts
Due: none

Create python-package-conda.yml
  .github/workflows/python-package-conda.yml
Due: none

use mel scale for frequencies
  src/lenses/SpectrogramLens/index.tsx
Due: none

add: story for object detection
  playbook/stories/explore_object_detection.ipynb
Due: none

Fix playbook link
  README.md
Due: none

explicitly set mimetypes in app.py
  renumics/spotlight/app.py
Due: pylint, mypy
