Repository Renumics/spotlight: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, dynamic-versioning

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  require_serial: true

dynamic-versioning:
  name: dynamic-versioning
  language: system
  entry: poetry run scripts/check_dynamic_versioning.py

support hf metadata for images in arrow source
  poetry.lock
  pyproject.toml
  renumics/spotlight_plugins/core/arrow_dataset_source.py
Due: pylint, mypy, dynamic-versioning

support ray arrays in arrow dataset source
  poetry.lock
  pyproject.toml
  renumics/spotlight_plugins/core/arrow_dataset_source.py
Due: pylint, mypy, dynamic-versioning

reorder lenses to prioritize normal text lens
  src/lenses/index.ts
Due: none

feat: optional handlesNull attribute for lenses
  src/components/ui/Select/Select.tsx
  src/lenses/LensFactory.tsx
  src/types/lenses.ts
Due: none

Start Spotlight with TLS
  renumics/spotlight/server.py
  renumics/spotlight/viewer.py
  renumics/spotlight/webbrowser.py
Due: pylint, mypy

Remove debug message
  renumics/spotlight/webbrowser.py
Due: pylint, mypy

Add TLS key and certificate to CLI
  renumics/spotlight/cli.py
Due: pylint, mypy

Add missing annotation for SSl key password
  renumics/spotlight/viewer.py
Due: pylint, mypy

fix computation of filtered values in color tf factory
  src/stores/dataset/colorTransferFunctionFactory.tsx
  src/stores/dataset/dataset.ts
Due: none

Bump `setup-matrix` action to v2
  .github/workflows/ci.yml
Due: none

fix mel scale
  src/lenses/SpectrogramLens/index.tsx
Due: none

use mel scale for frequencies
  src/lenses/SpectrogramLens/index.tsx
Due: none

outsource melscale to different file
  src/lenses/SpectrogramLens/MelScale.tsx
  src/lenses/SpectrogramLens/index.tsx
Due: none

retry fetchCell after generationidmismatch
  src/hooks/useCell.ts
Due: none

Allow to start on non-localhost without TLS
  renumics/spotlight/cli.py
  renumics/spotlight/server.py
  renumics/spotlight/viewer.py
Due: pylint, mypy

Update python packages
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Try to ignore `av` in mypy
  pyproject.toml
Due: dynamic-versioning

Revert mypy settings
  pyproject.toml
Due: dynamic-versioning

Satisfy mypy
  pyproject.toml
  renumics/spotlight/embeddings/preprocessors.py
  renumics/spotlight/io/audio.py
  renumics/spotlight/media/mesh.py
Due: pylint, mypy, dynamic-versioning

Do not use abtract `__init__` of the parent class
  renumics/spotlight_plugins/core/huggingface_datasource.py
Due: pylint, mypy

Fix IO audio module
  renumics/spotlight/embeddings/preprocessors.py
  renumics/spotlight/io/audio.py
Due: pylint, mypy

Update README.md
  README.md
Due: none

fix: GUI test: make sure images are in the same color mode
  tests/ui/test_startpage.py
Due: pylint

fix: save after conversion
  tests/ui/test_startpage.py
Due: pylint

fix, wrong file converted..
  tests/ui/test_startpage.py
Due: pylint

Fix Python vulnerabilities
  poetry.lock
Due: none

Ignore non yet fixed Python vulnerability
  Makefile
Due: none

Move Cleanlab and Cleanvision to extras, warn when analyze is on
  poetry.lock
  pyproject.toml
  renumics/spotlight/analysis/analyzers/cleanlab.py
  renumics/spotlight/analysis/analyzers/cleanvision.py
Due: pylint, mypy, dynamic-versioning

Update pnpm env
  package.json
  pnpm-lock.yaml
Due: none

Ignore scikit-learn vulnerability in audit target
  Makefile
Due: none

Debug workflows
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Due: none

Lock Python env
  poetry.lock
Due: none

Remove no-op text from workflows
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Due: none

Add `trust_remote_code=True` to a Hugging Face REPL example
  renumics/spotlight/viewer.py
Due: pylint, mypy

Remove no-op changes
  .github/workflows/pr.yml
Due: none

Do not set repeat mode if backend is not yet ready
  src/components/shared/AudioViewer/index.tsx
Due: none

Export `isWindow` in Spotlight
  src/lib.ts
Due: none

Remove js lincense template
  license-checker-template.json
Due: none

Update Python dependencies
  poetry.lock
Due: none

Path conditions:
  pylint: any of: \.py$
  mypy: any of: ^(renumics|scripts)/ and \.py$
  dynamic-versioning: any of: pyproject.toml
