Repository Renumics/spotlight: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, dynamic-versioning

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    # local hooks
    - repo: local
      hooks:
          - id: pylint
            name: pylint
            entry: poetry run pylint
            language: system
            types: [python]
            require_serial: true
          - id: mypy
            name: mypy
            entry: poetry run mypy
            language: system
            types: [python]
            files: ^(renumics|scripts)/
            require_serial: true
          - id: dynamic-versioning
            name: dynamic-versioning
            language: system
            entry: poetry run scripts/check_dynamic_versioning.py
            files: pyproject.toml

    # "official" pre-commit hooks
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
          - id: trailing-whitespace
            exclude: \.secret\.
          - id: end-of-file-fixer
            exclude: \.secret\.
          - id: check-added-large-files
          - id: check-merge-conflict
          - id: check-executables-have-shebangs
          - id: check-yaml
            exclude: (\.secret\.)|(^\.github/.*\.yml)
          - id: check-json
          - id: check-toml
          - id: check-symlinks

    # third-pary hooks
    - repo: https://github.com/psf/black
      rev: 23.1.0
      hooks:
          - id: black
          - id: black-jupyter
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v2.7.1
      hooks:
          - id: prettier
            exclude: (\.secret\.)|(pnpm-lock.yaml)
    - repo: https://github.com/pre-commit/mirrors-eslint
      rev: v8.34.0
      hooks:
          - id: eslint
            files: src
    - repo: https://github.com/python-jsonschema/check-jsonschema
      rev: 0.21.0
      hooks:
          - id: check-github-actions
          - id: check-github-workflows
    - repo: https://github.com/jumanjihouse/pre-commit-hooks
      rev: 3.0.0
      hooks:
          - id: shellcheck
          - id: shfmt
    - repo: https://github.com/kynan/nbstripout
      rev: 0.6.1
      hooks:
          - id: nbstripout

Made the CONTRIBUTING.md file better to read
  CONTRIBUTING.md
Due: none

Fix broken link
  renumics/spotlight/dtypes/__init__.py
Due: pylint, mypy

cast unknown to string
  src/lenses/BLEUScoreLens.tsx
Due: none

Update docstring refs
  renumics/spotlight/dtypes/__init__.py
Due: pylint, mypy

Fix inline testable examples
  renumics/spotlight/dtypes/__init__.py
Due: pylint, mypy

Update env
  poetry.lock
Due: none

refactor: shared draggable column badge
  src/App.tsx
  src/components/ui/ColumnBadge.tsx
  src/stores/dataset/dataset.ts
  src/systems/dnd/DragContext.tsx
  src/systems/dnd/OverlayFactory.tsx
  src/types/dataset.ts
  src/widgets/DataGrid/Cell/HeaderCell.tsx
  src/widgets/IssuesWidget.tsx
Due: none

refactor: shared draggable column badge
  src/components/ui/ColumnBadge.tsx
Due: none

feat: use column badge in issues widget
  src/components/ui/ColumnBadge.tsx
  src/widgets/IssuesWidget.tsx
  types/twin.d.ts
Due: none

Add AABB data type
  renumics/spotlight/dtypes/__init__.py
Due: pylint, mypy

Add converters for AABBs
  renumics/spotlight/dtypes/conversion.py
Due: pylint, mypy

Guess bounding box dtype from array shape
  renumics/spotlight/data_store.py
Due: pylint, mypy

Add AABB data type to frontend
  src/components/DataTypeIcon.tsx
  src/dataformat.ts
  src/datatypes.ts
  src/icons/BoundingBox.tsx
  src/lenses/ArrayLens.tsx
  src/stores/dataset/columnFactory.ts
Due: none

Set grid width for AABB dtype
  src/widgets/DataGrid/columnWidthByType.ts
Due: none

Remove unused import in docstring
  renumics/spotlight/__init__.py
Due: pylint, mypy

Add more doctrings to window and AABB
  renumics/spotlight/dtypes/__init__.py
Due: pylint, mypy

Expose AABB dtype
  renumics/spotlight/dtypes/__init__.py
Due: pylint, mypy

feat: drag columns and cells onto filter bar
  src/components/FilterBar/FilterBar.tsx
  src/components/ToolBar.tsx
  src/components/ui/CellBadge.tsx
  src/systems/dnd/DragContext.tsx
  src/systems/dnd/Droppable.tsx
  src/systems/dnd/OverlayFactory.tsx
  src/widgets/DataGrid/Cell/HeaderCell.tsx
Due: none

feat: style cellbadge
  src/components/ui/CellBadge.tsx
  src/systems/dnd/OverlayFactory.tsx
Due: none

add ROUGE1 and ROUGE2 metrics
  src/widgets/MetricsWidget/metrics.ts
  src/widgets/MetricsWidget/types.ts
Due: none

Add generic sequence dtype to backend and client
  renumics/spotlight/data_store.py
  renumics/spotlight/dtypes/__init__.py
  renumics/spotlight/dtypes/conversion.py
  renumics/spotlight_plugins/core/api/table.py
  src/client/.openapi-generator/FILES
  src/client/models/ArrayDType.ts
  src/client/models/BaseDType.ts
  src/client/models/BoundingBox.ts
  src/client/models/CategoryDType.ts
  src/client/models/Column.ts
  src/client/models/Dtype.ts
  src/client/models/Dtype1.ts
  src/client/models/EmbeddingDType.ts
  src/client/models/Sequence1DDType.ts
  src/client/models/SequenceDType.ts
  src/client/models/index.ts
  src/stores/dataset/columnFactory.ts
Due: pylint, mypy

Define column dtype as any in API
  renumics/spotlight_plugins/core/api/table.py
  src/client/.openapi-generator/FILES
  src/client/models/ArrayDType.ts
  src/client/models/BaseDType.ts
  src/client/models/BoundingBox.ts
  src/client/models/CategoryDType.ts
  src/client/models/Column.ts
  src/client/models/Dtype.ts
  src/client/models/Dtype1.ts
  src/client/models/EmbeddingDType.ts
  src/client/models/Sequence1DDType.ts
  src/client/models/SequenceDType.ts
  src/client/models/index.ts
Due: pylint, mypy

Add generic sequence dtype to frontend
  renumics/spotlight/dtypes/conversion.py
  src/components/DataTypeIcon.tsx
  src/dataformat.ts
  src/datatypes.ts
  src/icons/BoundingBox.tsx
  src/icons/Sequence1D.tsx
  src/stores/dataset/columnFactory.ts
  src/types/dataset.ts
  src/widgets/DataGrid/columnWidthByType.ts
Due: pylint, mypy

Remove unused script
  scripts/build_notebook_theme.py
Due: pylint, mypy

Refactor dtype usage
  renumics/spotlight_plugins/core/huggingface_datasource.py
Due: pylint, mypy

feat: highlight active droppables
  src/systems/dnd/Droppable.tsx
  src/widgets/Histogram/Histogram.tsx
Due: none

chore: fix linter errors
  src/App.tsx
  src/components/ToolBar.tsx
  src/systems/dnd/DragContext.tsx
  src/widgets/DataGrid/Cell/CellFactory.tsx
  src/widgets/DataGrid/Cell/HeaderCell.tsx
  src/widgets/Histogram/Histogram.tsx
  src/widgets/Inspector/Inspector.tsx
Due: none

Print exceptions from app in dev mode
  renumics/spotlight/app.py
Due: pylint, mypy

Refactor dtype guessing, guess sequences from HF data
  renumics/spotlight/data_store.py
  renumics/spotlight/dtypes/__init__.py
  renumics/spotlight_plugins/core/huggingface_datasource.py
Due: pylint, mypy

Fix array guessing
  renumics/spotlight/data_store.py
Due: pylint, mypy

Get sequence values from HF dataset
  renumics/spotlight_plugins/core/huggingface_datasource.py
Due: pylint, mypy

Fix sequence dtype creation
  src/stores/dataset/columnFactory.ts
Due: none

Support sequences in array lens
  src/lenses/ArrayLens.tsx
Due: none

Remove unused import
  src/lenses/ArrayLens.tsx
Due: none

Fix integration tests
  tests/integration/backend/test_app_csv_df.py
  tests/integration/backend/test_app_tally_df.py
Due: pylint

feat: only accept supported columns in droppables
  src/components/FilterBar/FilterBar.tsx
  src/systems/dnd/DragContext.tsx
  src/systems/dnd/Droppable.tsx
  src/systems/dnd/types.ts
  src/widgets/Histogram/Histogram.tsx
Due: none

chore: fix linter errors
  src/widgets/Histogram/Histogram.tsx
Due: none

chore: pin uvicorn version to ">=0.22"
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

fix: only render None lens when all values are null
  src/lenses/LensFactory.tsx
Due: none

feat: treat [NaN, NaN] as no window in h5 dataset
  renumics/spotlight/dataset/__init__.py
  renumics/spotlight_plugins/core/hdf5_data_source.py
Due: pylint, mypy
