Repository Renumics/spotlight: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, dynamic-versioning

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  require_serial: true

dynamic-versioning:
  name: dynamic-versioning
  language: system
  entry: poetry run scripts/check_dynamic_versioning.py

integrate code from legacy SpotlightApp
  renumics/spotlight/next/app.py
  renumics/spotlight/next/viewer.py
Due: pylint, mypy

integrate code from legacy create_app
  renumics/spotlight/next/app.py
Due: pylint, mypy

Update README.md
  README.md
Due: none

directly start uvicorn as server process
  renumics/spotlight/next/app.py
  renumics/spotlight/next/gunicorn.py
  renumics/spotlight/next/server.py
  renumics/spotlight/next/uvicorn_worker.py
  renumics/spotlight/next/viewer.py
Due: pylint, mypy

terminate message threads on stop to make reloading work
  renumics/spotlight/next/app.py
  renumics/spotlight/next/server.py
  renumics/spotlight/viewer.py
Due: pylint, mypy

remove gunicorn from deps
  poetry.lock
  pyproject.toml
  renumics/spotlight/next/server.py
Due: pylint, mypy, dynamic-versioning

handle additional messages
  renumics/spotlight/next/app.py
  renumics/spotlight/next/server.py
  renumics/spotlight/viewer.py
Due: pylint, mypy

reimplement wait for frontends
  renumics/spotlight/next/app.py
  renumics/spotlight/next/server.py
  renumics/spotlight/viewer.py
Due: pylint, mypy

get df from app
  renumics/spotlight/next/app.py
  renumics/spotlight/next/server.py
  renumics/spotlight/plugin_loader.py
  renumics/spotlight/viewer.py
Due: pylint, mypy

remove show method from next/server
  renumics/spotlight/next/server.py
Due: pylint, mypy

put pending messages on a queue
  renumics/spotlight/next/app.py
  renumics/spotlight/next/server.py
Due: pylint, mypy

add message queue
  renumics/spotlight/next/app.py
  renumics/spotlight/next/server.py
Due: pylint, mypy

remove special handling for first startup message
  renumics/spotlight/next/server.py
Due: pylint, mypy

add missing types
  renumics/spotlight/next/app.py
  renumics/spotlight/next/server.py
Due: pylint, mypy

remove old modules
  renumics/spotlight/backend/app.py
  renumics/spotlight/backend/server.py
  renumics/spotlight/backend/types.py
Due: pylint, mypy

fix linter errors in new modules
  renumics/spotlight/app.py
  renumics/spotlight/plugin_loader.py
  renumics/spotlight/server.py
  renumics/spotlight/viewer.py
  renumics/spotlight_plugins/core/__init__.py
  renumics/spotlight_plugins/core/api/layout.py
  renumics/spotlight_plugins/core/api/table.py
  scripts/generate_api_spec.py
  tests/test_backend/conftest.py
Due: pylint, mypy

fix linter error in server.py
  renumics/spotlight/server.py
Due: pylint, mypy

rename non-camelcase type names
  renumics/spotlight/backend/data_source.py
  renumics/spotlight/backend/exceptions.py
  renumics/spotlight/dataset/__init__.py
  renumics/spotlight/dataset/typing.py
  renumics/spotlight/dtypes/__init__.py
  renumics/spotlight/io/audio.py
  renumics/spotlight/io/file.py
  renumics/spotlight/typing.py
Due: pylint, mypy

fix filetype
  renumics/spotlight/dtypes/__init__.py
  renumics/spotlight/io/audio.py
  renumics/spotlight/io/file.py
  renumics/spotlight/typing.py
Due: pylint, mypy

import Annotated from typing_extensions for compat
  renumics/spotlight/app.py
Due: pylint, mypy

order imports
  renumics/spotlight/app.py
Due: pylint, mypy

fix template location
  renumics/spotlight/app.py
Due: pylint, mypy

autoformat
  renumics/spotlight/server.py
Due: pylint, mypy

add dtype property to SpotlightApp
  renumics/spotlight/app.py
Due: pylint, mypy

ignore local scratch folder in unit-test make target
  Makefile
  vite.config.ts.timestamp-1688388636923.mjs
Due: none

wait for server startup in viewer.show
  Makefile
  renumics/spotlight/server.py
  renumics/spotlight/viewer.py
  tests/test_backend/conftest.py
  tests/test_backend/test_app_csv_df.py
  vite.config.ts.timestamp-1688388636923.mjs
Due: pylint, mypy

spotlight dev=false in test targets
  Makefile
Due: none

wait for a moment after updating parameters in show
  renumics/spotlight/server.py
  renumics/spotlight/viewer.py
Due: pylint, mypy

Fix widget class narrowing
  renumics/spotlight/layout/nodes.py
Due: pylint, mypy

Fix table model
  renumics/spotlight/layout/__init__.py
  renumics/spotlight/layout/widgets.py
Due: pylint, mypy

update complete app config at once
  renumics/spotlight/app.py
  renumics/spotlight/app_config.py
  renumics/spotlight/server.py
  renumics/spotlight/viewer.py
Due: pylint, mypy

initialize dataset and dtypes in app
  renumics/spotlight/app.py
Due: pylint, mypy

only run doctests on renumics module
  Makefile
Due: none

remove fields for col/row limits
  renumics/spotlight/server.py
  renumics/spotlight_plugins/core/api/table.py
  src/client/.openapi-generator/FILES
  src/client/models/DataIssue.ts
  src/client/models/Severity.ts
  src/client/models/Table.ts
  src/client/models/index.ts
  src/stores/dataset/dataset.ts
  tests/test_backend/test_app_csv_df.py
  tests/test_backend/test_app_tally_df.py
  tests/test_backend/test_double_app_tally_df.py
Due: pylint, mypy

cleanup imports in data store
  src/stores/dataset/dataset.ts
Due: none

Let analytics token to be "unknown" if `machineid` fails
  renumics/spotlight/reporting.py
Due: pylint, mypy

Fix pre-build version
  renumics/spotlight/__version__.py
Due: pylint, mypy

Allow any inspector view names
  renumics/spotlight/layout/widgets.py
Due: pylint, mypy

Echo generation ID when Spotlight Start on Windows fails
  scripts/Test-SpotlightStart.ps1
Due: none

Test Windows on dev branches
  .github/workflows/ci.yml
Due: none

Path conditions:
  pylint: any of: \.py$
  mypy: any of: ^(renumics|scripts)/ and \.py$
  dynamic-versioning: any of: pyproject.toml
