Repository Renumics/spotlight: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, dynamic-versioning

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  require_serial: true

dynamic-versioning:
  name: dynamic-versioning
  language: system
  entry: poetry run scripts/check_dynamic_versioning.py

Support `range` as input value for window, array and sequence1d
  renumics/spotlight/dataset/__init__.py
Due: pylint, mypy

Test embedding columns in dataset
  tests/integration/dataset/test_embedding.py
Due: pylint

feat: configure notation of numbers through global setting
  src/components/AppBar.tsx
  src/components/ColumnSelector/ColumnSelector.tsx
  src/components/FilterBar/FilterText.tsx
  src/components/FilterBar/ValueInput.tsx
  src/components/LineChart/LineChart.tsx
  src/components/ScalarValue.tsx
  src/components/shared/Plot/Legend/ContinuousLegend.tsx
  src/components/shared/Plot/XAxis.tsx
  src/components/shared/Plot/YAxis.tsx
  src/dataformat.ts
  src/dataformat/index.ts
  src/lenses/RougeScoreLens.tsx
  src/lib.ts
  src/stores/appSettings.ts
  src/widgets/ConfusionMatrix/hooks.ts
  src/widgets/DataGrid/Cell/DefaultCell.tsx
  src/widgets/DataGrid/Cell/HeaderCell.tsx
  src/widgets/DataGrid/RelevanceIndicator.tsx
  src/widgets/Inspector/ViewConfigurator/ViewConfigurator.tsx
  src/widgets/MetricsWidget/index.tsx
Due: none

chore: fix linter warnings
  src/components/LineChart/LineChart.tsx
Due: none

chore: rename formatter
  src/components/FilterBar/FilterText.tsx
  src/components/FilterBar/ValueInput.tsx
  src/components/LineChart/LineChart.tsx
  src/components/ScalarValue.tsx
  src/components/shared/Plot/Legend/ContinuousLegend.tsx
  src/components/shared/Plot/XAxis.tsx
  src/components/shared/Plot/YAxis.tsx
  src/dataformat/index.ts
  src/lenses/RougeScoreLens.tsx
  src/lib.ts
  src/widgets/DataGrid/Cell/DefaultCell.tsx
  src/widgets/DataGrid/Cell/HeaderCell.tsx
  src/widgets/DataGrid/RelevanceIndicator.tsx
Due: none

Rename color attribute
  src/lenses/MeshLens/index.tsx
Due: none

Support lens setting in python layout API
  renumics/spotlight/layout/lenses.py
Due: pylint, mypy

Add ROUGE score lens to python API
  renumics/spotlight/layout/lenses.py
Due: pylint, mypy

Rename ROUGE score lens
  renumics/spotlight/layout/lenses.py
  src/lenses/RougeScoreLens.tsx
Due: pylint, mypy

refactor: rename exported dataformat hook
  src/lib.ts
  src/widgets/ConfusionMatrix/hooks.ts
  src/widgets/MetricsWidget/index.tsx
Due: none

Update embedding column tests
  tests/integration/dataset/test_embedding.py
  tests/integration/dataset/test_embedding_column.py
Due: pylint

Add bounding box dtype to Spotlight dataset
  renumics/spotlight/dataset/__init__.py
  renumics/spotlight/dataset/typing.py
Due: pylint, mypy

Support AABB in H5 data source
  renumics/spotlight_plugins/core/hdf5_data_source.py
Due: pylint, mypy

Migrate layout tab children validator to pydantic 2.0
  renumics/spotlight/layout/nodes.py
Due: pylint, mypy

Register AABB dtype
  renumics/spotlight/dtypes/__init__.py
Due: pylint, mypy

Allow PIL images as input to image column
  renumics/spotlight/dataset/__init__.py
Due: pylint, mypy

Fix exception usage
  renumics/spotlight/dataset/__init__.py
Due: pylint, mypy

Test AABB in Spotlight dataset
  tests/integration/dataset/test_bounding_box_column.py
Due: pylint

refactor: add and use useSharedState hook for lens groups
  src/lenses/LensContext.tsx
  src/lenses/LensFactory.tsx
  src/lenses/SequenceLens/index.tsx
  src/lenses/useSharedState.ts
Due: none

fix: move focus from inner elements to table wrapper when necessary
  src/systems/dnd/Draggable.tsx
  src/widgets/DataGrid/KeyboardControls.tsx
Due: none

chore: fix linter warnings
  src/systems/dnd/Draggable.tsx
  src/widgets/DataGrid/KeyboardControls.tsx
Due: none

WIP: add embeddings module, use dummy embeddings in data store
  renumics/spotlight/analysis/registry.py
  renumics/spotlight/data_store.py
  renumics/spotlight/embeddings/__init__.py
  renumics/spotlight/embeddings/decorator.py
  renumics/spotlight/embeddings/embedders/__init__.py
  renumics/spotlight/embeddings/embedders/dummy.py
  renumics/spotlight/embeddings/registry.py
  renumics/spotlight/embeddings/typing.py
Due: pylint, mypy

Read external data in H5 data source
  renumics/spotlight_plugins/core/hdf5_data_source.py
Due: pylint, mypy

WIP: dummy embed columns
  renumics/spotlight/analysis/registry.py
  renumics/spotlight/data_store.py
  renumics/spotlight/embeddings/__init__.py
  renumics/spotlight/embeddings/decorator.py
  renumics/spotlight/embeddings/embedders/__init__.py
  renumics/spotlight/embeddings/embedders/dummy.py
  renumics/spotlight/embeddings/registry.py
  renumics/spotlight/embeddings/typing.py
Due: pylint, mypy

improve coloring and responsiveness
  src/lenses/BoundingBoxLens/index.tsx
Due: none

improve styled
  src/lenses/BoundingBoxLens/index.tsx
Due: none

Register AABBs dtype
  renumics/spotlight/dtypes/__init__.py
Due: pylint, mypy

draw bounding boxes at first render
  src/lenses/BoundingBoxLens/index.tsx
Due: none

improve color mapping
  src/lenses/BoundingBoxLens/index.tsx
Due: none

Compute embeddings lazy
  renumics/spotlight/app.py
  renumics/spotlight/backend/exceptions.py
  renumics/spotlight/data_source/data_source.py
  renumics/spotlight/data_store.py
  renumics/spotlight/embeddings/__init__.py
  renumics/spotlight/embeddings/decorator.py
  renumics/spotlight/embeddings/embedders/dummy.py
  renumics/spotlight/embeddings/exceptions.py
  renumics/spotlight/embeddings/registry.py
  renumics/spotlight/embeddings/typing.py
  renumics/spotlight_plugins/core/api/table.py
  src/client/apis/TableApi.ts
  src/client/models/Column.ts
Due: pylint, mypy

Refactor value encoding
  renumics/spotlight/dataset/__init__.py
  renumics/spotlight/dataset/typing.py
Due: pylint, mypy

feat: fetch computed column values when ready
  renumics/spotlight/app.py
  renumics/spotlight/data_store.py
  renumics/spotlight/embeddings/embedders/dummy.py
  renumics/spotlight_plugins/core/api/table.py
  src/client/models/Column.ts
  src/dataformat/index.ts
  src/lenses/LensFactory.tsx
  src/lenses/useCellValues.ts
  src/stores/dataset/columnFactory.ts
  src/stores/dataset/dataset.ts
  src/types/dataset.ts
  src/widgets/DataGrid/hooks/useCellValue.ts
Due: pylint, mypy

Rename `NoDefault` to `NoDefaultValue`
  renumics/spotlight/dataset/__init__.py
  renumics/spotlight/dataset/typing.py
Due: pylint, mypy

feat: delay fetching of cell values until column is computed
  src/lenses/useCellValues.ts
Due: none

feat: delay umap call until embeddings are ready
  src/widgets/SimilarityMap/SimilarityMap.tsx
Due: none

feat: show specific loading message while waiting for computed embeddings
  src/widgets/SimilarityMap/SimilarityMap.tsx
Due: none

chore: remove unnecessary import
  src/widgets/SimilarityMap/SimilarityMap.tsx
Due: none

Implement ViT embedder
  poetry.lock
  pyproject.toml
  renumics/spotlight/app.py
  renumics/spotlight/data_store.py
  renumics/spotlight/embeddings/__init__.py
  renumics/spotlight/embeddings/embedders/dummy.py
  renumics/spotlight/embeddings/embedders/vit.py
  renumics/spotlight_plugins/core/api/table.py
Due: pylint, mypy, dynamic-versioning

Remove debug prints
  renumics/spotlight/data_store.py
  renumics/spotlight_plugins/core/api/table.py
Due: pylint, mypy

Path conditions:
  pylint: any of: \.py$
  mypy: any of: ^(renumics|scripts)/ and \.py$
  dynamic-versioning: any of: pyproject.toml
