Repository Renumics/spotlight: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  require_serial: true

Remove debug
  renumics/spotlight/__init__.py
  tests/test_dataset/test_dataset.py
Due: pylint, mypy

Do not test windows install on dev branches
  .github/workflows/ci.yml
Due: none

Remove unused imports
  frontend/src/components/Workspace/Workspace.tsx
Due: none

Update README.md
  README.md
Due: none

Lock env for python 3.8-3.11
  poetry.lock
  pyproject.toml
Due: none

Test full matrix on this branch
  .github/workflows/ci.yml
Due: none

Test install on python 3.11
  .github/workflows/ci.yml
Due: none

Update supported python versions in READMEs
  README-PyPI.md
  README.md
Due: none

call actions in layout store through useLayout.getState()
  frontend/src/components/Workspace/Workspace.tsx
Due: none

Fix update df and/or dtype in `viewer.show`
  renumics/spotlight/viewer.py
Due: pylint, mypy

disable word wrapping in statusbar
  frontend/src/components/StatusBar.tsx
Due: none

Relock python env
  poetry.lock
Due: none

Do not install playbook deps in CI
  .github/actions/setup-poetry/action.yml
Due: none

fix path to default dataset
  Makefile
Due: none

change default folder of pnpm lock file
  .github/actions/setup-pnpm/action.yml
Due: none

add py.typed marker to ui tests
  ui_tests/py.typed
Due: none

change location of frontend build directory
  vite.config.ts
Due: none

:bug: Return default color not undefined
  frontend/src/hooks/useColorTransferFunction.ts
  frontend/src/palettes.ts
Due: none

fix build path in ui tests
  package.json
  ui_tests/conftest.py
  ui_tests/py.typed
Due: pylint

dont typecheck ui_tests
  Makefile
Due: none

:sparkles: Add copy Cell Value/Column Name fo DataGrid
  frontend/src/widgets/DataGrid/Cell/CellContextMenu.tsx
  frontend/src/widgets/DataGrid/Cell/HeaderCell.tsx
  frontend/src/widgets/DataGrid/Cell/HeaderCellContextMenu.tsx
  frontend/src/widgets/DataGrid/DataGrid.tsx
  frontend/src/widgets/DataGrid/GridContextMenu.tsx
  frontend/src/widgets/DataGrid/TableGrid.tsx
Due: none

ignore api-tests and ui_tests instead of frontend post-install
  .github/workflows/ci.yml
Due: none

:lipstick: Add copy icon to commit
  frontend/src/icons/Copy.tsx
Due: none

:rotating_light: remove unused import
  frontend/src/widgets/DataGrid/TableGrid.tsx
Due: none

ignore frontend tests in unit-test target
  Makefile
Due: none

add verbose flag to enable all logging
  .envrc
  renumics/spotlight/__init__.py
  renumics/spotlight/cli.py
  renumics/spotlight/logging.py
  renumics/spotlight/settings.py
Due: pylint, mypy

add a function to find the (linked) spotlight repo
  renumics/spotlight/develop/project.py
Due: pylint, mypy

always launch vite from project root
  renumics/spotlight/develop/vite.py
Due: pylint, mypy

search spotlight.pth in site-packages
  renumics/spotlight/develop/project.py
Due: pylint, mypy

add unsafe html lens
  src/lenses/HtmlLens.tsx
  src/lenses/registry.ts
Due: none

add safe htmllens
  package.json
  pnpm-lock.yaml
  src/lenses/SafeHtmlLens.tsx
  src/lenses/registry.ts
Due: none

:bug: Reporting fails when offline
  renumics/spotlight/reporting.py
Due: pylint, mypy

add markdown lens
  .envrc
  src/components/ui/Html.tsx
  src/lenses/HtmlLens.tsx
  src/lenses/MarkdownLens.tsx
  src/lenses/SafeHtmlLens.tsx
  src/lenses/registry.ts
Due: none

add multiline text lens
  src/lenses/TextLens.tsx
  src/lenses/registry.ts
Due: none

add text lens to registry
  src/lenses/registry.ts
Due: none

style raw html with tailwind typography
  package.json
  pnpm-lock.yaml
  src/components/ui/Html.tsx
  tailwind.config.cjs
Due: none

:sparkles: Allow load layout from url
  renumics/spotlight/backend/exceptions.py
  renumics/spotlight/cli.py
  renumics/spotlight/layout/__init__.py
Due: pylint, mypy

:bug: Correct import
  renumics/spotlight/backend/exceptions.py
Due: pylint, mypy

Fix start in folder; fix reset on start
  renumics/spotlight/backend/websockets.py
  renumics/spotlight_plugins/core/api/layout.py
  renumics/spotlight_plugins/core/api/table.py
  src/components/Workspace/Workspace.tsx
  src/stores/layout.ts
Due: pylint, mypy

Path conditions:
  pylint: any of: \.py$
  mypy: any of: ^(renumics|scripts)/ and \.py$
