Repository Renumics/spotlight: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, dynamic-versioning

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    # local hooks
    - repo: local
      hooks:
          - id: pylint
            name: pylint
            entry: poetry run pylint
            language: system
            types: [python]
            require_serial: true
          - id: mypy
            name: mypy
            entry: poetry run mypy
            language: system
            types: [python]
            files: ^(renumics|scripts)/
            require_serial: true
          - id: dynamic-versioning
            name: dynamic-versioning
            language: system
            entry: poetry run scripts/check_dynamic_versioning.py
            files: pyproject.toml

    # "official" pre-commit hooks
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
          - id: trailing-whitespace
            exclude: \.secret\.
          - id: end-of-file-fixer
            exclude: \.secret\.
          - id: check-added-large-files
          - id: check-merge-conflict
          - id: check-executables-have-shebangs
          - id: check-yaml
            exclude: (\.secret\.)|(^\.github/.*\.yml)
          - id: check-json
          - id: check-toml
          - id: check-symlinks

    # third-pary hooks
    - repo: https://github.com/psf/black
      rev: 23.1.0
      hooks:
          - id: black
          - id: black-jupyter
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v2.7.1
      hooks:
          - id: prettier
            exclude: (\.secret\.)|(pnpm-lock.yaml)
    - repo: https://github.com/pre-commit/mirrors-eslint
      rev: v8.34.0
      hooks:
          - id: eslint
            files: src
    - repo: https://github.com/python-jsonschema/check-jsonschema
      rev: 0.21.0
      hooks:
          - id: check-github-actions
          - id: check-github-workflows
    - repo: https://github.com/jumanjihouse/pre-commit-hooks
      rev: 3.0.0
      hooks:
          - id: shellcheck
          - id: shfmt
    - repo: https://github.com/kynan/nbstripout
      rev: 0.6.1
      hooks:
          - id: nbstripout

Move venv in CI to project
  .github/actions/setup-python-and-poetry/action.yml
Due: none

Remove pycatch22
  poetry.lock
  pyproject.toml
  renumics/spotlight/dataset/descriptors/__init__.py
  renumics/spotlight/dataset/descriptors/data_alignment.py
  tests/integration/dataset/test_descriptors.py
Due: pylint, mypy, dynamic-versioning

Allow all Python 3 versions starting from 3.9
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Forbid Python 3.14
  .github/workflows/ci.yml
  README-PyPI.md
  README.md
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Update pyproject.toml syntax
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Move packages section to `tool.poetry`
  pyproject.toml
Due: dynamic-versioning

Format Python code
  renumics/spotlight/backend/__init__.py
  renumics/spotlight/backend/middlewares/timing.py
  renumics/spotlight/cli.py
  renumics/spotlight/data_source/decorator.py
  renumics/spotlight/logging.py
  renumics/spotlight/media/exceptions.py
  renumics/spotlight/plugin_loader.py
  renumics/spotlight_plugins/core/__init__.py
  renumics/spotlight_plugins/core/api/filebrowser.py
  tests/integration/backend/test_app_csv_df.py
  tests/integration/backend/test_app_tally_df.py
  tests/integration/backend/test_double_app_tally_df.py
  tests/integration/dataset/test_dataset.py
Due: pylint, mypy

Ignore lint problems
  renumics/spotlight/dataset/pandas.py
  renumics/spotlight_plugins/core/pandas_data_source.py
Due: pylint, mypy

Ignore some types
  tests/ui/conftest.py
  tests/ui/helpers.py
Due: pylint

Add Poetry export plugin to `pyproject.toml`
  pyproject.toml
Due: dynamic-versioning

Do not install Poetry plugins manually in CI
  .github/actions/setup-python-and-poetry/action.yml
Due: none

Allow to fail on Windows and Python 3.13
  .github/workflows/ci.yml
Due: none

Do not ignore fixed vulnerabilities
  Makefile
Due: none

Debug: redirect stderr to stdout ic CI
  Makefile
Due: none

Debug: CI deps export
  .github/workflows/ci.yml
Due: none

Inject plugins into Poetry env in Ci via pipx
  .github/actions/setup-python-and-poetry/action.yml
  pyproject.toml
Due: dynamic-versioning

Do not pin plugin versions in CI
  .github/actions/setup-python-and-poetry/action.yml
Due: none

Remove debug things
  .github/workflows/ci.yml
  Makefile
Due: none

Fix: integration test continue-on-error condition
  .github/workflows/ci.yml
Due: none

Do not check dependencies in CI since managed by dependabot
  .github/workflows/ci.yml
Due: none

Update deps
  poetry.lock
Due: none

Ignore some types in scripts
  scripts/generate_test_csv.py
Due: pylint, mypy

Replace safety with pip-audit
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Do not install datasets<4 in integration test
  .github/workflows/ci.yml
Due: none

Format code
  .pre-commit-config.yaml
  renumics/spotlight/analysis/analyzers/cleanlab.py
  renumics/spotlight/cli.py
  renumics/spotlight/dtypes/conversion.py
  renumics/spotlight/reporting.py
  scripts/generate_api_spec.py
  scripts/generate_performance_test_data.py
Due: pylint, mypy

Test integration on full matrix
  .github/workflows/ci.yml
Due: none

Install FFmpeg for integration test
  .github/workflows/ci.yml
Due: none

Use another action to setup FFmpeg
  .github/workflows/ci.yml
Due: none

Print FFmpeg version
  .github/workflows/ci.yml
Due: none

Pin datasets<4 in integration tests
  .github/workflows/ci.yml
Due: none

Restore initial CI
  .github/workflows/ci.yml
Due: none

Restrict pandas to versions 2.*
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Ignore type error
  renumics/spotlight/embeddings/embedders/vit.py
Due: pylint, mypy

Downgrade eslint
  package.json
  pnpm-lock.yaml
Due: none

Remove audit make target
  Makefile
Due: none

Ignore Poetry cache
  .gitignore
Due: none

Debug pipeline
  .github/workflows/ci.yml
Due: none

echo PR head repo full name
  .github/workflows/ci.yml
Due: none

Revert CI pipeline
  .github/workflows/ci.yml
Due: none

dependecy_updates
  package.json
  pnpm-lock.yaml
Due: none
