Repository Renumics/spotlight: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    # local hooks
    - repo: local
      hooks:
          - id: pylint
            name: pylint
            entry: poetry run pylint
            language: system
            types: [python]
            require_serial: true
          - id: mypy
            name: mypy
            entry: poetry run mypy
            language: system
            types: [python]
            files: ^(renumics|scripts)/
            require_serial: true

    # "official" pre-commit hooks
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
          - id: trailing-whitespace
            exclude: \.secret\.
          - id: end-of-file-fixer
            exclude: \.secret\.
          - id: check-added-large-files
          - id: check-merge-conflict
          - id: check-executables-have-shebangs
          - id: check-yaml
            exclude: (\.secret\.)|(^\.github/.*\.yml)
          - id: check-json
          - id: check-toml
          - id: check-symlinks

    # third-pary hooks
    - repo: https://github.com/psf/black
      rev: 23.1.0
      hooks:
          - id: black
          - id: black-jupyter
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v2.7.1
      hooks:
          - id: prettier
            exclude: (\.secret\.)|(pnpm-lock.yaml)
    - repo: https://github.com/pre-commit/mirrors-eslint
      rev: v8.34.0
      hooks:
          - id: eslint
            files: frontend
    - repo: https://github.com/python-jsonschema/check-jsonschema
      rev: 0.21.0
      hooks:
          - id: check-github-actions
          - id: check-github-workflows
    - repo: https://github.com/jumanjihouse/pre-commit-hooks
      rev: 3.0.0
      hooks:
          - id: shellcheck
          - id: shfmt

layout for upcoming article added
  static/layout/layout_pre_post_ft.json
Due: none

find additional issues with cleanvision
  pyproject.toml
  renumics/spotlight/analysis/__init__.py
  renumics/spotlight/analysis/images.py
  renumics/spotlight/analysis/outliers.py
  renumics/spotlight_plugins/core/api/config.py
  renumics/spotlight_plugins/core/api/layout.py
  src/client/.openapi-generator/FILES
  src/client/apis/ConfigApi.ts
  src/client/apis/LayoutApi.ts
  src/client/models/ResponseGetValue.ts
  src/client/models/index.ts
  src/services/config.ts
Due: pylint, mypy

get data through data_source abstraction
  renumics/spotlight/analysis/__init__.py
  renumics/spotlight_plugins/core/api/issues.py
Due: pylint, mypy

Update Makefile
  Makefile
Due: none

setup analyzers with data_analyzer decorator
  renumics/spotlight/analysis/__init__.py
  renumics/spotlight/analysis/decorator.py
  renumics/spotlight/analysis/images.py
  renumics/spotlight/analysis/outliers.py
  renumics/spotlight/analysis/registry.py
  renumics/spotlight/analysis/typing.py
  renumics/spotlight/backend/data_source.py
  renumics/spotlight_plugins/core/api/issues.py
  renumics/spotlight_plugins/core/hdf5_data_source.py
  renumics/spotlight_plugins/core/pandas_data_source.py
Due: pylint, mypy

Update issues when new data source is set and notify client about
  renumics/spotlight/analysis/__init__.py
  renumics/spotlight/backend/types.py
  renumics/spotlight/viewer.py
  renumics/spotlight_plugins/core/api/issues.py
  src/services/data.ts
  src/stores/dataset/dataset.ts
Due: pylint, mypy

move update_issues to SpotlightApp
  renumics/spotlight/analysis/__init__.py
  renumics/spotlight/backend/app.py
  renumics/spotlight/backend/types.py
  renumics/spotlight_plugins/core/api/issues.py
  src/client/.openapi-generator/FILES
  src/client/apis/IssuesApi.ts
  src/client/models/DataIssue.ts
  src/client/models/index.ts
  src/stores/dataset/dataset.ts
Due: pylint, mypy

suppress cleanvision output
  Makefile
  renumics/spotlight/analysis/images.py
  renumics/spotlight/analysis/outliers.py
  renumics/spotlight/backend/tasks/task_manager.py
Due: pylint, mypy

add python api to enable/disable automatic analysis
  Makefile
  renumics/spotlight/backend/types.py
  renumics/spotlight/cli.py
  renumics/spotlight/viewer.py
  renumics/spotlight_plugins/core/api/issues.py
Due: pylint, mypy

Lock python environment
  poetry.lock
Due: none

Ignore `requests` vulnerability
  Makefile
Due: none

Add `cleanvision` to Spotlight deps
  poetry.lock
  pyproject.toml
Due: none

add cleanvision to deps
  poetry.lock
  pyproject.toml
Due: none

use version of requests without `Proxy-Authorization` vuln
  Makefile
  pyproject.toml
Due: none

relock poetry
  poetry.lock
Due: none

dont parse dev settings when not in dev mode
  renumics/spotlight/develop/project.py
Due: pylint, mypy

translate worker to typescript
  src/lenses/SpectrogramLens/SpectrogramWorker.js
  src/lenses/SpectrogramLens/index.tsx
Due: none

fix format
  src/lenses/SpectrogramLens/index.tsx
Due: none

make worker object instead of class
  src/lenses/SpectrogramLens/SpectrogramWorker.ts
Due: none

show loading indicator while analysis is running
  renumics/spotlight/analysis/__init__.py
  renumics/spotlight/backend/types.py
  renumics/spotlight_plugins/core/api/issues.py
  src/App.tsx
  src/stores/dataset/dataset.ts
  src/widgets/IssuesWidget.tsx
Due: pylint, mypy

Remove debug prints
  renumics/spotlight/backend/data_source.py
Due: pylint, mypy

Fix file sizes in clear cache test
  tests/test_backend/test_cache.py
Due: pylint

reverse proxy for src
  renumics/spotlight/backend/app.py
Due: pylint, mypy

Convert `TIFF` images in backend since they become blank in frontend
  renumics/spotlight/backend/data_source.py
Due: pylint, mypy

add explicit column reference and collapsible description to issues
  renumics/spotlight/analysis/__init__.py
  renumics/spotlight/analysis/analyzers/__init__.py
  renumics/spotlight/analysis/analyzers/cleanlab.py
  renumics/spotlight/analysis/analyzers/cleanvision.py
  renumics/spotlight/analysis/typing.py
  src/client/models/DataIssue.ts
  src/components/ui/Markdown.tsx
  src/icons/TriangleDown.tsx
  src/icons/TriangleRight.tsx
  src/lenses/MarkdownLens.tsx
  src/stores/dataset/dataset.ts
  src/types/dataset.ts
  src/widgets/IssuesWidget.tsx
Due: pylint, mypy

use the complete issue for highlighting
  renumics/spotlight/analysis/analyzers/cleanvision.py
  src/widgets/IssuesWidget.tsx
Due: pylint, mypy

change issue bg on hover
  src/widgets/IssuesWidget.tsx
Due: none

handle eslint warnings in issuewidget
  src/widgets/IssuesWidget.tsx
Due: none

show user issues while waiting for automatic analysis
  renumics/spotlight/layout/__init__.py
  renumics/spotlight/layout/nodes.py
  renumics/spotlight/layout/widgets.py
  renumics/spotlight_plugins/core/api/issues.py
  src/client/.openapi-generator/FILES
  src/client/apis/IssuesApi.ts
  src/client/models/AnalysisInfo.ts
  src/client/models/index.ts
  src/stores/dataset/dataset.ts
  src/widgets/IssuesWidget.tsx
Due: pylint, mypy

remove unused import
  renumics/spotlight/analysis/typing.py
  src/components/ui/Info.tsx
  src/widgets/Histogram/Histogram.tsx
  src/widgets/Inspector/DetailsGrid.tsx
  src/widgets/IssuesWidget.tsx
  src/widgets/ScatterplotView/ScatterplotView.tsx
  src/widgets/SimilarityMap/SimilarityMap.tsx
Due: pylint, mypy

reenable poetry dynamic versioning
  pyproject.toml
Due: none

add pre-commit hook to ensure that poetry-dynamic-versioning is enabled
  .pre-commit-config.yaml
  pyproject.toml
  scripts/check_dynamic_versioning.py
Due: pylint, mypy

:chart_with_upwards_trend: Get machineid by py-machineid and add readme entry
  README.md
  poetry.lock
  pyproject.toml
  renumics/spotlight/reporting.py
  renumics/spotlight/stubs/machineid/__init__.pyi
Due: pylint, mypy

:label: Ignore machineid in pypy overrides
  pyproject.toml
  renumics/spotlight/stubs/machineid/__init__.pyi
Due: none

:wrench: Remove stubs from mypy path
  pyproject.toml
Due: none

:memo: Remove typos and format test
  README.md
Due: none

:bulb: Comment hashed unique id
  renumics/spotlight/reporting.py
Due: pylint, mypy

setup simple server and app in spotlight.next
  poetry.lock
  pyproject.toml
  renumics/spotlight/next/__init__.py
  renumics/spotlight/next/app.py
  renumics/spotlight/next/gunicorn.py
  renumics/spotlight/next/uvicorn_worker.py
  renumics/spotlight/next/viewer.py
Due: pylint, mypy

add basic message handling to client and server
  renumics/spotlight/next/app.py
  renumics/spotlight/next/uvicorn_worker.py
  renumics/spotlight/next/viewer.py
Due: pylint, mypy
