Repository Renumics/spotlight: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, dynamic-versioning

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    # local hooks
    - repo: local
      hooks:
          - id: pylint
            name: pylint
            entry: poetry run pylint
            language: system
            types: [python]
            require_serial: true
          - id: mypy
            name: mypy
            entry: poetry run mypy
            language: system
            types: [python]
            files: ^(renumics|scripts)/
            require_serial: true
          - id: dynamic-versioning
            name: dynamic-versioning
            language: system
            entry: poetry run scripts/check_dynamic_versioning.py
            files: pyproject.toml

    # "official" pre-commit hooks
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
          - id: trailing-whitespace
            exclude: \.secret\.
          - id: end-of-file-fixer
            exclude: \.secret\.
          - id: check-added-large-files
          - id: check-merge-conflict
          - id: check-executables-have-shebangs
          - id: check-yaml
            exclude: (\.secret\.)|(^\.github/.*\.yml)
          - id: check-json
          - id: check-toml
          - id: check-symlinks

    # third-pary hooks
    - repo: https://github.com/psf/black
      rev: 23.1.0
      hooks:
          - id: black
          - id: black-jupyter
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v2.7.1
      hooks:
          - id: prettier
            exclude: (\.secret\.)|(pnpm-lock.yaml)
    - repo: https://github.com/pre-commit/mirrors-eslint
      rev: v8.34.0
      hooks:
          - id: eslint
            files: src
    - repo: https://github.com/python-jsonschema/check-jsonschema
      rev: 0.21.0
      hooks:
          - id: check-github-actions
          - id: check-github-workflows
    - repo: https://github.com/jumanjihouse/pre-commit-hooks
      rev: 3.0.0
      hooks:
          - id: shellcheck
          - id: shfmt
    - repo: https://github.com/kynan/nbstripout
      rev: 0.6.1
      hooks:
          - id: nbstripout

Lock pytorch
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

revert pytorch pin
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Pin Pytorch
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Cap Pytorch at 2.4.1
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Fix type problems
  renumics/spotlight/embeddings/embedders/gte.py
  renumics/spotlight/io/audio.py
Due: pylint, mypy

Ignore `cleanlab` vulnerability
  Makefile
Due: none

Ignore types in `pydantic-settings`
  pyproject.toml
Due: dynamic-versioning

Fix pnpm deps
  package.json
  pnpm-lock.yaml
Due: none

Fix av audio layout usage
  renumics/spotlight/io/audio.py
Due: pylint, mypy

Remove unused dev deps
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Try to fix pydantic_settings with mypy
  pyproject.toml
Due: dynamic-versioning

Fix av output stream options
  renumics/spotlight/io/audio.py
Due: pylint, mypy

Ignore Spotlight settings file in mypy
  pyproject.toml
  renumics/spotlight/settings.py
Due: pylint, mypy, dynamic-versioning

Set output stream channels as kwargs
  renumics/spotlight/io/audio.py
Due: pylint, mypy

Use Python 3.10 in CI by default
  .github/actions/setup-poetry/action.yml
Due: none

Do not ignore Spotlight settings file for mypy
  renumics/spotlight/settings.py
Due: pylint, mypy

Pin av<=13.0.0
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Update Python deps
  Makefile
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Only audit production Python packages
  Makefile
Due: none

Remove `towhee` because of deps resolving issue
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Remove 7.1 audio write support since av doesn' get it
  renumics/spotlight/io/audio.py
Due: pylint, mypy

Set layout name instead of channel number on writing audio
  renumics/spotlight/io/audio.py
Due: pylint, mypy

Release av version pin
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Replace `jupyter` package with `notebook`
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Allow Python 3.12
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Allow all Python versions starting with 3.8
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Temporarily run integration test on all Python versions starting with 3.8
  .github/workflows/ci.yml
Due: none

Lock different `numba` (and `llvmlite` in dev) versions for different Python versions
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Only support 3.8-3.12
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Allow minor versions of Python 3.12
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Remove Python 3.13 and 3.14 from testing
  .github/workflows/ci.yml
Due: none

Add Python 3.12 to test matrix
  .github/workflows/ci.yml
Due: none

Use Python 3.10 as the main target for integration tests
  .github/workflows/ci.yml
Due: none

Add 3.12 to supported Python versions in readme
  README-PyPI.md
  README.md
Due: none

Update PyPI classifiers
  pyproject.toml
Due: dynamic-versioning

Update Python deps
  poetry.lock
Due: none

Fix lenses default value in inspector config
  renumics/spotlight/layout/widgets.py
Due: pylint, mypy

Use tokenizers<=0.20.3
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Forbid tokenizers of version 0.20.4 for Python 3.8
  poetry.lock
  pyproject.toml
Due: dynamic-versioning
