Repository Renumics/spotlight: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, dynamic-versioning

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  require_serial: true

dynamic-versioning:
  name: dynamic-versioning
  language: system
  entry: poetry run scripts/check_dynamic_versioning.py

feat: replicate metric/matrix widget settings in python api
  renumics/spotlight/app.py
  renumics/spotlight/layout/widgets.py
  src/widgets/MetricsWidget/index.tsx
  src/widgets/MetricsWidget/metrics.ts
Due: pylint, mypy

updated readme
  README.md
  static/img/dataframe_head_sample.png
Due: none

readme fixes
  README.md
Due: none

add story with fastdup
  playbook/stories/cleaning_classification_dataset/clean_classification_dataset.ipynb
  playbook/stories/cleaning_classification_dataset/img/clusters_spotlight.png
  playbook/stories/cleaning_classification_dataset/img/duplicates_spotlight.png
  playbook/stories/cleaning_classification_dataset/img/inconsistencies_spotlight.png
  playbook/stories/cleaning_classification_dataset/img/issues_spotlight.png
  playbook/stories/cleaning_classification_dataset/img/outliers_spotlight.png
  playbook/stories/cleaning_classification_dataset/spotlight-layout-clusters.json
  playbook/stories/cleaning_classification_dataset/spotlight-layout-duplicates.json
  playbook/stories/cleaning_classification_dataset/spotlight-layout-issues.json
  playbook/stories/cleaning_classification_dataset/spotlight-layout-label-inconsistencies.json
  playbook/stories/cleaning_classification_dataset/spotlight-layout-outliers.json
Due: none

add file layout
  playbook/stories/cleaning_classification_dataset/clean_classification_dataset.ipynb
Due: none

Add dtype classes with options
  renumics/spotlight/app.py
  renumics/spotlight/app_config.py
  renumics/spotlight/cli.py
  renumics/spotlight/data_source/data_source.py
  renumics/spotlight/data_store.py
  renumics/spotlight/dtypes/conversion.py
  renumics/spotlight/dtypes/v2.py
  renumics/spotlight/io/pandas.py
  renumics/spotlight/viewer.py
  renumics/spotlight_plugins/core/api/table.py
  renumics/spotlight_plugins/core/hdf5_data_source.py
  renumics/spotlight_plugins/core/pandas_data_source.py
Due: pylint, mypy

use dtypes in dataset (part 1)
  renumics/spotlight/dataset/__init__.py
  renumics/spotlight/dtypes/conversion.py
  renumics/spotlight/dtypes/typing.py
  renumics/spotlight/dtypes/v2.py
  renumics/spotlight/io/pandas.py
  tests/integration/dataset/test_dataset.py
  tests/unit/dtypes/test_conversion.py
Due: pylint, mypy

use filtered indices for hover/select in confusion matrix
  src/widgets/ConfusionMatrix/hooks.ts
Due: none

chore: add missing dep to buckets hook
  src/widgets/ConfusionMatrix/hooks.ts
Due: none

Use dtypes in spotlight.Dataset
  renumics/spotlight/dataset/__init__.py
  renumics/spotlight/dataset/descriptors/__init__.py
  renumics/spotlight/dataset/descriptors/data_alignment.py
  renumics/spotlight/dataset/typing.py
  renumics/spotlight/dtypes/conversion.py
  renumics/spotlight/dtypes/v2.py
  renumics/spotlight/io/pandas.py
  tests/unit/dtypes/test_conversion.py
Due: pylint, mypy

Fix integration tests
  renumics/spotlight/dataset/__init__.py
  tests/integration/dataset/conftest.py
  tests/integration/dataset/test_categorical.py
  tests/integration/dataset/test_data_types.py
  tests/integration/dataset/test_dataset.py
  tests/integration/dataset/test_fancy_indexing.py
  tests/integration/dataset/test_prune.py
  tests/integration/h5/conftest.py
  tests/integration/h5/data.py
Due: pylint, mypy

fix: dont fail when loading imagefolder without classes
  renumics/spotlight_plugins/core/pandas_data_source.py
Due: pylint, mypy

Fix get_dtype usage, use type guards for dtypes
  renumics/spotlight/analysis/analyzers/cleanlab.py
  renumics/spotlight/backend/tasks/reduction.py
  renumics/spotlight/data_store.py
  renumics/spotlight/dataset/__init__.py
  renumics/spotlight/dtypes/v2.py
  renumics/spotlight_plugins/core/api/table.py
  renumics/spotlight_plugins/core/hdf5_data_source.py
Due: pylint, mypy

Move media types to their own module, use new dtypes in renumics.spotlight.dtypes
  pyproject.toml
  renumics/spotlight/__init__.py
  renumics/spotlight/analysis/analyzers/cleanlab.py
  renumics/spotlight/app.py
  renumics/spotlight/app_config.py
  renumics/spotlight/backend/exceptions.py
  renumics/spotlight/backend/tasks/reduction.py
  renumics/spotlight/data_source/data_source.py
  renumics/spotlight/data_store.py
  renumics/spotlight/dataset/__init__.py
  renumics/spotlight/dataset/typing.py
  renumics/spotlight/dtypes/__init__.py
  renumics/spotlight/dtypes/conversion.py
  renumics/spotlight/dtypes/legacy.py
  renumics/spotlight/dtypes/triangulation.py
  renumics/spotlight/dtypes/typing.py
  renumics/spotlight/dtypes/v2.py
  renumics/spotlight/io/file.py
  renumics/spotlight/io/pandas.py
  renumics/spotlight/media/__init__.py
  renumics/spotlight/media/audio.py
  renumics/spotlight/media/base.py
  renumics/spotlight/media/embedding.py
  renumics/spotlight/media/exceptions.py
  renumics/spotlight/media/image.py
  renumics/spotlight/media/mesh.py
  renumics/spotlight/media/sequence_1d.py
  renumics/spotlight/media/video.py
  renumics/spotlight/viewer.py
  renumics/spotlight_plugins/core/api/table.py
  renumics/spotlight_plugins/core/hdf5_data_source.py
  renumics/spotlight_plugins/core/pandas_data_source.py
  tests/unit/dtypes/test_conversion.py
Due: pylint, mypy, dynamic-versioning

Fix doctests
  renumics/spotlight/dataset/__init__.py
Due: pylint, mypy

Import Category and Window legacy dtypes on top
  renumics/spotlight/__init__.py
Due: pylint, mypy

group by modality
  README.md
Due: none

add text modality
  README.md
Due: none

Start to clean tests typing up
  Makefile
  pyproject.toml
  renumics/spotlight/dataset/__init__.py
  renumics/spotlight/dataset/typing.py
  tests/integration/backend/test_cache.py
  tests/integration/backend/test_reporting.py
  tests/integration/dataset/conftest.py
  tests/integration/dataset/test_dataset.py
  tests/integration/formats/test_formats.py
  tests/integration/h5/test_h5.py
  tests/integration/layout/test_setting.py
  tests/integration/media/test_media.py
  tests/unit/dtypes/test_conversion.py
  tests/unit/io/__init__.py
  tests/unit/io/test_audio.py
Due: pylint, mypy, dynamic-versioning

Fix relative import
  tests/integration/media/__init__.py
Due: pylint

Fix typing in tests, split media tests on integration and unit parts
  renumics/spotlight/dataset/__init__.py
  renumics/spotlight/media/base.py
  renumics/spotlight/media/embedding.py
  renumics/spotlight/media/sequence_1d.py
  tests/integration/dataset/conftest.py
  tests/integration/dataset/data.py
  tests/integration/dataset/helpers.py
  tests/integration/dataset/test_categorical.py
  tests/integration/dataset/test_dataset.py
  tests/integration/helpers.py
  tests/integration/media/data.py
  tests/integration/media/test_audio.py
  tests/integration/media/test_image.py
  tests/integration/media/test_media.py
  tests/integration/media/test_mesh.py
  tests/integration/media/test_video.py
  tests/unit/media/__init__.py
  tests/unit/media/data.py
  tests/unit/media/test_audio.py
  tests/unit/media/test_embedding.py
  tests/unit/media/test_image.py
  tests/unit/media/test_mesh.py
  tests/unit/media/test_sequence_1d.py
  tests/unit/media/test_video.py
Due: pylint, mypy

Remove debug print
  renumics/spotlight/dataset/__init__.py
Due: pylint, mypy

refactor: add intermediate dtypes to data sources
  renumics/spotlight/data_source/data_source.py
  renumics/spotlight/dtypes/conversion.py
  renumics/spotlight_plugins/core/hdf5_data_source.py
  renumics/spotlight_plugins/core/pandas_data_source.py
Due: pylint, mypy

Update dtypes of a data store in a function
  renumics/spotlight/data_store.py
  renumics/spotlight_plugins/core/api/table.py
  renumics/spotlight_plugins/core/hdf5_data_source.py
Due: pylint, mypy

Disable h5 locking
  renumics/spotlight/dataset/__init__.py
Due: pylint, mypy

Update plugins on changes
  renumics/spotlight/app.py
  renumics/spotlight/data_store.py
  renumics/spotlight/plugin_loader.py
Due: pylint, mypy

feat: accuracy metric for int and category columns
  src/widgets/MetricsWidget/metrics.ts
Due: none

fix: correctly handle dataset=None from cli
  renumics/spotlight/cli.py
  renumics/spotlight/viewer.py
Due: pylint, mypy

chore: remove unnecessary option type for click args
  renumics/spotlight/cli.py
Due: pylint, mypy

Add factories for confusion matrix and metric widgets
  renumics/spotlight/layout/__init__.py
Due: pylint, mypy

Remove lesscpu
  .gitignore
  Makefile
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Add word cloud to python layout API
  renumics/spotlight/layout/__init__.py
  renumics/spotlight/layout/widgets.py
  src/widgets/MetricsWidget/metrics.ts
Due: pylint, mypy

add node polyfills
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: none

chore: increase max_old_space_size during build
  Makefile
Due: none

chore: fix NODE_OPTIONS format
  Makefile
Due: none

fix: explicitly list inputs for rollup
  renumics/spotlight_plugins/core/pandas_data_source.py
  vite.config.ts
Due: pylint, mypy

fix: rename array icon
  src/icons/Array.tsx
Due: none

Show supported dataset file types in filebrowser
  src/components/AppBar.tsx
Due: none

Open folders as datasets in filebrowser
  src/components/FileBrowser/FileBrowser.tsx
Due: none

Path conditions:
  pylint: any of: \.py$
  mypy: any of: ^(renumics|scripts)/ and \.py$
  dynamic-versioning: any of: pyproject.toml
