Repository Renumics/spotlight: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, dynamic-versioning

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    # local hooks
    - repo: local
      hooks:
          - id: pylint
            name: pylint
            entry: poetry run pylint
            language: system
            types: [python]
            require_serial: true
          - id: mypy
            name: mypy
            entry: poetry run mypy
            language: system
            types: [python]
            files: ^(renumics|scripts)/
            require_serial: true
          - id: dynamic-versioning
            name: dynamic-versioning
            language: system
            entry: poetry run scripts/check_dynamic_versioning.py
            files: pyproject.toml

    # "official" pre-commit hooks
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
          - id: trailing-whitespace
            exclude: \.secret\.
          - id: end-of-file-fixer
            exclude: \.secret\.
          - id: check-added-large-files
          - id: check-merge-conflict
          - id: check-executables-have-shebangs
          - id: check-yaml
            exclude: (\.secret\.)|(^\.github/.*\.yml)
          - id: check-json
          - id: check-toml
          - id: check-symlinks

    # third-pary hooks
    - repo: https://github.com/psf/black
      rev: 23.1.0
      hooks:
          - id: black
          - id: black-jupyter
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v2.7.1
      hooks:
          - id: prettier
            exclude: (\.secret\.)|(pnpm-lock.yaml)
    - repo: https://github.com/pre-commit/mirrors-eslint
      rev: v8.34.0
      hooks:
          - id: eslint
            files: src
    - repo: https://github.com/python-jsonschema/check-jsonschema
      rev: 0.21.0
      hooks:
          - id: check-github-actions
          - id: check-github-workflows
    - repo: https://github.com/jumanjihouse/pre-commit-hooks
      rev: 3.0.0
      hooks:
          - id: shellcheck
          - id: shfmt
    - repo: https://github.com/kynan/nbstripout
      rev: 0.6.1
      hooks:
          - id: nbstripout

add skeleton for arrow dataset source
  renumics/spotlight_plugins/core/arrow_dataset_source.py
Due: pylint, mypy

first implementation of arrow dataset source
  poetry.lock
  pyproject.toml
  renumics/spotlight_plugins/core/__init__.py
  renumics/spotlight_plugins/core/arrow_dataset_source.py
Due: pylint, mypy, dynamic-versioning

add basic widget for llm integration
  src/icons/Brain.tsx
  src/widgets/LLMWidget/index.tsx
  src/widgets/index.ts
Due: none

add websocket comms for chat
  renumics/spotlight/backend/websockets.py
  src/services/chat.ts
  src/widgets/LLMWidget/index.tsx
Due: pylint, mypy

integrate ollama for basic chat
  renumics/spotlight/backend/websockets.py
  src/services/chat.ts
  src/widgets/LLMWidget/index.tsx
Due: pylint, mypy

add sql method to pandas datasource
  poetry.lock
  pyproject.toml
  renumics/spotlight/backend/websockets.py
  renumics/spotlight_plugins/core/arrow_dataset_source.py
  renumics/spotlight_plugins/core/pandas_data_source.py
Due: pylint, mypy, dynamic-versioning

add simple error handling
  renumics/spotlight/backend/websockets.py
  src/services/chat.ts
  src/widgets/LLMWidget/index.tsx
Due: pylint, mypy

render errors red
  src/widgets/LLMWidget/index.tsx
Due: none

:poop: Add sql generation and database queriing with openai backend
  renumics/spotlight/backend/websockets.py
  renumics/spotlight_plugins/core/pandas_data_source.py
  src/widgets/LLMWidget/index.tsx
Due: pylint, mypy

better styling of chat bubbles
  src/widgets/LLMWidget/index.tsx
Due: none

:thread: Add streaming response with async openapi client
  renumics/spotlight/backend/websockets.py
Due: pylint, mypy

:card_file_box: Update prompt with new table names
  renumics/spotlight/backend/websockets.py
Due: pylint, mypy

send and display context messages
  package.json
  pnpm-lock.yaml
  renumics/spotlight/backend/websockets.py
  src/components/ui/WidgetContent.tsx
  src/components/ui/WidgetMenu.tsx
  src/services/chat.ts
  src/widgets/LLMWidget/index.tsx
Due: pylint, mypy

allow filtering by returned rows if possible
  renumics/spotlight/backend/websockets.py
  renumics/spotlight_plugins/core/pandas_data_source.py
  src/services/chat.ts
  src/widgets/LLMWidget/index.tsx
Due: pylint, mypy

:lipstick: Come up with a name for the filter
  renumics/spotlight/backend/websockets.py
  src/widgets/LLMWidget/index.tsx
Due: pylint, mypy

style rowsbadge like a button
  renumics/spotlight/backend/websockets.py
  src/widgets/LLMWidget/index.tsx
Due: pylint, mypy

set temp to 0 for openai requests
  renumics/spotlight/backend/websockets.py
Due: pylint, mypy

:bug: Add demo launch script and fix strip last char error
  pyproject.toml
  renumics/__init__.py
  renumics/spotlight/backend/websockets.py
  renumics/spotlight/demo/__init__.py
  renumics/spotlight/demo/race_gpt_demo.py
Due: pylint, mypy, dynamic-versioning

:bug: Fix pandas data source error if no nan values in column
  renumics/spotlight_plugins/core/pandas_data_source.py
Due: pylint, mypy

fix wrong usage of field.type
  renumics/spotlight_plugins/core/arrow_dataset_source.py
Due: pylint, mypy

allow embeddings in linechart lens
  src/lenses/SequenceLens/index.tsx
Due: none

Fix poetry dependencies
  poetry.lock
Due: none

Ignore lodash vulnerability
  package.json
  tests/integration/dataset/test_embedding_column.py
  tests/integration/dataset/test_fancy_indexing.py
Due: pylint

Add type annotations
  tests/integration/dataset/test_bounding_box_column.py
  tests/integration/dataset/test_embedding_column.py
  tests/integration/h5/data.py
Due: pylint

Bump GitHub action versions
  .github/actions/setup-pnpm/action.yml
  .github/actions/setup-poetry/action.yml
  .github/workflows/ci.yml
Due: none

Upload UI results to different artifacts based ob browser
  .github/workflows/ci.yml
Due: none

Coerse nullable pandas int and bool columns to numpy object if NAs are presented
  renumics/spotlight_plugins/core/pandas_data_source.py
Due: pylint, mypy

Update ruff setup
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
Due: dynamic-versioning

Lock updated ruff version
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Update black formatter
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Migrate settings config to pydantic v2
  renumics/spotlight/settings.py
Due: pylint, mypy

Do not use deprecated json method of pydatic
  tests/integration/layout/test_setting.py
Due: pylint

Update pre-commit repo versions
  .pre-commit-config.yaml
  renumics/spotlight/dataset/__init__.py
  renumics/spotlight/dtypes/conversion.py
  renumics/spotlight/embeddings/decorator.py
  renumics/spotlight/layout/__init__.py
Due: pylint, mypy

create mel scale from d3 scale
  src/lenses/SpectrogramLens/index.tsx
Due: none

sort imports
  renumics/spotlight_plugins/core/arrow_dataset_source.py
Due: pylint, mypy

Add any dtype accepting any values, rename mixed dtype to unknown
  renumics/spotlight/dtypes/__init__.py
  renumics/spotlight_plugins/core/pandas_data_source.py
Due: pylint, mypy

Force unknown columns to be not editable
  renumics/spotlight/data_store.py
Due: pylint, mypy

replace mixed with unknown in arrow datasource
  renumics/spotlight_plugins/core/arrow_dataset_source.py
Due: pylint, mypy
