Repository Renumics/spotlight: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, dynamic-versioning

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  require_serial: true

dynamic-versioning:
  name: dynamic-versioning
  language: system
  entry: poetry run scripts/check_dynamic_versioning.py

cleaning
  package.json
  pnpm-lock.yaml
Due: none

relock
  package.json
  pnpm-lock.yaml
Due: none

relock
  pnpm-lock.yaml
Due: none

fixes
  package.json
  pnpm-lock.yaml
  src/components/ColumnSelector/ColumnListItem.tsx
  src/components/shared/AudioViewer/index.tsx
  src/components/shared/Plot/Legend/CategoricalLegend.tsx
  src/components/shared/Plot/Legend/ContinuousLegend.tsx
  src/notify.tsx
  src/systems/dnd/Droppable.tsx
  src/widgets/DataGrid/Cell/CellContextMenu.tsx
  src/widgets/Inspector/ViewConfigurator/ColumnListItem.tsx
  src/widgets/Inspector/ViewConfigurator/ViewConfigurator.tsx
  src/widgets/WordCloudView/WordCloudView.tsx
Due: none

Add upper-bound version caps to prevent breaking dependency upgrades
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

allow numpy > 2
  .github/workflows/ci.yml
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Force install pre-commit hooks
  .envrc
  .pre-commit-config.yaml
Due: none

Remove audio extras for datasets, remove useless version caps
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Relock
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Satisfy/fix static checks
  Makefile
  playbook/rookie/decision_boundary_detection.ipynb
  playbook/rookie/huggingface_embedding_audio.ipynb
  playbook/stories/cleaning_classification_dataset/clean_classification_dataset.ipynb
  playbook/stories/explore_object_detection.ipynb
  playbook/stories/fastf1_spotlight_demo.ipynb
  playbook/stories/making_of_embeddings_animation.ipynb
  poetry.lock
  pyproject.toml
  renumics/spotlight/dataset/__init__.py
  renumics/spotlight/dtypes/conversion.py
  renumics/spotlight/media/audio.py
  renumics/spotlight/media/image.py
  renumics/spotlight/media/video.py
  tests/integration/dataset/conftest.py
  tests/integration/dataset/test_dataset.py
  tests/unit/media/test_embedding.py
Due: pylint, mypy, dynamic-versioning

Do not install datasets<4 for integration tests
  .github/workflows/ci.yml
Due: none

Remove soundfile from dependencies
  .github/workflows/ci.yml
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Add `torchcodec` to dependencies
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Pin datasets to <3
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Restrict FastAPI versions
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

setup dev shell via flake
  .envrc
  .gitignore
  flake.lock
  flake.nix
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Do not install audio extra for datasets
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Install CPU Torch in CI
  .github/workflows/ci.yml
Due: none

relock poetry
  poetry.lock
Due: none

Unpin FastAPI max version
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Fix: use kwargs in TemplateResponse
  renumics/spotlight/app.py
Due: pylint, mypy

Debug: test integration on Windows and MacOS for PR in CI
  .github/workflows/ci.yml
Due: none

Debug: test integration on Python 3.14 for PR in CI
  .github/workflows/ci.yml
Due: none

Install FFMpeg for integration test
  .github/workflows/ci.yml
Due: none

update poetry in tool-versions
  .tool-versions
Due: none

Replace Poetry with uv, lock dependencies
  .envrc
  .tool-versions
  Makefile
  flake.nix
  poetry.lock
  pyproject.toml
  uv.lock
Due: dynamic-versioning

Replace some poetry entrypoints with uv
  .envrc
  .github/actions/setup-python-and-poetry/action.yml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
  uv.lock
Due: dynamic-versioning

Add dynamic versioning
  pyproject.toml
Due: dynamic-versioning

Update .gitignore
  .gitignore
Due: none

Patch version after build
  Makefile
  pyproject.toml
  renumics/spotlight/__version__.py
  uv.lock
Due: pylint, mypy, dynamic-versioning

Fix version resolution
  .envrc
  .github/actions/setup-python-and-poetry/action.yml
  Makefile
Due: none

Collect torch dependencies to an extra
  Makefile
  pyproject.toml
  renumics/spotlight/__version__.py
  uv.lock
Due: pylint, mypy, dynamic-versioning

Remove dynamic versioning check
  .pre-commit-config.yaml
  scripts/check_dynamic_versioning.py
Due: pylint, mypy

Replace poetry with uv
  Makefile
  renumics/spotlight/develop/project.py
  tests/ui/conftest.py
Due: pylint, mypy

fix: missing frontend in `make dev`
  .gitignore
  renumics/spotlight/develop/project.py
  src/widgets/MetricsWidget/metrics.ts
Due: pylint, mypy

Fix: libs in nix setup
  .envrc
  flake.nix
  renumics/spotlight/__version__.py
Due: pylint, mypy

Move Python env creation and activation to nix
  .envrc
  flake.nix
Due: none

add missing exports to package.json
  package.json
Due: none

Replace poetry with uv in CI
  .github/actions/setup-python-and-poetry/action.yml
  .github/actions/setup-python-and-uv/action.yml
  .github/workflows/ci.yml
Due: none

Path conditions:
  pylint: any of: \.py$
  mypy: any of: ^(renumics|scripts)/ and \.py$
  dynamic-versioning: any of: pyproject.toml
