Repository Renumics/spotlight: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, dynamic-versioning

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  require_serial: true

dynamic-versioning:
  name: dynamic-versioning
  language: system
  entry: poetry run scripts/check_dynamic_versioning.py

Rename `Lens` attrs
  renumics/spotlight/layout/__init__.py
  renumics/spotlight/layout/lenses.py
Due: pylint, mypy

Format nested arrays in array lens
  src/lenses/ArrayLens.tsx
Due: none

Fix html array keys
  src/lenses/ArrayLens.tsx
Due: none

Implement data types simple conversion
  renumics/spotlight/dtypes/conversion.py
  renumics/spotlight_plugins/core/hdf5_data_source.py
  tests/dataset/test_data_types.py
  tests/dataset/test_dataset.py
  tests/dataset/test_prune.py
  tests/dtypes/test_conversion.py
Due: pylint, mypy

Use setup-chromedriver@v2 action
  .github/workflows/ci.yml
Due: none

Fix unit-tests in installation tests
  .github/workflows/ci.yml
Due: none

Use `convert_to_dtype` in h5 `get_column`
  renumics/spotlight/backend/data_source.py
  renumics/spotlight/dtypes/conversion.py
  renumics/spotlight_plugins/core/hdf5_data_source.py
Due: pylint, mypy

silence pyright
  renumics/spotlight/dtypes/conversion.py
Due: pylint, mypy

remove simple from read_value
  renumics/spotlight_plugins/core/hdf5_data_source.py
Due: pylint, mypy

Fix CI tests
  .github/workflows/ci.yml
Due: none

handle np.bytes_ for dtype conversions
  renumics/spotlight/dtypes/conversion.py
  renumics/spotlight_plugins/core/api/table.py
  renumics/spotlight_plugins/core/hdf5_data_source.py
  tests/backend/test_h5.py
Due: pylint, mypy

handle arrays with differing lengths
  renumics/spotlight_plugins/core/hdf5_data_source.py
  tests/backend/test_h5.py
Due: pylint, mypy

accept lists for column values
  renumics/spotlight/backend/data_source.py
Due: pylint, mypy

use user defined dtypes for h5
  renumics/spotlight/app.py
  renumics/spotlight/backend/data_source.py
  renumics/spotlight/cache.py
  renumics/spotlight/dataset/__init__.py
  renumics/spotlight/dtypes/conversion.py
  renumics/spotlight_plugins/core/api/table.py
  renumics/spotlight_plugins/core/hdf5_data_source.py
  renumics/spotlight_plugins/core/pandas_data_source.py
  tests/backend/test_h5.py
Due: pylint, mypy

fix pre-commit errors
  renumics/spotlight/app.py
  renumics/spotlight/backend/data_source.py
  renumics/spotlight/cache.py
  renumics/spotlight/dataset/__init__.py
  renumics/spotlight/dtypes/conversion.py
  renumics/spotlight_plugins/core/api/table.py
  renumics/spotlight_plugins/core/hdf5_data_source.py
  tests/backend/test_h5.py
  tests/h5/conftest.py
  tests/h5/data.py
  tests/h5/test_h5.py
Due: pylint, mypy

remove todo
  renumics/spotlight/dtypes/conversion.py
Due: pylint, mypy

remove pytest-watch
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

fix typing
  renumics/spotlight/analysis/analyzers/cleanlab.py
  renumics/spotlight/backend/tasks/reduction.py
  renumics/spotlight/dtypes/conversion.py
  renumics/spotlight/io/pandas.py
  renumics/spotlight/viewer.py
  renumics/spotlight_plugins/core/hdf5_data_source.py
  renumics/spotlight_plugins/core/pandas_data_source.py
Due: pylint, mypy

add __init__.py to tests
  tests/__init__.py
  tests/backend/__init__.py
  tests/dataset/__init__.py
  tests/dataset/io/__init__.py
  tests/dtypes/__init__.py
  tests/h5/__init__.py
  tests/layout/__init__.py
Due: pylint

update tallymarks-small.h5
  data/tables/tallymarks-small.h5
Due: none

Add ids to tests with long parametrized values
  tests/dtypes/test_conversion.py
Due: pylint

Enable test install on Windows on dev branches
  .github/workflows/ci.yml
Due: none

Use temp dir instead of temp file to fix tests on Windows
  tests/h5/conftest.py
Due: pylint

Do not test install on Windows for dev branches
  .github/workflows/ci.yml
Due: none

replace pylint with ruff
  .pre-commit-config.yaml
  Makefile
  poetry.lock
  pyproject.toml
  renumics/spotlight/__init__.py
  renumics/spotlight/backend/__init__.py
  renumics/spotlight/backend/tasks/__init__.py
  renumics/spotlight/io/__init__.py
  renumics/spotlight/viewer.py
  renumics/spotlight_plugins/core/__init__.py
  ui_tests/helpers.py
  ui_tests/test_basics.py
  ui_tests/test_load_perfomance.py
  ui_tests/test_startpage.py
Due: pylint, mypy, dynamic-versioning

Make lazy strings in table to the length 100 instead of 50
  renumics/spotlight_plugins/core/pandas_data_source.py
Due: pylint, mypy

Convert string columns to category dtype for h5 data source
  renumics/spotlight/dtypes/conversion.py
  renumics/spotlight_plugins/core/hdf5_data_source.py
  tests/h5/test_h5.py
Due: pylint, mypy

chore: update certifi
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

chore: remove api test from pipeline
  .github/workflows/ci.yml
Due: none

chore: change lint locations
  Makefile
Due: none

only execute unit tests after install
  .github/workflows/ci.yml
Due: none

require integration tests for release
  .github/workflows/ci.yml
Due: none

fix ui tests
  Makefile
  tests/ui/basic_actions.py
  tests/ui/conftest.py
  tests/ui/helpers.py
  tests/ui/test_basics.py
  tests/ui/test_load_perfomance.py
  tests/ui/test_similarity_map.py
  tests/ui/test_startpage.py
Due: pylint

fetch full cell value when copying strings
  src/widgets/DataGrid/Cell/CellContextMenu.tsx
Due: none

filter default columns in inspector by type.binary
  src/widgets/Inspector/store.tsx
Due: none

collapse on triangle, select everywhere else
  src/widgets/IssuesWidget.tsx
Due: none

add missing rowIndex dependency to copy callback
  src/widgets/DataGrid/Cell/CellContextMenu.tsx
Due: none

dont fetch datasets in doc-test job
  .github/workflows/ci.yml
Due: none

Path conditions:
  pylint: any of: \.py$
  mypy: any of: ^(renumics|scripts)/ and \.py$
  dynamic-versioning: any of: pyproject.toml
