Repository Renumics/spotlight: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, dynamic-versioning

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    # local hooks
    - repo: local
      hooks:
          - id: pylint
            name: pylint
            entry: poetry run pylint
            language: system
            types: [python]
            require_serial: true
          - id: mypy
            name: mypy
            entry: poetry run mypy
            language: system
            types: [python]
            files: ^(renumics|scripts)/
            require_serial: true
          - id: dynamic-versioning
            name: dynamic-versioning
            language: system
            entry: poetry run scripts/check_dynamic_versioning.py
            files: pyproject.toml

    # "official" pre-commit hooks
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
          - id: trailing-whitespace
            exclude: \.secret\.
          - id: end-of-file-fixer
            exclude: \.secret\.
          - id: check-added-large-files
          - id: check-merge-conflict
          - id: check-executables-have-shebangs
          - id: check-yaml
            exclude: (\.secret\.)|(^\.github/.*\.yml)
          - id: check-json
          - id: check-toml
          - id: check-symlinks

    # third-pary hooks
    - repo: https://github.com/psf/black
      rev: 23.1.0
      hooks:
          - id: black
          - id: black-jupyter
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v2.7.1
      hooks:
          - id: prettier
            exclude: (\.secret\.)|(pnpm-lock.yaml)
    - repo: https://github.com/pre-commit/mirrors-eslint
      rev: v8.34.0
      hooks:
          - id: eslint
            files: src
    - repo: https://github.com/python-jsonschema/check-jsonschema
      rev: 0.21.0
      hooks:
          - id: check-github-actions
          - id: check-github-workflows
    - repo: https://github.com/jumanjihouse/pre-commit-hooks
      rev: 3.0.0
      hooks:
          - id: shellcheck
          - id: shfmt
    - repo: https://github.com/kynan/nbstripout
      rev: 0.6.1
      hooks:
          - id: nbstripout

Determine filetype from URL through HEAD request
  renumics/spotlight/data_store.py
Due: pylint, mypy

Remove unused API model
  renumics/spotlight/data_source/data_source.py
Due: pylint, mypy

Infer pandas dtypes in data store
  renumics/spotlight/data_store.py
  renumics/spotlight/io/pandas.py
  renumics/spotlight_plugins/core/pandas_data_source.py
Due: pylint, mypy

Remove debug prints
  renumics/spotlight/data_store.py
  renumics/spotlight_plugins/core/pandas_data_source.py
Due: pylint, mypy

remove duplicate decibel calculation
  src/lenses/SpectrogramLens/SpectrogramWorker.ts
  src/lenses/SpectrogramLens/index.tsx
Due: none

Update pnpm deps
  package.json
  pnpm-lock.yaml
Due: none

fix pnpm deps
  Makefile
  package.json
  pnpm-lock.yaml
Due: none

Update pnpm env
  package.json
  pnpm-lock.yaml
Due: none

Move pycatch22 to extras
  Makefile
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Import pycatch22 inside function in descriptors
  renumics/spotlight/dataset/descriptors/__init__.py
Due: pylint, mypy

Install all extras in CI
  .github/actions/setup-poetry/action.yml
Due: none

Fix descriptors test
  tests/integration/dataset/test_descriptors.py
Due: pylint

Debug extras install in CI
  .github/actions/setup-poetry/action.yml
Due: none

Try `poetry install --sync --all-extras`
  .github/actions/setup-poetry/action.yml
Due: none

Install renumics-spotlight[all] in integration tests
  .github/workflows/ci.yml
Due: none

Remove debug message
  .github/actions/setup-poetry/action.yml
Due: none

Fix install with extras in CI installation test
  .github/workflows/ci.yml
Due: none

`renumics-spotlight[descriptors]` in CI integration test
  .github/workflows/ci.yml
Due: none

Define extras `all`
  .github/workflows/ci.yml
  pyproject.toml
Due: dynamic-versioning

Meaningful message when import error at catch22
  renumics/spotlight/dataset/descriptors/__init__.py
Due: pylint, mypy

Update poetry.lock
  poetry.lock
Due: none

Update README.md
  README.md
Due: none

Create CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

remove unnecessary padding on settings icon
  src/lenses/SequenceLens/MenuBar.tsx
Due: none

add the ability to select windows and sequences to be displayed in sequence lense
  src/components/LineChart/LineChart.tsx
  src/lenses/SequenceLens/index.tsx
Due: none

allow more than 1 sequence column when a window column is selected
  src/lenses/SequenceLens/index.tsx
Due: none

Also run CI workflow on `pull_request` event
  .github/workflows/ci.yml
Due: none

Fix autogenerated elements for UI tests
  .gitignore
  tests/ui/_autogenerated_ui_elements.py
  tests/ui/generate_ui_test_elements.py
Due: pylint

Ignore autogenerated UI elements module in typecheck
  pyproject.toml
Due: dynamic-versioning

Do not start CI jobs/steps which use secrets ehn repository owner isnt Renumics
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Due: none

Update App.tsx
  src/App.tsx
Due: none

correct F1 metric
  src/widgets/MetricsWidget/metrics.ts
Due: none

Debug some variables in CI
  .github/workflows/ci.yml
Due: none

Check if head repo of PR is base repo
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Due: none

Remove broken debug
  .github/workflows/ci.yml
Due: none
