Repository Renumics/spotlight: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, dynamic-versioning

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  require_serial: true

dynamic-versioning:
  name: dynamic-versioning
  language: system
  entry: poetry run scripts/check_dynamic_versioning.py

Test Windows on dev branches
  .github/workflows/ci.yml
Due: none

Revert CI workflow
  .github/workflows/ci.yml
Due: none

only reload in dev mode
  renumics/spotlight/server.py
Due: pylint, mypy

remove `next` module
  renumics/spotlight/next/__init__.py
Due: pylint, mypy

set uvicorn log level to critical
  renumics/spotlight/server.py
Due: pylint, mypy

add reverse proxy for worker scripts
  renumics/spotlight/backend/app.py
Due: pylint, mypy

refactor worker to conform comlink
  src/lenses/SpectrogramLens/SpectrogramWorker.ts
  src/lenses/SpectrogramLens/index.tsx
Due: none

use layout set via `SPOTLIGHT_LAYOUT` as default layout
  renumics/spotlight/app.py
  renumics/spotlight/settings.py
  renumics/spotlight/viewer.py
  renumics/spotlight_plugins/core/api/layout.py
  tests/layout/test_setting.py
Due: pylint, mypy

refactor worker
  src/lenses/SpectrogramLens/SpectrogramWorker.ts
  src/lenses/SpectrogramLens/index.tsx
Due: none

refactor spectrogram scale selection
  src/lenses/SpectrogramLens/MenuBar.tsx
  src/lenses/SpectrogramLens/index.tsx
Due: none

add setuptools to deps
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

move github link to top
  src/components/AppBar.tsx
Due: none

pin pydantic to <2.0.0
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

new towhee api
  playbook/rookie/towhee_embedding.ipynb
Due: none

ignore type errors for click.command
  renumics/spotlight/cli.py
Due: pylint, mypy

towhee embedding new api
  playbook/rookie/towhee_embedding.ipynb
Due: none

change towhee model name
  playbook/rookie/towhee_embedding.ipynb
Due: none

upgrade mypy and other packages
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

ignore mypy errors in scripts
  renumics/spotlight/dataset/__init__.py
  scripts/generate_api_spec.py
  scripts/generate_demo_test_data.py
  scripts/generate_demo_test_data_ultra.py
  scripts/generate_multimodal_test_data.py
  scripts/generate_performance_test_data.py
  scripts/generate_test_csv.py
Due: pylint, mypy

Close socket connection after auto port found
  renumics/spotlight/server.py
Due: pylint, mypy

Temporarily actvate win and macos install test on dev branch
  .github/workflows/ci.yml
Due: none

Rollback CI
  .github/workflows/ci.yml
Due: none

Pass opened socket as FD to Uvicorn
  renumics/spotlight/server.py
Due: pylint, mypy

Do not pass socket FD on Windows, but do not close all FDs on Windows
  renumics/spotlight/server.py
Due: pylint, mypy

Close socket after launching child process
  renumics/spotlight/server.py
Due: pylint, mypy

Wait for Uvicorn (child process) to close before server stop
  renumics/spotlight/server.py
Due: pylint, mypy

Pass port instead of socket FD on Windows
  renumics/spotlight/server.py
Due: pylint, mypy

Rollback Ci workflow
  .github/workflows/ci.yml
Due: none

added story: making of embeddings movie
  playbook/stories/making_of_embeddings_movie.ipynb
Due: none

story tested
  playbook/stories/making_of_embeddings_movie.ipynb
Due: none

add wait="forever" option to viewer.show
  renumics/spotlight/viewer.py
Due: pylint, mypy

nicer typing for wait=forever/auto
  renumics/spotlight/viewer.py
Due: pylint, mypy

redirect output of server process to /dev/null when verbose=False
  renumics/spotlight/server.py
Due: pylint, mypy

use None as default value for stdout and stderr
  renumics/spotlight/server.py
Due: pylint, mypy

Stop Spotlight on Windows
  renumics/spotlight/cli.py
  renumics/spotlight/server.py
  renumics/spotlight/viewer.py
Due: pylint, mypy

Pin `numba` version in deps
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Handle dataset or folder correctly, fix exit at SIGTERM/SIGINT/SIGHUP
  renumics/spotlight/cli.py
  renumics/spotlight/server.py
  renumics/spotlight/viewer.py
Due: pylint, mypy

Update README.md
  README.md
Due: none

Path conditions:
  pylint: any of: \.py$
  mypy: any of: ^(renumics|scripts)/ and \.py$
  dynamic-versioning: any of: pyproject.toml
