Repository Renumics/spotlight: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, dynamic-versioning

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  require_serial: true

dynamic-versioning:
  name: dynamic-versioning
  language: system
  entry: poetry run scripts/check_dynamic_versioning.py

parse converter from_type from signature
  renumics/spotlight/dtypes/conversion.py
Due: pylint, mypy

:sparkles: Add comparison column for word cloud
  src/components/ui/Menu/ColumnSelect.tsx
  src/components/ui/Menu/Menu.tsx
  src/components/ui/Menu/TextArea.tsx
  src/widgets/WordCloudView/Cloud.tsx
  src/widgets/WordCloudView/MenuBar.tsx
  src/widgets/WordCloudView/WordCloudView.tsx
Due: none

create dtype options with categories in api
  renumics/spotlight/data_source/data_source.py
  renumics/spotlight/dtypes/conversion.py
  renumics/spotlight_plugins/core/api/table.py
  renumics/spotlight_plugins/core/hdf5_data_source.py
  renumics/spotlight_plugins/core/pandas_data_source.py
  tests/integration/backend/conftest.py
  tests/integration/backend/test_cache.py
Due: pylint, mypy

fix alignment of embeddings for reduction
  renumics/spotlight/backend/tasks/reduction.py
  renumics/spotlight_plugins/core/hdf5_data_source.py
Due: pylint, mypy

:sparkles: Add time constand and fade in animation
  src/App.tsx
  src/CTADialog.tsx
  src/components/ui/Dialog.tsx
  src/icons/X.tsx
Due: none

:lipstick: Adapt timings
  src/CTADialog.tsx
Due: none

:zap: Allow for filtering of words with length >=x
  src/widgets/WordCloudView/MenuBar.tsx
  src/widgets/WordCloudView/WordCloudView.tsx
Due: none

:children_crossing: Also split by " and '
  src/widgets/WordCloudView/WordCloudView.tsx
Due: none

add mel scale for spectrogram
  src/lenses/SpectrogramLens/Spectrogram.tsx
  src/lenses/SpectrogramLens/index.tsx
Due: none

:lipstick: Add hf card
  src/CTADialog.tsx
Due: none

:construction: Add content
  src/CTADialog.tsx
Due: none

Add data_store wrapper to app
  renumics/spotlight/analysis/__init__.py
  renumics/spotlight/analysis/analyzers/cleanlab.py
  renumics/spotlight/analysis/analyzers/cleanvision.py
  renumics/spotlight/analysis/typing.py
  renumics/spotlight/app.py
  renumics/spotlight/backend/tasks/reduction.py
  renumics/spotlight/backend/websockets.py
  renumics/spotlight/data_source/data_source.py
  renumics/spotlight/data_store.py
  renumics/spotlight_plugins/core/api/layout.py
  renumics/spotlight_plugins/core/api/table.py
  tests/integration/backend/conftest.py
Due: pylint, mypy

:lipstick: Randomize order and color by gradient
  src/CTADialog.tsx
Due: none

:lipstick: Set time to 30s
  src/CTADialog.tsx
Due: none

remove sanitize values from get_column
  renumics/spotlight_plugins/core/api/table.py
Due: pylint, mypy

remove dtypes from signature of find_issues
  renumics/spotlight/analysis/__init__.py
  renumics/spotlight/app.py
Due: pylint, mypy

fix types in data store
  renumics/spotlight/data_store.py
Due: pylint, mypy

sliceguard notebook added
  playbook/allstar/data_slices_sliceguard.ipynb
Due: none

clean sliceguard notebook
  playbook/allstar/data_slices_sliceguard.ipynb
Due: none

support indices in get_column_values
  renumics/spotlight/backend/tasks/reduction.py
  renumics/spotlight/data_source/data_source.py
  renumics/spotlight/data_store.py
  renumics/spotlight_plugins/core/api/table.py
  renumics/spotlight_plugins/core/hdf5_data_source.py
  renumics/spotlight_plugins/core/pandas_data_source.py
  tests/integration/h5/data.py
Due: pylint, mypy

ignore types in get cell data safe
  renumics/spotlight/analysis/analyzers/cleanvision.py
Due: pylint, mypy

remove sanitize_values
  renumics/spotlight/app.py
  renumics/spotlight/backend/serialization.py
  renumics/spotlight/backend/websockets.py
Due: pylint, mypy

remove data_source.get_cell_value
  renumics/spotlight/data_source/data_source.py
  renumics/spotlight/data_store.py
  renumics/spotlight_plugins/core/hdf5_data_source.py
  renumics/spotlight_plugins/core/pandas_data_source.py
Due: pylint, mypy

remove hidden, lazy, index and embedding_length from backend
  renumics/spotlight_plugins/core/api/table.py
Due: pylint, mypy

use --analyze-all in `make dev`
  Makefile
Due: none

dont use legacy column attributes in frontend
  src/client/models/Column.ts
  src/components/ColumnSelector/ColumnListItem.tsx
  src/components/FilterBar/FilterEditor.tsx
  src/components/GltfViewer/GltfScene.tsx
  src/datatypes.ts
  src/hooks/useColorTransferFunction.ts
  src/lenses/useCellValue.ts
  src/stores/dataset/columnFactory.ts
  src/stores/dataset/dataset.ts
  src/types/dataset.ts
  src/widgets/DataGrid/Cell/CellContextMenu.tsx
  src/widgets/DataGrid/Cell/HeaderCell.tsx
  src/widgets/DataGrid/DataGrid.tsx
  src/widgets/Inspector/ViewConfigurator/ColumnListItem.tsx
  src/widgets/Inspector/dataContext.tsx
  src/widgets/SimilarityMap/SimilarityMap.tsx
Due: none

remove unused imports
  src/widgets/SimilarityMap/SimilarityMap.tsx
Due: none

:children_crossing: Add links to ressources and more responsiveness
  src/CTADialog.tsx
Due: none

:children_crossing: Set time to 30s
  src/CTADialog.tsx
Due: none

:rotating_light: Linting
  src/CTADialog.tsx
Due: none

use None for null windows
  renumics/spotlight/dtypes/conversion.py
  tests/unit/dtypes/test_conversion.py
Due: pylint, mypy

remove handling of [nan,nan] in frontend
  src/stores/dataset/dataset.ts
  tests/unit/dtypes/test_conversion.py
Due: pylint

fix unit test
  tests/unit/dtypes/test_conversion.py
Due: pylint

fix: gracefully handle conversion errors in cleanvision analysis
  renumics/spotlight/analysis/analyzers/cleanvision.py
  renumics/spotlight/data_store.py
  renumics/spotlight/dtypes/conversion.py
  tests/unit/dtypes/test_conversion.py
Due: pylint, mypy

add dummy confusion matrix widget
  src/hooks/useSize.ts
  src/widgets/ConfusionMatrix/Matrix.tsx
  src/widgets/ConfusionMatrix/index.tsx
  src/widgets/index.ts
Due: none

:rotating_light: Format sliceguard
  playbook/allstar/data_slices_sliceguard.ipynb
Due: none

integrate matrix with data store
  renumics/spotlight_plugins/core/api/table.py
  src/widgets/ConfusionMatrix/Matrix.tsx
  src/widgets/ConfusionMatrix/index.tsx
Due: pylint, mypy

:rotating_light: Linting
  src/widgets/WordCloudView/Cloud.tsx
  src/widgets/WordCloudView/MenuBar.tsx
  src/widgets/WordCloudView/WordCloudView.tsx
Due: none

add bucket counts to heatmap
  src/components/ui/Menu/ColumnSelect.tsx
  src/widgets/ConfusionMatrix/Matrix.tsx
  src/widgets/ConfusionMatrix/index.tsx
  src/widgets/ConfusionMatrix/types.ts
Due: none

feat: highlight and select rows of confusion matrix
  src/widgets/ConfusionMatrix/Matrix.tsx
  src/widgets/ConfusionMatrix/index.tsx
  src/widgets/ConfusionMatrix/types.ts
Due: none

Path conditions:
  pylint: any of: \.py$
  mypy: any of: ^(renumics|scripts)/ and \.py$
  dynamic-versioning: any of: pyproject.toml
