Repository Renumics/spotlight: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, dynamic-versioning

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  require_serial: true

dynamic-versioning:
  name: dynamic-versioning
  language: system
  entry: poetry run scripts/check_dynamic_versioning.py

Fix: analytics tests
  tests/integration/backend/test_reporting.py
Due: pylint

Do not watch for dependencies folders
  vite.config.ts
Due: none

Allow to select audio channel in spectrogram lens, fix cross-origin
  renumics/spotlight/layout/lenses.py
  src/lenses/SpectrogramLens/MenuBar.tsx
  src/lenses/SpectrogramLens/index.tsx
  src/stores/dataset/dataset.ts
Due: pylint, mypy

Fix image lens
  vite.config.ts
Due: none

proxy everything vite through the backend during development
  renumics/spotlight/app.py
  renumics/spotlight/backend/templates/index.html
  src/lenses/SpectrogramLens/index.tsx
  src/stores/dataset/dataset.ts
  src/stores/pluginStore.ts
Due: pylint, mypy

refactor: replace react-beautiful-dnd with dnd-kit
  package.json
  pnpm-lock.yaml
  renumics/spotlight/webbrowser.py
  src/components/FilterBar/ValueInput.tsx
  src/hooks/useCell.ts
  src/systems/dnd/DragContext.tsx
  src/systems/dnd/Draggable.tsx
  src/systems/dnd/Droppable.tsx
  src/widgets/Inspector/Header/Header.tsx
  src/widgets/Inspector/Header/Row.tsx
  src/widgets/Inspector/store.tsx
  tsconfig.node.json
  vite.config.ts
Due: pylint, mypy

bump node version in ci
  .tool-versions
Due: none

change other deprecated things
  package.json
  pnpm-lock.yaml
  src/components/GltfViewer/GltfScene.tsx
  src/stores/dataset/dataset.ts
Due: none

Fix: add torchvision to dependencies
  pyproject.toml
  uv.lock
Due: dynamic-versioning

Implement lasso selection for similarity map and scatter plot
  docs/configure_visualizations/ui_components/scatter_plot.md
  docs/configure_visualizations/ui_components/similarity_map.md
  package.json
  pnpm-lock.yaml
  src/components/AppBar.tsx
  src/components/shared/Plot/Brush.tsx
  src/components/shared/Plot/Lasso.tsx
  src/components/shared/Plot/index.ts
  src/components/shared/Plot/types.ts
  src/icons/Lasso.tsx
  src/icons/RectangularSelection.tsx
  src/stores/appSettings.ts
  src/widgets/ScatterplotView/ScatterplotView.tsx
  src/widgets/SimilarityMap/SimilarityMap.tsx
  tests/ui/basic_actions.py
  tests/ui/test_similarity_map.py
Due: pylint

Fix UI test
  tests/ui/test_basics.py
Due: pylint

Update aiohttp
  uv.lock
Due: none

Update ip-address and postcss
  pnpm-lock.yaml
Due: none

Update nanoid and js-yaml
  pnpm-lock.yaml
Due: none

docs: add HFlow physical-AI review use case
  docs/use_cases/Multimodal/hflow_robotics_review.md
  docs/use_cases/index.md
  mkdocs.yml
Due: none

docs: add HFlow dataset snapshot use case
  docs/use_cases/Multimodal/hflow_dataset_snapshot.md
  mkdocs.yml
Due: none

Update packages with vulnerabilities
  pnpm-lock.yaml
Due: none

Cache the UMAP result on disk
  docs/configure_visualizations/ui_components/similarity_map.md
  renumics/spotlight/__init__.py
  renumics/spotlight/backend/tasks/reduction.py
  renumics/spotlight/cache.py
  tests/unit/backend/__init__.py
  tests/unit/backend/test_reduction_cache.py
Due: pylint, mypy

Add an example table to the ui tests
  tests/ui/basic_actions.py
  tests/ui/conftest.py
  tests/ui/example_tables.py
  tests/ui/helpers.py
  tests/ui/test_example_table.py
Due: pylint

Fix video lens never playing in the production build
  src/lenses/VideoLens.tsx
  tests/ui/test_video_lens.py
Due: pylint

Start a mouse drag from a table cell only after a 12 px movement
  package.json
  pnpm-lock.yaml
  src/systems/dnd/DragContext.tsx
  tests/ui/test_table_selection.py
Due: pylint

Fix a click that ends in another cell selecting the first row
  src/widgets/DataGrid/MouseControls.tsx
  tests/ui/test_table_selection.py
Due: pylint

Fix Copy Cell Value copying another row in a sorted or filtered table
  src/widgets/DataGrid/Cell/CellContextMenu.tsx
  tests/ui/test_cell_context_menu.py
Due: pylint

Fix a row being selected twice by a range of rows over a selected row
  src/stores/dataset/dataset.ts
  src/stores/dataset/uniqueIndices.test.ts
  src/stores/dataset/uniqueIndices.ts
  tests/ui/test_selection_ranges.py
Due: pylint

Fix the column relevance worker failing to start
  src/stores/dataset/relevanceWorker.ts
  tests/ui/test_column_relevance.py
Due: pylint

Hash the data of the UMAP cache key without a copy
  renumics/spotlight/backend/tasks/reduction.py
  tests/unit/backend/test_reduction_cache.py
Due: pylint, mypy

Open the disk caches when they are first used
  renumics/spotlight/cache.py
  tests/unit/test_cache.py
Due: pylint, mypy

Register a table cell as a drag source only when it can be dragged
  src/widgets/DataGrid/Cell/CellFactory.tsx
  src/widgets/DataGrid/Cell/DraggableCell.tsx
  tests/ui/test_table_selection.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  mypy: any of: ^(renumics|scripts)/ and \.py$
  dynamic-versioning: any of: pyproject.toml
