Repository Renumics/spotlight: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, dynamic-versioning

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    # local hooks
    - repo: local
      hooks:
          - id: pylint
            name: pylint
            entry: poetry run pylint
            language: system
            types: [python]
            require_serial: true
          - id: mypy
            name: mypy
            entry: poetry run mypy
            language: system
            types: [python]
            files: ^(renumics|scripts)/
            require_serial: true
          - id: dynamic-versioning
            name: dynamic-versioning
            language: system
            entry: poetry run scripts/check_dynamic_versioning.py
            files: pyproject.toml

    # "official" pre-commit hooks
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
          - id: trailing-whitespace
            exclude: \.secret\.
          - id: end-of-file-fixer
            exclude: \.secret\.
          - id: check-added-large-files
          - id: check-merge-conflict
          - id: check-executables-have-shebangs
          - id: check-yaml
            exclude: (\.secret\.)|(^\.github/.*\.yml)
          - id: check-json
          - id: check-toml
          - id: check-symlinks

    # third-pary hooks
    - repo: https://github.com/psf/black
      rev: 23.1.0
      hooks:
          - id: black
          - id: black-jupyter
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v2.7.1
      hooks:
          - id: prettier
            exclude: (\.secret\.)|(pnpm-lock.yaml)
    - repo: https://github.com/pre-commit/mirrors-eslint
      rev: v8.34.0
      hooks:
          - id: eslint
            files: src
    - repo: https://github.com/python-jsonschema/check-jsonschema
      rev: 0.21.0
      hooks:
          - id: check-github-actions
          - id: check-github-workflows
    - repo: https://github.com/jumanjihouse/pre-commit-hooks
      rev: 3.0.0
      hooks:
          - id: shellcheck
          - id: shfmt
    - repo: https://github.com/kynan/nbstripout
      rev: 0.6.1
      hooks:
          - id: nbstripout

by default display all lazy columns in inspector
  src/widgets/Inspector/store.tsx
Due: none

fix flex parameters of dataissues menubar
  src/widgets/IssuesWidget.tsx
Due: none

add proxy for worker scripts
  renumics/spotlight/app.py
Due: pylint, mypy

escape filter values from table
  src/widgets/DataGrid/Cell/CellContextMenu.tsx
Due: none

remove spotlight-notebook
  .github/workflows/ci.yml
  pyproject.toml
  renumics/spotlight/notebook/__init__.py
  renumics/spotlight/notebook/cli.py
  renumics/spotlight/notebook/theme/__init__.py
  renumics/spotlight/notebook/theme/custom.css
  renumics/spotlight/notebook/theme/logo.svg
Due: pylint, mypy, dynamic-versioning

remove notebook make targets
  Makefile
Due: none

remove notebook theme data
  data/notebook-theme/layout/notebook.less
  data/notebook-theme/styles/renumics-light.less
Due: none

remove zustand-store-addons from deps
  package.json
  pnpm-lock.yaml
Due: none

replace watchers with .subscribe() in dataset store
  src/stores/dataset/dataset.ts
Due: none

Relock poetry
  poetry.lock
Due: none

:children_crossing: Increase timeout for layout loading in order to prevent timeouts
  renumics/spotlight/layout/__init__.py
  ui_tests/helpers.py
Due: pylint, mypy

:bug: Dont fail when there is a column in the layout/selected that does not exist
  src/widgets/Histogram/Bars.tsx
  src/widgets/Histogram/Histogram.tsx
  src/widgets/Histogram/Tooltip.tsx
Due: none

:children_crossing: Use category labels instead of number in histogram
  src/widgets/Histogram/useHistogram.ts
Due: none

:bug: Only highlight/select filtered when highlighting/clicking on filtered bin in histogram
  src/widgets/Histogram/Bars.tsx
Due: none

autoformat
  playbook/rookie/towhee_embedding.ipynb
Due: none

remove notebook start in windows install test
  .github/workflows/ci.yml
  scripts/Test-SpotlightNotebookStart.ps1
Due: none

Fix types
  renumics/spotlight/server.py
Due: pylint, mypy

added hf audio embedding notebook
  playbook/rookie/huggingface_embedding-audio.ipynb
Due: none

make worker single function
  src/lenses/SpectrogramLens/SpectrogramWorker.ts
  src/lenses/SpectrogramLens/index.tsx
Due: none

add function for dtype conversion outside of data sources
  poetry.lock
  pyproject.toml
  renumics/spotlight/dtypes/conversion.py
  tests/dtypes/conversion.py
Due: pylint, mypy, dynamic-versioning

add simple tests for audio,video and mesh types
  tests/dtypes/conversion.py
Due: pylint

Update useHistogram.ts
  src/widgets/Histogram/useHistogram.ts
Due: none

:bug: Set key to undefined if it is not in currently available column keys
  src/widgets/Histogram/Histogram.tsx
Due: none

dont raise in reporting tests when CI not defined
  tests/dtypes/conversion.py
  tests/test_backend/test_reporting.py
Due: pylint

convert dtype after fetching value from h5 table
  renumics/spotlight_plugins/core/hdf5_data_source.py
Due: pylint, mypy

init color scale outside of inner loop
  src/components/GltfViewer/GltfScene.tsx
Due: none

add integration tests for get_cell_data (from h5)
  poetry.lock
  pyproject.toml
  renumics/spotlight/dtypes/conversion.py
  renumics/spotlight_plugins/core/hdf5_data_source.py
  tests/__init__.py
  tests/backend/conftest.py
  tests/backend/test_app_csv_df.py
  tests/backend/test_app_tally_df.py
  tests/backend/test_cache.py
  tests/backend/test_double_app_tally_df.py
  tests/backend/test_h5.py
  tests/backend/test_reporting.py
  tests/dataset/conftest.py
  tests/dataset/io/test_audio.py
  tests/dataset/test_categorical.py
  tests/dataset/test_data_types.py
  tests/dataset/test_dataset.py
  tests/dataset/test_descriptors.py
  tests/dataset/test_fancy_indexing.py
  tests/dataset/test_h5_file_parsing.py
  tests/dataset/test_prune.py
  tests/dtypes/test_conversion.py
  tests/test_backend/__init__.py
  tests/test_dataset/__init__.py
Due: pylint, mypy, dynamic-versioning

register converters via decorator
  renumics/spotlight/dtypes/conversion.py
  renumics/spotlight_plugins/core/hdf5_data_source.py
  tests/backend/test_h5.py
  tests/dtypes/test_conversion.py
Due: pylint, mypy

fix typing of converters
  renumics/spotlight/dtypes/conversion.py
Due: pylint, mypy

Generate random ID for inspector lenses if not given
  renumics/spotlight/layout/widgets.py
Due: pylint, mypy

Remove Spotlight Pro widgets from Spotlight layout
  renumics/spotlight/layout/__init__.py
  renumics/spotlight/layout/widgets.py
Due: pylint, mypy

Add functional-style `inspector` widget
  renumics/spotlight/layout/__init__.py
  renumics/spotlight/layout/widgets.py
Due: pylint, mypy

fix type errrors
  src/lenses/SpectrogramLens/MenuBar.tsx
  src/lenses/SpectrogramLens/index.tsx
Due: none

Add typed functions for Spotlight widget lenses creation
  renumics/spotlight/layout/__init__.py
  renumics/spotlight/layout/lenses.py
  renumics/spotlight/layout/widgets.py
Due: pylint, mypy

Show both lens name and used columns (if differ) in lens tooltip
  src/widgets/Inspector/Header/Row.tsx
Due: none

remove note from comment
  renumics/spotlight/app.py
Due: pylint, mypy
