Repository Renumics/spotlight: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, dynamic-versioning

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    # local hooks
    - repo: local
      hooks:
          - id: pylint
            name: pylint
            entry: poetry run pylint
            language: system
            types: [python]
            require_serial: true
          - id: mypy
            name: mypy
            entry: poetry run mypy
            language: system
            types: [python]
            files: ^(renumics|scripts)/
            require_serial: true
          - id: dynamic-versioning
            name: dynamic-versioning
            language: system
            entry: poetry run scripts/check_dynamic_versioning.py
            files: pyproject.toml

    # "official" pre-commit hooks
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
          - id: trailing-whitespace
            exclude: \.secret\.
          - id: end-of-file-fixer
            exclude: \.secret\.
          - id: check-added-large-files
          - id: check-merge-conflict
          - id: check-executables-have-shebangs
          - id: check-yaml
            exclude: (\.secret\.)|(^\.github/.*\.yml)
          - id: check-json
          - id: check-toml
          - id: check-symlinks

    # third-pary hooks
    - repo: https://github.com/psf/black
      rev: 23.1.0
      hooks:
          - id: black
          - id: black-jupyter
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v2.7.1
      hooks:
          - id: prettier
            exclude: (\.secret\.)|(pnpm-lock.yaml)
    - repo: https://github.com/pre-commit/mirrors-eslint
      rev: v8.34.0
      hooks:
          - id: eslint
            files: src
    - repo: https://github.com/python-jsonschema/check-jsonschema
      rev: 0.21.0
      hooks:
          - id: check-github-actions
          - id: check-github-workflows
    - repo: https://github.com/jumanjihouse/pre-commit-hooks
      rev: 3.0.0
      hooks:
          - id: shellcheck
          - id: shfmt
    - repo: https://github.com/kynan/nbstripout
      rev: 0.6.1
      hooks:
          - id: nbstripout

story update
  playbook/stories/making_of_embeddings_animation.ipynb.ipynb
  playbook/stories/making_of_embeddings_movie.ipynb
Due: none

gitignore upated
  .gitignore
Due: none

Start initial analyze if desired
  renumics/spotlight/app.py
Due: pylint, mypy

Skip CleanVision analysis if for empty image columns
  renumics/spotlight/analysis/analyzers/cleanvision.py
Due: pylint, mypy

Copy `df` column in pandas data source `get_column` to avoid `df` mutation as side effect
  renumics/spotlight/io/pandas.py
  renumics/spotlight_plugins/core/pandas_data_source.py
Due: pylint, mypy

final testing
  playbook/stories/making_of_embeddings_animation.ipynb
  playbook/stories/making_of_embeddings_animation.ipynb.ipynb
Due: none

Revert "gitignore upated"
  .gitignore
Due: none

Handle `dtypes` outside of data source
  Makefile
  renumics/spotlight/analysis/analyzers/cleanlab.py
  renumics/spotlight/analysis/analyzers/cleanvision.py
  renumics/spotlight/app.py
  renumics/spotlight/backend/__init__.py
  renumics/spotlight/backend/data_source.py
  renumics/spotlight/backend/tasks/reduction.py
  renumics/spotlight/backend/websockets.py
  renumics/spotlight_plugins/core/api/layout.py
  renumics/spotlight_plugins/core/api/table.py
  renumics/spotlight_plugins/core/hdf5_data_source.py
  renumics/spotlight_plugins/core/pandas_data_source.py
  src/client/.openapi-generator/FILES
  src/client/apis/ConfigApi.ts
  src/client/apis/DefaultApi.ts
  src/client/apis/FilebrowserApi.ts
  src/client/apis/LayoutApi.ts
  src/client/apis/PluginsApi.ts
  src/client/apis/TableApi.ts
  src/client/models/AnalysisInfo.ts
  src/client/models/Column.ts
  src/client/models/DataIssue.ts
  src/client/models/FileEntry.ts
  src/client/models/Folder.ts
  src/client/models/HTTPValidationError.ts
  src/client/models/LocationInner.ts
  src/client/models/Plugin.ts
  src/client/models/ResponseGetValue.ts
  src/client/models/SetConfigRequest.ts
  src/client/models/SetLayoutRequest.ts
  src/client/models/Table.ts
  src/client/models/ValidationError.ts
  src/client/models/Value.ts
  src/client/models/index.ts
  src/components/Workspace/Workspace.tsx
Due: pylint, mypy

Do not handle SIGHUP in CLI on Windows
  renumics/spotlight/cli.py
Due: pylint, mypy

Disable dev in api-client make target
  Makefile
Due: none

Fix validation error when layout is `None`
  renumics/spotlight_plugins/core/api/layout.py
  src/components/Workspace/Workspace.tsx
Due: pylint, mypy

Pin `fastapi<0.99`
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Pin `fastapi`
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Fix client types
  src/client/.openapi-generator/FILES
  src/client/apis/ConfigApi.ts
  src/client/apis/DefaultApi.ts
  src/client/apis/FilebrowserApi.ts
  src/client/apis/LayoutApi.ts
  src/client/apis/PluginsApi.ts
  src/client/apis/TableApi.ts
  src/client/models/AnalysisInfo.ts
  src/client/models/Column.ts
  src/client/models/DataIssue.ts
  src/client/models/FileEntry.ts
  src/client/models/Folder.ts
  src/client/models/HTTPValidationError.ts
  src/client/models/LocationInner.ts
  src/client/models/Plugin.ts
  src/client/models/ResponseGetValue.ts
  src/client/models/SetConfigRequest.ts
  src/client/models/SetLayoutRequest.ts
  src/client/models/Table.ts
  src/client/models/ValidationError.ts
  src/client/models/Value.ts
  src/client/models/index.ts
Due: none

Do not skip client spec validation
  Makefile
Due: none

Fix array lens appearance for array columns
  src/lenses/useCellValue.ts
Due: none

Support 2-dim inputs in `Sequence1D` constructor
  renumics/spotlight/dtypes/__init__.py
Due: pylint, mypy

Add sequences to test CSV
  scripts/generate_test_csv.py
Due: pylint, mypy

Guess pandas columns dtypes
  renumics/spotlight/io/pandas.py
  renumics/spotlight_plugins/core/pandas_data_source.py
Due: pylint, mypy

fix typing
  poetry.lock
  pyproject.toml
  renumics/spotlight/dtypes/typing.py
Due: pylint, mypy, dynamic-versioning

satisfy pylint
  renumics/spotlight/io/pandas.py
Due: pylint, mypy

use explicit dict for column types by name
  renumics/spotlight/dtypes/typing.py
Due: pylint, mypy

stroy review comments in
  playbook/stories/making_of_embeddings_animation.ipynb
Due: none

cleanup
  playbook/stories/making_of_embeddings_animation.ipynb
Due: none

transfer empty cells as None for all lazy dtypes from pandas
  renumics/spotlight/backend/data_source.py
  renumics/spotlight/dtypes/typing.py
  renumics/spotlight/server.py
  renumics/spotlight_plugins/core/api/table.py
  renumics/spotlight_plugins/core/hdf5_data_source.py
  renumics/spotlight_plugins/core/pandas_data_source.py
  src/client/models/Column.ts
  src/stores/dataset/columnFactory.ts
  src/stores/dataset/dataset.ts
Due: pylint, mypy

remove debug print of na_mask
  renumics/spotlight_plugins/core/pandas_data_source.py
Due: pylint, mypy

remove early inference for raw string columns
  renumics/spotlight/io/pandas.py
  renumics/spotlight_plugins/core/pandas_data_source.py
Due: pylint, mypy

remove problematic test for CI env variable
  tests/test_backend/test_reporting.py
Due: pylint

fix tests
  tests/test_backend/conftest.py
  tests/test_backend/test_app.py
  tests/test_backend/test_reporting.py
  tests/test_dataset/test_dataset.py
Due: pylint

delete CI env var in tests that check non-ci settings
  tests/test_backend/test_reporting.py
Due: pylint

support windows in ArrayLens
  src/lenses/ArrayLens.tsx
  src/lenses/index.ts
Due: none

explicitly depend on pillow
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

add back --reload in dev
  renumics/spotlight/server.py
Due: pylint, mypy

shorten `simple` representation of strings
  renumics/spotlight_plugins/core/api/table.py
  renumics/spotlight_plugins/core/pandas_data_source.py
  src/lenses/useCellValue.ts
Due: pylint, mypy

update typescript
  package.json
  pnpm-lock.yaml
Due: none

add explicit binary attribute to data types
  src/components/ColumnSelector/ColumnListItem.tsx
  src/components/FilterBar/FilterEditor.tsx
  src/components/GltfViewer/GltfScene.tsx
  src/datatypes.ts
  src/hooks/useColorTransferFunction.ts
  src/lenses/useCellValue.ts
  src/stores/dataset/columnFactory.ts
  src/widgets/DataGrid/Cell/HeaderCell.tsx
  src/widgets/Inspector/ViewConfigurator/ColumnListItem.tsx
  src/widgets/SimilarityMap/SimilarityMap.tsx
Due: none

only post layout, if there is a diff
  src/components/Workspace/Workspace.tsx
Due: none

remove unused import
  src/components/Workspace/Workspace.tsx
Due: none

implement decibel colorscale
  src/lenses/SpectrogramLens/MenuBar.tsx
  src/lenses/SpectrogramLens/Spectrogram.tsx
  src/lenses/SpectrogramLens/index.tsx
Due: none

use Sequence1D as fallback type for 1d arrays
  renumics/spotlight/io/pandas.py
Due: pylint, mypy
