Repository Renumics/spotlight: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, dynamic-versioning

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  require_serial: true

dynamic-versioning:
  name: dynamic-versioning
  language: system
  entry: poetry run scripts/check_dynamic_versioning.py

Report full traceback and path at exceptions
  renumics/spotlight/app.py
  renumics/spotlight/reporting.py
Due: pylint, mypy

Backup dataframe on viewer close if exists
  renumics/spotlight/viewer.py
Due: pylint, mypy

Test `viewer.df` during and after spotlight show
  tests/integration/pandas/test_pandas.py
Due: pylint

Clean traceback
  renumics/spotlight/reporting.py
Due: pylint, mypy

Fix relative_to usage
  renumics/spotlight/reporting.py
Due: pylint, mypy

Update pnpm setup action to use Node20
  .github/actions/setup-pnpm/action.yml
Due: none

fix: unbound variables in reporting.py
  renumics/spotlight/reporting.py
Due: pylint, mypy

remove debug log
  renumics/spotlight/reporting.py
Due: pylint, mypy

add api.parseError to parse api errors to Problems
  src/api/errors.ts
  src/api/index.ts
Due: none

add loadinError to dataset store
  src/stores/dataset/dataset.ts
Due: none

add helper component to center content
  src/components/ui/Center.tsx
Due: none

make Center w-full/h-full
  src/components/ui/Center.tsx
Due: none

add action buttons to loading error screen
  src/App.tsx
  src/components/LoadingError.tsx
  src/stores/dataset/dataset.ts
Due: none

Use string column names for Pandas tables
  renumics/spotlight/backend/exceptions.py
  renumics/spotlight_plugins/core/pandas_data_source.py
Due: pylint, mypy

Use `isinstance(dtype, pd.CategoricalDtype)` to check if a Pandas column is categorical because of deprecation in late versions
  renumics/spotlight/dataset/pandas.py
  renumics/spotlight_plugins/core/pandas_data_source.py
Due: pylint, mypy

display loading error on failed refresh
  renumics/spotlight/app.py
  src/stores/dataset/dataset.ts
Due: pylint, mypy

Treat multiindex column names with all but first empty components as strings
  renumics/spotlight_plugins/core/pandas_data_source.py
Due: pylint, mypy

Only convert int column values to typed array if column is optional
  src/stores/dataset/dataset.ts
Due: none

Use `null` as default value for optional columns
  src/components/FilterBar/FilterBar.tsx
  src/datatypes.ts
Due: none

add missing newline to event details
  renumics/spotlight/reporting.py
Due: pylint, mypy

Test pandas data source
  tests/integration/data_source/test_pandas_data_source.py
Due: pylint

Test editable Pandas data source
  tests/integration/data_source/test_pandas_data_source.py
Due: pylint

Use stble pre-commit versions
  .pre-commit-config.yaml
Due: none

Update prettier
  package.json
  pnpm-lock.yaml
  src/client/models/DataIssue.ts
  src/client/models/FileEntry.ts
  src/client/runtime.ts
  src/components/ColumnSelector/ColumnListItem.tsx
  src/components/GltfViewer/morphing.tsx
  src/components/shared/Plot/Brush.tsx
  src/components/shared/Plot/Legend/CategoricalLegend.tsx
  src/components/shared/Plot/Points.tsx
  src/services/data.ts
  src/stores/appSettings.ts
  src/widgets/DataGrid/context/columnContext.tsx
  src/widgets/DataGrid/context/resizeContext.tsx
  src/widgets/DataGrid/context/sortingContext.tsx
  src/widgets/Histogram/useHistogram.ts
  src/widgets/Inspector/ViewConfigurator/ColumnListItem.tsx
  src/widgets/SimilarityMap/types.ts
  src/widgets/WordCloudView/WordCloudView.tsx
Due: none

add ds to exception where possible
  renumics/spotlight/app.py
  renumics/spotlight/reporting.py
Due: pylint, mypy

Bump `LanceMcCarthy/Action-AzureBlobUpload` action to version 3
  .github/workflows/ci.yml
Due: none

add conversion from Path to various binary types
  renumics/spotlight/dtypes/conversion.py
Due: pylint, mypy

add tests for conversion from pathlib.Path
  tests/unit/dtypes/test_conversion.py
Due: pylint

set fill for text in bbox title
  src/lenses/BoundingBoxLens/BBox.tsx
  src/lenses/BoundingBoxLens/index.tsx
Due: none

use bold instead of added outline in bbox title
  src/lenses/BoundingBoxLens/BBox.tsx
Due: none

feat: allow string as label in bbox lens
  src/lenses/BoundingBoxLens/index.tsx
Due: none

refactor: generate label text and color in hook
  src/hooks/useColorTransferFunction.ts
  src/lenses/BoundingBoxLens/index.tsx
Due: none

dont draw title bar when title is missing
  src/lenses/BoundingBoxLens/BBox.tsx
Due: none

use empty labels in bbox lens without a label column
  src/lenses/BoundingBoxLens/index.tsx
Due: none

Auto-infer categories for requested sequence dtype
  renumics/spotlight/data_store.py
Due: pylint, mypy

Return user dtype as fallback in refine dtype
  renumics/spotlight/data_store.py
Due: pylint, mypy

feat: better handle spotlight.show() without a dataset
  renumics/spotlight/app.py
  renumics/spotlight/viewer.py
  renumics/spotlight_plugins/core/api/table.py
  src/stores/dataset/dataset.ts
Due: pylint, mypy

Add bounding box lens to Python layout
  renumics/spotlight/layout/lenses.py
Due: pylint, mypy

Adjust BB lens docstring
  renumics/spotlight/layout/lenses.py
Due: pylint, mypy

Change name of the `databases` package extra from `aiosqlite` to `sqlite` since existed longer
  poetry.lock
  pyproject.toml
Due: dynamic-versioning

Path conditions:
  pylint: any of: \.py$
  mypy: any of: ^(renumics|scripts)/ and \.py$
  dynamic-versioning: any of: pyproject.toml
