Repository Renumics/spotlight: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, dynamic-versioning

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    # local hooks
    - repo: local
      hooks:
          - id: pylint
            name: pylint
            entry: poetry run pylint
            language: system
            types: [python]
            require_serial: true
          - id: mypy
            name: mypy
            entry: poetry run mypy
            language: system
            types: [python]
            files: ^(renumics|scripts)/
            require_serial: true
          - id: dynamic-versioning
            name: dynamic-versioning
            language: system
            entry: poetry run scripts/check_dynamic_versioning.py
            files: pyproject.toml

    # "official" pre-commit hooks
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
          - id: trailing-whitespace
            exclude: \.secret\.
          - id: end-of-file-fixer
            exclude: \.secret\.
          - id: check-added-large-files
          - id: check-merge-conflict
          - id: check-executables-have-shebangs
          - id: check-yaml
            exclude: (\.secret\.)|(^\.github/.*\.yml)
          - id: check-json
          - id: check-toml
          - id: check-symlinks

    # third-pary hooks
    - repo: https://github.com/psf/black
      rev: 23.1.0
      hooks:
          - id: black
          - id: black-jupyter
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v2.7.1
      hooks:
          - id: prettier
            exclude: (\.secret\.)|(pnpm-lock.yaml)
    - repo: https://github.com/pre-commit/mirrors-eslint
      rev: v8.34.0
      hooks:
          - id: eslint
            files: src
    - repo: https://github.com/python-jsonschema/check-jsonschema
      rev: 0.21.0
      hooks:
          - id: check-github-actions
          - id: check-github-workflows
    - repo: https://github.com/jumanjihouse/pre-commit-hooks
      rev: 3.0.0
      hooks:
          - id: shellcheck
          - id: shfmt
    - repo: https://github.com/kynan/nbstripout
      rev: 0.6.1
      hooks:
          - id: nbstripout

fix: adjust issue styles
  src/widgets/IssuesWidget.tsx
Due: none

feat: show zeroes in confusion matrix
  src/widgets/ConfusionMatrix/Matrix.tsx
Due: none

Update docs
  docs/whitelist.txt
  renumics/spotlight/__init__.py
  renumics/spotlight/analysis/typing.py
  renumics/spotlight/dataset/__init__.py
  renumics/spotlight/dtypes/__init__.py
  renumics/spotlight/layout/__init__.py
  renumics/spotlight/layout/lenses.py
Due: pylint, mypy

Fix data issue typing
  renumics/spotlight/analysis/analyzers/cleanlab.py
  renumics/spotlight/analysis/analyzers/cleanvision.py
  renumics/spotlight/analysis/typing.py
Due: pylint, mypy

:bug: Add resizing context in order to account for different column orders
  src/widgets/DataGrid/Cell/HeaderCell.tsx
  src/widgets/DataGrid/DataGrid.tsx
  src/widgets/DataGrid/HeaderGrid.tsx
  src/widgets/DataGrid/TableGrid.tsx
  src/widgets/DataGrid/context/resizeContext.tsx
Due: none

:rotating_light: Remove unused import
  src/widgets/DataGrid/context/resizeContext.tsx
Due: none

correctly convert pd.CategoricalDType
  renumics/spotlight/io/pandas.py
  renumics/spotlight_plugins/core/pandas_data_source.py
Due: pylint, mypy

Fix pandas infer dtype for ints and bools
  renumics/spotlight/dataset/__init__.py
  renumics/spotlight/io/pandas.py
Due: pylint, mypy

Test Dataset.to_pandas()
  tests/integration/dataset/test_dataset.py
Due: pylint

pre-defined layouts for model debug and comparison
  renumics/spotlight/layouts/__init__.py
  renumics/spotlight/layouts/model_compare.py
  renumics/spotlight/layouts/model_debug.py
Due: pylint, mypy

Update poetry env
  poetry.lock
Due: none

code linting
  renumics/spotlight/layouts/model_compare.py
  renumics/spotlight/layouts/model_debug.py
Due: pylint, mypy

separately handle children of split and root nodes
  renumics/spotlight/layout/__init__.py
Due: pylint, mypy

code linting
  renumics/spotlight/layouts/__init__.py
  renumics/spotlight/layouts/model_compare.py
  renumics/spotlight/layouts/model_debug.py
Due: pylint, mypy

add medium article link
  README.md
Due: none

Use `dtypes.is_x_dtype` everywhere
  renumics/spotlight/dataset/__init__.py
  renumics/spotlight/dataset/descriptors/__init__.py
  renumics/spotlight/dataset/descriptors/data_alignment.py
  renumics/spotlight/dtypes/conversion.py
Due: pylint, mypy

Adjust legacy dtypes usage in dataset
  renumics/spotlight/dataset/__init__.py
Due: pylint, mypy

Use categories from `CategoryDType` in `Dataset.append_column`
  renumics/spotlight/dataset/__init__.py
  tests/integration/dataset/test_dataset.py
Due: pylint, mypy

Temporarily test dev on python 3.10
  .github/workflows/ci.yml
Due: none

Remove debug print
  renumics/spotlight/dataset/__init__.py
Due: pylint, mypy

Remove debug test matrix
  .github/workflows/ci.yml
Due: none

Fix dtype checks in descriptors
  renumics/spotlight/dataset/descriptors/__init__.py
  renumics/spotlight/dataset/descriptors/data_alignment.py
Due: pylint, mypy

docstring added
  renumics/spotlight/layouts/__init__.py
  renumics/spotlight/layouts/model_compare.py
  renumics/spotlight/layouts/model_debug.py
Due: pylint, mypy

Fix `io.pandas.is_string_mask` for empty pandas series
  renumics/spotlight/io/pandas.py
Due: pylint, mypy

cleanup docstrings and dtype usage
  renumics/spotlight/layouts/model_compare.py
  renumics/spotlight/layouts/model_debug.py
Due: pylint, mypy

refactor: move default laoyut to layouts module
  renumics/spotlight/app.py
  renumics/spotlight/layout/default.py
  renumics/spotlight/layouts/__init__.py
  renumics/spotlight/layouts/default.py
Due: pylint, mypy

feat: barebones implementation for huggingface datasource
  renumics/spotlight/app_config.py
  renumics/spotlight/viewer.py
  renumics/spotlight_plugins/core/__init__.py
  renumics/spotlight_plugins/core/huggingface_datasource.py
Due: pylint, mypy

feat: support for additional hf dtypes
  renumics/spotlight_plugins/core/__init__.py
  renumics/spotlight_plugins/core/huggingface_datasource.py
  src/datatypes.ts
  src/stores/dataset/columnFactory.ts
Due: pylint, mypy

url for navigating data issues
  playbook/stories/navigating_data_issues.ipynb
Due: none

add: fine_tune_img
  playbook/stories/fine_tune_img.ipynb
Due: none

Update README.md: image-finte-tuneing-from-bing
  README.md
Due: none

Update README.md
  README.md
Due: none

Use the right pip cache dir
  .github/workflows/ci.yml
Due: none

Debug integration test on Windows and MacOS
  .github/workflows/ci.yml
Due: none

Fix version check in pre-commit hook
  pyproject.toml
  scripts/check_dynamic_versioning.py
Due: pylint, mypy, dynamic-versioning

feat: guess dtypes in data_store
  renumics/spotlight/data_source/data_source.py
  renumics/spotlight/data_store.py
  renumics/spotlight/dataset/__init__.py
  renumics/spotlight/dtypes/__init__.py
  renumics/spotlight/io/pandas.py
  renumics/spotlight_plugins/core/hdf5_data_source.py
  renumics/spotlight_plugins/core/huggingface_datasource.py
  renumics/spotlight_plugins/core/pandas_data_source.py
Due: pylint, mypy

feat: handle slice based access in get_column_values
  renumics/spotlight_plugins/core/huggingface_datasource.py
Due: pylint, mypy

Unpin chromedriver version in CI
  .github/workflows/ci.yml
Due: none
